@font-face {
	font-family: 'ArcherSSm-Bold';
	src: url("../shared/fonts/ArcherSSm-Bold.eot");
	src: url("../shared/fonts/ArcherSSm-Bold.woff") format("woff"), url("./shared/fonts/ArcherSSm-Bold.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Bold.svg#ArcherSSm-Bold") format("svg"), url("./shared/fonts/ArcherSSm-Bold.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-BoldItalic';
	src: url("../shared/fonts/ArcherSSm-BoldItalic.eot");
	src: url("../shared/fonts/ArcherSSm-BoldItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-BoldItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-BoldItalic.svg#ArcherSSm-BoldItalic") format("svg"), url("./shared/fonts/ArcherSSm-BoldItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Book';
	src: url("../shared/fonts/ArcherSSm-Book.eot");
	src: url("../shared/fonts/ArcherSSm-Book.woff") format("woff"), url("./shared/fonts/ArcherSSm-Book.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Book.svg#ArcherSSm-Book") format("svg"), url("./shared/fonts/ArcherSSm-Book.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-BookItalic';
	src: url("../shared/fonts/ArcherSSm-BookItalic.eot");
	src: url("../shared/fonts/ArcherSSm-BookItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-BookItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-BookItalic.svg#ArcherSSm-BookItalic") format("svg"), url("./shared/fonts/ArcherSSm-BookItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Light';
	src: url("../shared/fonts/ArcherSSm-Light.eot");
	src: url("../shared/fonts/ArcherSSm-Light.woff") format("woff"), url("./shared/fonts/ArcherSSm-Light.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Light.svg#ArcherSSm-Light") format("svg"), url("./shared/fonts/ArcherSSm-Light.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-LightItalic';
	src: url("../shared/fonts/ArcherSSm-LightItalic.eot");
	src: url("../shared/fonts/ArcherSSm-LightItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-LightItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-LightItalic.svg#ArcherSSm-LightItalic") format("svg"), url("./shared/fonts/ArcherSSm-LightItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Medium';
	src: url("../shared/fonts/ArcherSSm-Medium.eot");
	src: url("../shared/fonts/ArcherSSm-Medium.woff") format("woff"), url("./shared/fonts/ArcherSSm-Medium.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Medium.svg#ArcherSSm-Medium") format("svg"), url("./shared/fonts/ArcherSSm-Medium.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-MediumItalic';
	src: url("../shared/fonts/ArcherSSm-MediumItalic.eot");
	src: url("../shared/fonts/ArcherSSm-MediumItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-MediumItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-MediumItalic.svg#ArcherSSm-MediumItalic") format("svg"), url("./shared/fonts/ArcherSSm-MediumItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Semibold';
	src: url("../shared/fonts/ArcherSSm-Semibold.eot");
	src: url("../shared/fonts/ArcherSSm-Semibold.woff") format("woff"), url("./shared/fonts/ArcherSSm-Semibold.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Semibold.svg#ArcherSSm-Semibold") format("svg"), url("./shared/fonts/ArcherSSm-Semibold.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-SemiboldItalic';
	src: url("../shared/fonts/ArcherSSm-SemiboldItalic.eot");
	src: url("../shared/fonts/ArcherSSm-SemiboldItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-SemiboldItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-SemiboldItalic.svg#ArcherSSm-SemiboldItalic") format("svg"), url("./shared/fonts/ArcherSSm-SemiboldItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}
*, *:before, *:after {box-sizing: border-box;}
body {
	font-family:'archerBook',tahoma,arial,sans-serif;
	background-color:#f0f0f0;
	font-color:#272123;
	font-size:16px;
	font-weight:200;
	letter-spacing:.025em;
	margin:0 auto;
}
h1, h2, h3, h4 {
	font-weight:500;
	color:#000;
}
strong {font-weight:600;}
a {text-decoration:none;color:#f98e2b;}
button {cursor:pointer;}
li, p, .custom .breadcrumbs {color: #000!important;}
.shiftnav-wrap {padding-top:0px!important;}
.accurascope-lp {
	max-width:1024px;
	margin:0 auto;
}
header {
	width:100%;
	max-width:1024px;
	margin:0 auto;
	padding-top:23px;
	background-color:#fff;
}
header .desktop {height:80px;width:1024px;}
header img {
	padding:5px 30px 5px 30px;
}
header .logo {
    float: left;
    width: 50%;
	display:inline-block;
	background:#fff;
}
header .call-us {
    float: right;
    width: 50%;
	display:inline-block;
	text-align:right;
}
header .call-us .call-us-content {
	background: rgba(0, 0, 0, 0) url("/assets/phone-icon-orange.png") no-repeat scroll 0 0;
	width:200px;
	text-align:left;
	padding-left:34px;
	float:right;
	margin-top:10px;
}
header .call-us .call-us-content a {
	font-weight:500;
	font-size:19px;
}
header .call-us .call-us-content span.num {
	color:#f98e2b;
	font-weight:500;
	font-size:19px;
	height:auto;
}
header .call-us .call-us-content span.talk {
	color: #00396d;
	font-weight: 700;
	font-size: 13px;
}
.mtca3-masthead-wrapper {
    background: rgba(0, 0, 0, 0) url("/assets/hp-header-masthead-bg.jpg") no-repeat scroll 0 0;
    color: #6c6f70;
    height: 129px;
    line-height: 26px;
    position: relative;
    right: -156px;
    width: 354px;
}
#mtca3-text {
    left: 18px;
    position: absolute;
    top: 6px;
}
#mtca3-text button {
    background-color: #e55200;
    border: 1px solid #b94300;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: -7px;
    padding: 6px;
	margin-top:14px;
}
#mtca3_header_contact {
    display: block;
    font-family: Calibri,"Trebuchet MS",Helvetica,arial,sans-serif;
    font-size: 10pt;
    line-height: 15px;
    margin: 14px 0 0 2px;
    position: relative;
    text-align: left;
}
#mtca3-header-phone {
    color: #55b7b3;
    font-size: 25px;
    left: 30px;
    position: relative;
}
#mtca3-paragraph {
    display: block;
    margin-left: -7px;
    position: relative;
    top: 10px;
}
.hero {
	max-width:1024px;
	margin:0 auto;
	background-image: url('./img/hero-desktop.png'); 
	background-size:100%;
	background-repeat:no-repeat;
	height: 349px; 
	position:relative;
}
.hero .small-testimonial {
    position: absolute;
    right: 0px;
    text-align: center;
    top: 165px;
    width: 265px;
	height:74px;
}
.hero .small-testimonial p {
	color:#fff!important;
	font-weight:400;
	font-size:11px;
	line-height:17px;
	line-height:auto;
	width:225px;
	text-align:right;
	margin-left:33px;
}
.hero .small-testimonial p em {font-weight:300;}
.hero .hero-txt {
	bottom: 0px; 
	background-color: #363636; 
	display: inline-block; 
	position: absolute; 
	padding: 0px; 
	margin: auto 0px; 
	width:100%;
	height:95px;
}
.hero .hero-txt h1 {
	color:#fff;
	padding:16px 0 0px;
	margin:0 20px 0 50px;
	max-width:450px;
	font-size:25px;
	line-height:27px;
	font-weight:600;
}
.hero .hero-txt p {
	color:#fff!important;
	padding:0px 0 20px;
	margin:20px 20px 0 50px;
	font-weight:400;
	font-size:15px;
	line-height:24px;
	max-width:900px;
	text-align:center;
}
.hero img.desktop {
	width:100%;
}
.hero img.mobile {
	display:none;
}
.body-section .callnowimg {
    display: block;
    height: auto;
    width: 400px;
}
.body-section .form {
	background-color:#54b7b2;
}
.body-section .form h2 {
	text-align:center;
	font-size:22px;
	font-weight:200;
	padding:0 40px;
	margin:20px 0 0;
	width:100%;
}
.body-section .form form {padding:5px 40px 30px;}
.mkto-form form label {
    display: block;
    font-weight: 200;
    margin-top: 12px;
}
.mkto-form .spacer {
    margin: 15px 4px;
	text-align:left;
	width:50%;
}
.mkto-form .spacer span {
	text-align:left;
	font-size:10px;
	display:block;
	float:left;
}
.mkto-form input, select, textarea {
    border: medium none;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 10px 8px;
    width: 210px;
}
.mkto-form select {
	width:226px;
	padding:8px 4px;
}
.mkto-form #State {
	width:100%;
}
.mkto-form select option {
}
input[type="checkbox"], input[type="image"], input[type="radio"] {
    width: auto!important;
	margin:0;
}
.mkto-form {padding:20px 20px;}
.mkto-form .spacer {
    display: inline-block;
	float:left;
    font-size: 10px;
    font-weight: normal;
	margin:0;
	width:230px;
}
.mkto-form label.disclaimer {
    display: inline-block;
	float:left;
    font-size: 10px;
    font-weight: normal;
	margin:0;
	width:230px;
}
.mkto-form button {
	background-color: #d8862a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}important;

.body-section .form p {
	padding:0 30px 40px;
	margin:0;
	font-size:13px;
}
.bodycopy {
	background-color:#555;
	width:100%;
	margin-top:10px solid #4c4c4c;
	color:#fff;
}
.contactustoday ul {
	list-item-type:none;
	padding:0;
	margin-top:20px;
}
.contactustoday ul li {
	display:inline-block;
	vertical-align:top;
}
.contactustoday ul li button {
	height:50px;
	width:100%;
	width:220px;
	text-align:center;
	color:#fff;
	background-color:#014c86;
	border-left:0;
	border-right:0;
	border-top:2px solid #2b699a;
	border-bottom: 2px solid #dbdada;
	margin-bottom:10px;
	font-size:14px;
}
.contactustoday button {
	background-color: #e55200;
	border: 1px solid #b94300;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	padding:0 14px;
}
.body-section {
	background-color:#fff;
	color:#000;
	max-width: 1024px;
}
.body-section ul {
	margin:0;
	padding:0;
}
.testimonials-section h2 {font-size:22px;font-weight:500;text-align:center;color:#80a1b6;}
.testimonials-section .section {
	display: inline-block;
    padding: 40px 10px 30px 10px;
    text-align: center;
    vertical-align: top;
    width: 33%;
}
.body-section img.icon {
	text-align:center;
	height:37px;
	width:auto;
}
.testimonials-section h3 {
	font-size:15px;
	margin-bottom:0;
	color:#fff;
	padding: 0 50px;
	line-height:23px;
}
.body-section p {
	text-align:center;
	font-size:14px;
	margin-top:0;
	padding-top:0;
	color:#fff;
}
.body-section .bullets ul.precision { padding-left:0px; list-style:none; list-style-position:outside; padding:0; font-size:15px; }
.body-section .bullets ul.precision li { float:left;padding:4px 10px 20px; width:100%;}
.body-section .bullets ul.precision li:before {    
	font-family: 'FontAwesome';
	content: '\f00c';
	margin:0 5px 0 -10px;
	float:left;
	width:5%;
	color:#00396d;
}
.body-section .bullets ul.precision li span {
	display:block;
	float:left;
	max-width:400px;
	text-align:left;
	color:#00396d;
	line-height:22px;
}
.contactustoday {
	background-color:#fff;
	position:relative;
	width:1024px;
	height:auto;
	float:left;
	padding:40px 0;
}
.contactustoday p {
	text-align:left;
	width:50%;
	float:left;
	margin-left:80px;
	font-size:16px;
	line-height:22px;
}
.contactustoday .contactustoday-content a.desktop {float:right;margin: 10px 80px 0 0;}
.contactustoday button {}
.modules {float:left;position:relative;}
.quote {position:relative;float:left;background: #e3e7d5 url("./img/bg-texture.png") repeat scroll 0 0;width:100%;text-align:center;padding:80px 0 60px;}
.quote p {max-width:740px;margin:0 auto;padding:20px 10px 20px;font-weight:500;}
.quote p em {font-weight:300;}
.calltoday {
	background-color:#fff;
	text-align:center;
	color:#000;
	font-size:14px;
	clear:both;
	min-height:180px;
	padding:20px 0;
}
.calltoday .col-sm-6 {float:left;width:50%;display:inline-block;}
.calltoday .col-sm-12 {float:left;width:100%;display:inline-block;margin-bottom:10px;}
.calltoday h3 {font-size:20px;padding:30px 10px 5px;margin:0 auto;}
.calltoday h4 {font-size:20px;padding:0px 10px 30px;margin:0 auto;color:#e55200;font-weight:500;}
.calltoday p {max-width:750px;margin:0 auto;padding:0 10px;}
.calltoday a {color:#e55200;}
.omega-procedure {width:100%;max-width:1024px;background-color:#fff;}
.omega-procedure .desktop {width:100%;float:left;}
.omega-procedure img {width:100%;height:auto;float:left;}
.modules.section-two ul li {background-color:#634f4e;border-top:8px solid #5e4746;}
.modules.section-two ul li {} 
.modules.section-two ul li p {color:#d1ddb9!important;margin:0 auto;width:200px;text-align:left;padding:20px 0px 20px 60px;font-size:24px;line-height:30px;}
.modules.section-two ul li p a {color:#d1ddb9!important;font-weight:600;}
.modules.section-two ul li:first-child p {background: url("/assets/call-icon-green.png") no-repeat scroll 0 0;background-position:0px 30px;}
.modules.section-two ul li:last-child p {background: url("/assets/question-icon-green.png") no-repeat scroll 0 0;background-position:0px 30px;}
footer {
	background-color:#fff;
	text-align:center;
	color:#000;
	font-size:14px;
	clear:both;
	min-height:180px;
	padding:20px 0;
}
footer .col-sm-6 {float:left;width:50%;display:inline-block;}
footer .col-sm-12 {float:left;width:100%;display:inline-block;margin-bottom:10px;}
footer h3 {font-size:16px;padding:30px 10px 5px;margin:0 auto;font-weight:700;line-height:22px;}
footer h4 {font-size:16px;padding:20px 10px 6px;margin:0 auto;font-weight:500;line-height:22px;}
footer p {font-size:12px;max-width:920px;margin:0 auto;padding:6px 10px;}
footer strong {font-weight:500;}
#fancybox-wrap {
    box-sizing: content-box;
    display: none;
    left: 0;
    outline: 0 none;
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: 11101;
	max-width:400px;
}
#fancybox-wrap div {
    box-sizing: content-box;
	max-width:400px;
	text-align:center;
}
#fancybox-outer {
    background-color: #fff;
}
#fancybox-outer {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: relative;
    width: 100%;
}
#fancybox-content {
    border-color: #fff;
	border-radius:8px;
}
#fancybox-content {
    background: #fff none repeat scroll 0 0 padding-box;
    border: 0 solid #fff;
    height: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 0;
    z-index: 11102;
}
#fancybox-content input, #fancybox-content select, #fancybox-content textarea {
	border:1px solid #999;
	border-radius:4px;
	width:100%;
	margin:5px 0;
}
#fancybox-content input#acceptedPrivacyPolicy_1139 {
	width:auto;
}
#fancybox-content .spacer {width:100%;}
#fancybox-content .mkto-form label {text-align:left;}
#fancybox-content .mkto-form label.disclaimer {width:100%;}
#fancybox-content .mkto-form button {padding:10px 8px;border:0px;background-color:#f98e2b;border-radius:4px;margin:20px auto 0;min-width:200px;}
.popform-title {
    background: #db7006 none repeat scroll 0 0;
    border-radius: 6px 6px 0 0;
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 20px 10px 0;
    text-align: center;
}
.popform #field_1_24 {padding:0;}
.popform #field_1_6 textarea#input_1_6 {height:60px;width:99%;}
body .popform .gform_wrapper label.gfield_label + div.ginput_container {margin-top:0;}
#fancybox-wrap div {
    box-sizing: content-box;
}
.popform {
    background: #cccccc none repeat scroll 0 0;
    border-radius: 0 0 6px 6px;
    padding: 0 15px 10px;
}
/* DispletPop Overrides */
#displetpop .mkto-form {padding:0;}
#displetpop .mkto-form .spacer {width:100%;}
#displetpop span.required {display:none;}

/* Start Modal PopUps */
.modal .modal-dialog {width:100%;max-width:400px;top:70px;margin:20px auto 0;}
.modal .modal-header {background:#f98e2b none repeat scroll 0 0;border-radius:6px 6px 0 0;color:#fff;font-size:25px;margin:0;padding:20px 10px;text-align:center;}
.modal .modal-header h4 {color:#fff;font-weight:500;}
.modal .modal-body {background-color:#cccccc;padding:20px 20px 0;float:left;}
.modal .modal-content {border:10px solid #fff;}
.modal label{width:100%;font-weight:300;margin-bottom:2px;margin-top:5px;}
.modal input,.modal select,.modal text-area{width:100%;border:1px solid #fff;font-size:13px;font-weight:300;padding:8px;margin-bottom:10px;border-radius:4px;}
.modal select {padding:8px 4px;color:#999;height:36px;background-color:#fff;-moz-appearance: none; -webkit-appearance: none; appearance: none;}
.modal input[type="checkbox"],.modal input[type="image"],.modal input[type="radio"]{width:auto!important;}
.modal input#FirstName {width:48%;margin-right:1%;}
.modal input#LastName {width:48%;margin-left:1%;}
.modal input#City {width:48%;margin-right:1%;}
.modal select#State {width:48%;margin-left:1%;}
.modal select#Country {width:48%;margin-right:1%;}
.modal input#PostalCode {width:48%;margin-left:1%;}
.modal#myModal2 input#PostalCode {width:100%;margin-left:0;}
.modal#myModal1 .USstateshow2 select#State {width:100%;margin:0 0 10px 0;}
.modal#myModal2 select#State {width:100%;margin:0 0 10px 0;}
.modal label.disclaimer.privacycheckbox{display:inline;font-size:10px;font-weight:normal;float:left;margin:0px 0 10px;height:16px!important;}
.modal .spacer{margin:0px 0 5px;}
.modal button{background-color:#1f3e6c;border:0;color:#fff;display:block;font-size:14px;height:50px;margin:0 auto;text-align:center;width:240px;text-transform:uppercase;border-radius:6px;}
.modal div{box-sizing:content-box;}
.modal .popform{background:#cccccc none repeat scroll 0 0;border-radius:0 0 6px 6px;padding:15px;}
.modal .modal-footer {border-top:0;background-color:#cccccc;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;padding:10px;}
.modal-header .close {float: right;margin-top:0px!important;}
.modal .mkto-form .spacer {width:100%;}
.modal .mkto-form .spacer label {width:100%;}

/* Factssection */
.factssection {background-color:#707070;float:left;width:100%;}
.factssection .section {
	display: inline-block;
    padding: 40px 10px 40px 10px;
    text-align: center;
    vertical-align: top;
    width: 300px;
}
.body-section .factssection .section:first-child ul li {
    margin: 0 0 0 15px;
}

/* Form */
.nasform {padding: 0px; margin:0; width:100%;}
.nasform form {padding:20px 20px 10px;}
.nasform form .form-group {width:48%; margin:0 1% 15px 1%; display:inline-block;}
.nasform form .form-group.left {float:left;}
.nasform form .form-group.right {float:right;}
.nasform form .form-group.full {width:100%; margin-bottom:0;float:left;}
.nasform form input, select, textarea {border: medium none;font-size: 12px; font-weight: 300; margin: 0px; padding: 10px 8px;width:90%;border-radius:4px;}
.nasform form input#acceptedPrivacyPolicy_1334 {width:auto;}
.nasform form select {padding:0 5px;width:90%;height:35px;line-height:35px;font-size:12px!important;-webkit-appearance:none;}
.nasform form select#State {margin-bottom:15px;margin-left:-10px;width:93%;background-color:#fff;}
.nasform form .form-group .privacypolicy {text-align:left;margin-left:12px;}
.nasform form .form-group .privacypolicy label {width:auto; float:left; margin:0 5px 0 0; padding:0; font-size:10px; line-height:12px;}
.nasform form .form-group span.medicare {width:auto; float:left; margin:0 5px 0 12px; padding:0; font-size:10px; line-height:12px;text-align:left;}
.nasform form .form-group .privacypolicy span {font-size:10px; line-height:12px; display:inline-block!important;text-align:left;float:left;margin:0!important;width:90%;}
.nasform form .form-group.full.mobile .medicare {margin-bottom:15px;}
.nasform form .form-group.full.submit {text-align:center;margin-bottom:20px;}
.nasform form .form-group button[type="submit"] {background-color: #f98e2b; color: #fff; font-size: 16px; font-weight: 300; margin-top: 0px; padding:10px 20px;border:0;border-radius:6px;}
.nasform .mobile {display:none!important;}
.nasform .desktop {display:block!important;}

@media only screen and (max-width:640px) {
	.nasform {width:100%;}
	.nasform form .form-group {width:100%;}
	.nasform form .form-group.left {float:left; margin:0 0 15px;}
	.nasform form .form-group.right {float:left; margin:0 0 15px;}
	.nasform form select {width:90%}
	.nasform .desktop {display:none!important;}
	.nasform .mobile {display:block!important;}
	.nasform form .form-group .privacypolicy{margin:0 auto;width:260px;}
	.nasform form .form-group span.medicare{margin:0 auto 15px!important;width:300px;float:none;}
	.nasform form select#State {margin-bottom:15px;margin-left:-10px;width:90%;}
}
@media only screen and (max-width:480px) {
	.nasform form select {width:90%;}
	.nasform form select#State {margin-bottom:15px;margin-left:-8px;width:90%;}
}

/* Form Validation */
.gform_wrapper div.validation_error {display:none!important;}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {background-color:transparent;border:0;}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required {margin-bottom: 0!important;margin-top: 0!important;}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {display: none!important;}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {margin-left: 0!important;}
li.gfield_error input, li.gfield_error select, li.gfield_error textarea {border: #CD2124 solid 1px!important;background: #EDB3B4;}
.gform_wrapper .top_label .gfield_error {width:100%;}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield_html {max-width: 100%;}
/* Fixed-nav-bar */
.fixed-nav-bar {
  position: fixed;
  margin-top: -70px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.fixed-nav-bar-content {
  margin:0 auto;
  max-width:1024px;
}
.fixed-nav-bar-content .logo {float:left;text-align:left;width:50%;background:#fff;}
.fixed-nav-bar-content .logo img {height:45px;margin-top:15px;margin-left:10px;}
.fixed-nav-bar-content .call-us {float:right;text-align:right;width:50%;}
.fixed-nav-bar-content .call-us img {height:40px;margin-top:15px;margin-right:10px;}
.fixed-nav-bar-content .call-us div {background-color:#fff;margin-right:10px;width:400px;height:70px;margin-left:58px;}
.fixed-nav-bar-content .call-us div h2{text-align:center;padding:1px 0 0;margin:0;font-weight:600;font-size:21px;line-height:22px;}
.fixed-nav-bar-content .call-us div h3{text-align:center;padding:0;margin:0;font-size:14px;line-height:18px;}
.fixed-nav-bar-content .call-us div h3 a {color:#000;}
.fixed-nav-bar.main-nav-scrolled {
  top:70px;-webkit-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
 }
 .fixed-nav-bar-content .call-us.desktop div {margin-right:0px;}
 .fixed-nav-bar-content .call-us.desktop .call-us-content {background: rgba(0, 0, 0, 0) url("/assets/phone-icon-orange.png") no-repeat scroll 0 0; width:200px; text-align:left; padding-left:34px; float:right; margin-top:13px;}
.fixed-nav-bar-content .call-us.desktop .call-us-content a {font-weight:500; font-size:19px;}
.fixed-nav-bar-content .call-us.desktop .call-us-content span {color:#00396d;font-weight:700;font-size:13px;}
 
 /* Popup forms */
 #fancybox-outer {border-radius:6px;}
 #fancybox-outer .popform {background:#fff;}
 #fancybox-outer .popform-title{background:#fff none repeat scroll 0 0;}
 #fancybox-outer p.popform-title {color:#003a70!important;font-weight:500;font-size:19px;}
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_left_half input.large, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_left_half input.medium, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_left_half select.large, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_left_half select.medium, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_right_half input.large, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_right_half input.medium, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_right_half select.large, 
 #fancybox-outer .gform_wrapper .top_label li.gfield.gf_right_half select.medium, 
 #fancybox-outer .gform_wrapper input,
 #fancybox-outer .gform_wrapper select,
 #fancybox-outer .gform_wrapper textarea
 {
	 border:1px solid #54b7b2;
	 border-radius:6px;
 }
 .gform_wrapper .top_label .gfield_label {font-weight:400!important;}
 #fancybox-outer input#gform_submit_button_1 {
	    color: #fff;
    	height: 40px;
    	text-align: center;
		border: 1px solid #b94300;
		border-radius:4px;
		margin: 0px auto 0;
		font-size:18px;
		display:block;
		background-color: #e55200;
		padding:0 14px;
		width:auto;}
#fancybox-close {width:29px!important;}
#fancybox .gform_wrapper .gfield_required {display:none!important;}
#fancybox .gform_wrapper ul li.gfield#field_57_29 {
    border: 1px solid blue;
    clear: both;
    display: inline-block;
    float: left;
    position: relative;
    width: 49%;
}
#fancybox .gform_wrapper label.gfield_label + div.ginput_container {
    border: 1px solid red;
    display: inline-block;
    float: left;
    margin-top: 0.375em;
    width: 100%;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
    width: 100%!important;
}
textarea#input_57_6 {height:40px;}
#field_57_24 .gfield_required {display:none;}
#field_58_21 .gfield_required {display:none;}
#field_1_24 .gfield_required {display:none;}

/* Form Styles for Form ID #50 */
#gform_wrapper_50.gform_wrapper form {padding:0 20px;text-align:left;}
#gform_wrapper_50.gform_wrapper ul {list-style-type:none;margin:0 !important;}
#gform_wrapper_50.gform_wrapper input,
#gform_wrapper_50.gform_wrapper select,
#gform_wrapper_50.gform_wrapper textarea {border:0;border-radius:4px;opacity:0.8;color:#000;font-size:13px;font-weight:500;height:30px;line-height:30px;}
#gform_wrapper_50.gform_wrapper li#field_50_12 label,
#gform_wrapper_50.gform_wrapper li#field_50_13 label,
#gform_wrapper_50.gform_wrapper li#field_50_29 label,
#gform_wrapper_50.gform_wrapper li#field_50_3 label,
#gform_wrapper_50.gform_wrapper li#field_50_28 label,
#gform_wrapper_50.gform_wrapper li#field_50_25 label,
#gform_wrapper_50.gform_wrapper li#field_50_30 label {
	display:none;
}
#gform_wrapper_50.gform_wrapper li.gfield.gfield_error, 
#gform_wrapper_50.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {background-color:transparent!important;border:0!important;}
#gform_wrapper_50.gform_wrapper li.gfield.gfield_error, 
#gform_wrapper_50.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent!important;
    border-bottom: 0!important;
    border-top: 0!important;
    margin-bottom: 0!important;
    padding: 0;
}
#gform_wrapper_50.gform_wrapper #gform_submit_button_50 {
	color: #fff;
    height: 40px;
    text-align: center;
	border: 1px solid #b94300;
	border-radius:4px;
	margin: 0px auto 0;
	font-size:18px;
	display:block;
	background-color: #e55200;
	padding:0 14px;
	width:auto;
}
#gform_wrapper_50.gform_wrapper #field_50_24 > label {
	display:none;
}
#gform_wrapper_62.gform_wrapper .submit_button_62 {
	color: #fff;
    height: 40px;
    text-align: center;
	border: 1px solid #b94300;
	border-radius:4px;
	margin: 0px auto 0;
	font-size:18px;
	display:block;
	background-color: #e55200;
	padding:0 14px;
	width:auto;
}
#gform_wrapper_62.gform_wrapper #field_62_24 > label {
	display:none;
}
#gform_wrapper_50.gform_wrapper .gform_footer {
    clear: both;
    margin: 0 0 0;
    padding: 0 0 0.625em;
	width:100%;
}


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width:1024px) {
	header .call-us .call-us-content {margin-right:30px;}
	.tagline {background-color:#808080;width:100%;float:none;margin:0 auto;padding:0;}
	.tagline p {text-align:left;padding:4px 28px;color:#fff!important;margin:0;}
	.body-section {
		width:1024px;
		margin:0 auto;
		height: auto;
	}
	.body-section .form {
    	margin-left:570px;
		position:absolute;
		width:400px;
		top:0;
	}
	.bullets ul {
		width:500px;
		padding: 20px 5px 20px 20px;
		list-style-type:none;
	}
	.bullets ul li {
		text-align:left;
		padding:10px 20px;
	}
	.bullets {padding:10px 0px 30px 40px;min-height:331px;overflow:hidden;max-width:465px;}
	.bullets h2 {text-align:left;font-weight:600;font-size:18px;color:#00396d;}
	.bullets p {
		margin:0;
		padding:0;
		text-align:left;
	}
	.form .gform_wrapper #field_56_1 {width:47%;float:left;position:relative;display:inline-block;}
	.form .gform_wrapper #field_56_2 {width:47%;float:left;position:relative;display:inline-block;margin-left:3%;}
	.video-blurb {width:100%;background-color:#fff;float:left;}
	.video-blurb h3 {color:#00396d;text-align:center;font-size:20px;font-weight:700;margin-top:40px;margin-bottom:20px;}
	.video-blurb p {color: #000 !important; font-size: 17px; font-weight: 500; line-height: 26px; padding: 0px 60px 20px;}
	.video-blurb p a {color:#f98e2b;font-weight:600;}
	.testimonials-section a {
		width:100%;
		text-decoration:none;
	}
	.testimonials-section button {
    	background-color: #d8862a;
    	border-top: 2px solid #efa653;
    	border-style: solid none;
    	color: #fff;
    	height: 50px;
    	text-align: center;
    	width: 320px;
		border-bottom: 2px solid #4d4c4d;
		margin-top:0px;
		margin-bottom:40px;
		font-size:16px;
		margin:0 auto;
		display:block;
	}
	.mobile {display:none;}
	.tablet {display:none;}
	.desktop {display:inline-block;}
	.testimonials-section {
		background: #00396d url("./img/nas-background.jpg") repeat-x scroll 0 0;
    	color: #fff;
    	display: block;
		float:left;
		width:100%;
	}
	.testimonials-section ul {
		padding:0 10px;
	}
	.testimonials-section .section {width:32%; padding:10px 0 60px;}
	.testimonials-section .section.section1 {
		padding-left:0px;
	}
	.testimonials-section h1 {
		color: #fff;
		font-size: 22px;
		font-weight: 500;
		text-align: center;
		padding:40px 0 30px;
	}
	.testimonials-section .section .section h2 {color:#80a1b6;float:left;width:100%;text-align:center;margin-top:10px;margin-bottom:0px;padding:30px 0 0;}
	.testimonials-section .section .section h3 {color:#fff;float:none;width:100%;max-width:260px;margin:10px auto 0;text-align:center;}
	.modules {
		width: 1024px;
		text-align:center;
		position:relative;
	}
	.modules ul {
		list-item-type:none;
	}
	.modules > ul > li {
		display:inline-block;
		float:left;
		padding:0px;
		width:49.6%;
	}
	.modules.section-one > ul > li > ul > li {margin-bottom:10px;}
	.modules.section-two > ul > li > ul > li {margin-bottom:0px;}
	.modules ul li:first-child {
		background-size: 100% auto;
		margin-right:0.8%;
	}
	.modules ul li span {
		text-decoration:none;
		display:inline-block;
		position:relative;
		text-align:center;
	}
	.modules ul li img {
		width:100%;
		height:auto;
	}
	.body-section .bullets ul.precision li {max-width:440px;}
	.modules ul li:last-child {
	}
	.modules.section-one > ul > li:first-child {
		background-color:#e6e6e7;
		min-height:375px;
	}
	.modules.section-one > ul > li:last-child {
		background-color:#e6e6e7;
		min-height:375px;
	}
	.modules.section-one > ul > li:first-child h2 {background-color:#f98e2b;color:#fff;font-size:18px;font-weight:300;margin:0;padding:12px;}
	footer .stillhavequestions span {font-size:20px;}
	
	/* Form Styles for Form ID #50 */
	.gform_wrapper .left_label input.medium, .gform_wrapper .left_label select.medium, .gform_wrapper .right_label input.medium, .gform_wrapper .right_label select.medium {
		width: 100%!important;
	}
	#gform_wrapper_50.gform_wrapper {width:100%;max-width:100%;}
	#gform_wrapper_50.gform_wrapper #field_50_12,
	#gform_wrapper_50.gform_wrapper #field_50_29,
	#gform_wrapper_50.gform_wrapper #field_50_25,
	#gform_wrapper_50.gform_wrapper #field_50_30 {
		display: inline-block;
    	position: relative;
    	width: 220px;
	}
	#gform_wrapper_50.gform_wrapper #field_50_13,
	#gform_wrapper_50.gform_wrapper #field_50_3,
	#gform_wrapper_50.gform_wrapper #field_50_28,
	#gform_wrapper_50.gform_wrapper #field_50_31 {
		display: inline-block;
		position: relative;
		width: 230px;
		float:right;
	}
	#gform_wrapper_50.gform_wrapper #field_50_31 {padding-top:0;margin-top:5px;margin-left:0!important;}
	#gform_wrapper_50.gform_wrapper #field_50_31 span {font-size:11px;line-height:1.5;text-align:left;font-weight:500;}
	#gform_wrapper_50.gform_wrapper input, #gform_wrapper_50.gform_wrapper select option, #gform_wrapper_50.gform_wrapper textarea {
		font-size:12px;
		font-weight:500;
		height:20px;
		line-height:20px;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
	}
	#gform_wrapper_50.gform_wrapper .gfield_description,
	#gform_wrapper_50.gform_wrapper label {font-size:11px; font-family: tahoma;width:100%;margin-left:0;}
	#field_50_24 {width:210px;}
	#field_50_27 .gfield_description,
	#field_50_28 .gfield_label {display:none;}
	#field_50_4 .ginput_container_phone .instruction.validation_message {display:none;}
	#gform_wrapper_50.gform_wrapper  #choice_60_24_1 {margin:0;}
	.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked + label, .gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label {font-weight: 500!important;}
	#gform_wrapper_50.gform_wrapper #label_50_25_1 {display:block!important;}
	
	/* factssection */
	.factssection {
		color: #fff;
	}
	.factssection .section.section1 {
		padding-left: 30px;
	}
	
	.factssection ul {
    	padding: 0 50px;
		margin:0;
	}
	.body-section .factssection .section:first-child ul li {
		margin: 0 0 0 15px;
		color:#fff;
	}
	.factssection ul li {
		font-size: 14px;
		padding-bottom:6px;
		text-align: left;
		color:#fff!important;
		list-style-type: inherit;
	}
	.factssection h3 {color:#fff;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { select { -webkit-appearance: menulist-button; } }

@media only screen and (max-width:1023px) {
	.mobile {display:none;}
	.tablet {display:inline-block;}
	.desktop {display:none;}
	.mobile.tablet {display:inline-block;}
	.call-us.mobile a {width:auto!important;}
	.call-us.mobile a img {width:100%;height:auto;max-width:450px;}
	.accurascope-lp {
		top:0;
	}
	header {
		width: 100%;
		max-width:640px;
		margin:0 auto;
		text-align:center;
		height:225px;
		padding-top:0;
		padding-bottom:5px;
	}
	header > img {
		float:left;
		width:50%;
	}
	header .logo {text-align:left;}
	header .logo img {padding:5px 0 5px 10px;}
	header .call-us {text-align:right;}
	header .call-us img {padding:5px 20px 5px 0;}
	header .tablet {width:100%;overflow:hidden;}
	header .tablet .logo {float:left; width:50%;height:153px;}
	header .tablet .logo img {width:auto;height:79px;padding:20px 0 10px 30px;}
	header .tablet .call-us {float:left;height:153px;}
	header .tablet .call-us a {display:block;text-align:right;}
	header .tablet .call-us a img {height:51px;width:auto;margin-top:30px;margin-right:10px;}
	.tagline {display:none;}
	.bullets {}
	.bullets h2 {color:#00396d;text-align:center;font-size:18px;font-weight:600;padding:0 20px;margin:40px 0 20px;line-height:28px;}
	.bullets ul {}
	.bullets ul li:last-child {margin-bottom:30px!important;}
	.hero {
		max-width:640px;
		margin:0 auto;
		background-image: none;
		height:auto;
		float:none;
		width:100%;
	}
	.hero .hero-txt {
		background-image: url("./img/blurry-image-mobile.jpg");
		background-size:100% 100%;
		height:125px;
	}
	.hero .hero-txt h1 {
		font-size:28px;
		margin:0 auto;
		position:relative;
		text-align:center;
	}
	.hero .hero-txt p {
		text-align:center;
		margin:0 auto;
		padding:15px 10% 30px;
		font-size:16px;
	}
	.hero img.desktop {
		display:none;
	}
	.hero img.mobile {
		display:inline-block;
		width:100%;
	}
	.body-section {
		max-width:640px;
		margin:0 auto;
	}
	.body-section ul {
		padding: 0px!important;
	}
	.body-section p {
		padding:30px 20px 30px;
		margin-bottom:0px;
		font-size:15px;
		font-weight:500;
		color:#634f4e !important;
	}
	.body-section .form {
		max-width:640px;
		margin: 0 auto;
	}
	.body-section .form h2 {
		padding: 30px 10% 0;
		margin:0 auto;
		width:80%;
		font-size:27px;
	}
	.body-section .form p {
		padding:0 80px 40px;
	}
	.body-section .form img {
		width:100%;
		height:auto;
	}
	.body-section .form .call-us.mobile.tablet {width:100%;}
	.body-section .form .call-us.mobile.tablet h3 {margin:30px auto 20px;}
	.body-section ul p {
		padding:20px 40px;
		text-align:left;
	}
	.bodycopy {
		width:100%;
		max-width: 640px;
		margin:0 auto;
		text-align:center;
	}
	.body-section ul {
		list-item-type:disc;
		text-align:left;
		padding:30px;
		margin:0 40px;
	}
	.testimonials-section .section {width:49%;}
	.body-section .testimonials-section ul li {
		float:none;
		max-width:100%;
		padding:0;
		list-style-type:disc;
		text-align:left;
	}
	.body-section .bullets ul.precision {list-style-type:none;margin:10px 30px 20px;}
	.body-section .bullets ul.precision li::before {display:inline;width:10px;float:none;}
	.body-section .bullets ul.precision li {text-align:center;margin-bottom:5px;}
	.body-section .bullets ul.precision li span {display:inline;float:none;}
	
	.body-section .testimonials-section ul {
		margin:0 30%;
	}
	.body-section .testimonials-section .section:first-child ul li {
		margin:0;
	}
	.body-section ul p {
		padding:0;
	}
	.body-section .bullets {background-color:#d7d9da;padding: 0 20px;}
	.body-section .bullets ul p {
		padding:5px 0px;
	}
	.testimonials-section button {
    	background-color: #d38532;
    	border-top: 2px solid #efa653;
    	border-style: solid none;
    	color: #fff;
    	height: 50px;
    	margin-bottom: 10px;
    	text-align: center;
    	width: 250px;
		border-bottom: 2px solid #4d4c4d;
		margin-top:40px;
		font-size:16px;
	}
	.contactustoday {
		display:block;
		background-color:#555;
		width:100%;
		max-width:640px;
		min-height:270px;
		text-align:center;
		margin:0 auto;
	}
	.contactustoday img {
		width:90%;
		max-width:410px;
		padding:0px;
		margin-top:15px;
	}
	.contactustoday ul li button {
		width:180px;
		font-size:14px;
		border-bottom:2px solid #4d4c4d;
	}
	.testimonials-section {
		max-width:640px;
		margin:0 auto;
		padding:0;
		background:#00396d url("./img/nas-background.jpg") repeat-x scroll 0 0;
	}
	.testimonials-section h1 {color:#fff;text-align:center;padding:40px 20px 20px;font-size:20px;margin:0px;}
	.testimonials-section hr {display:none;}
	.testimonials-section .section {
		text-align:center;
		padding: 20px 0;
		background-color:transparent;
		color:#000;
		width: 100%;
	}
	.testimonials-section .section1 {margin-top:20px;}
	.testimonials-section .section3 {margin-bottom:20px;}
	.testimonials-section .section ul {margin:0 10%;}
	.testimonials-section h2 {padding:10px 20px 0;font-size:18px;font-weight:500;}
	.testimonials-section .section p {
		max-width:400px;
		margin:0 auto;
		padding: 0 20px;
		color:#fff;
	}
	.testimonials-section .section p em {color:#fff!important;font-weight:300;float:left;width:100%;margin-top:5px;}
	.testimonials-section a.mobile {
		width:100%;
		text-align:center;
		margin-bottom:20px;
	}
	.testimonials-section .section h3 {max-width:450px;margin:0 auto;}
	.contactustoday {
		background-color:#fff;
		height:auto;
		min-height:40px;	
	}
	.contactustoday .contactustoday-content {padding:0px 40px;text-align:center;}
	.contactustoday p {width:100%;margin:0;padding:0;text-align:center;}
	.contactustoday button {float:none;margin:20px 0 0;display:inline-block;}
	.modules {
		text-align:center;
		margin: 0px auto;
		width:100%;
		max-width:640px;
		height:auto;
	}
	.modules ul {
		list-item-type:none;
		padding:0;
		margin:0;
	}
	.modules ul li {
		display:inline-block;
		float:none;
		padding:0px;
		width:100%;
		height:auto;
	}
	.modules.section-one > ul > li:first-child {
		background-color:#e6e6e7;
		background-size:100% auto;
		border-bottom:0;
		text-align:center;
		min-height:300px;
	}
	.modules.section-one > ul > li:first-child h2 {
    	width:100%;
		background-color:#f98e2b;
		padding:10px 0;
		margin:0;
		color:#fff;
		font-size:20px;
	}
	.modules.section-one > ul > li:last-child {
		display:none;
	}
	.body-section ul p {
    	margin:0 auto;
		text-align:center;
		padding:30px 20px 20px;
	}
	.modules ul li span {
		display: block;
		float: left;
		margin: -20% auto 0;
		position: relative;
		text-decoration: none;
		width: 100%;
	}
	.modules ul li:first-child button {
    	background-color: #e55200;
    	border: 1px solid #b94300;
    	border-radius: 4px;
    	color: #fff;
    	display: block;
    	font-size: 18px;
    	height: 40px;
    	margin: 0 auto;
    	text-align: center;
    	padding:0 14px;
	}
	.modules ul li:last-child {
		background-color: #634f4e;
    	border-top: 8px solid #5e4746;
		margin-top:3px;
	}
	.modules ul li:last-child button {
    	background-color: #e55200;
    	border: 1px solid #b94300;
    	border-radius: 4px;
    	color: #fff;
    	display: block;
    	font-size: 18px;
    	height: 40px;
    	margin: 0 auto;
    	text-align: center;
		padding:0 14px;
	}
	.modules ul li img {
		width:100%;
		height:auto;
		display:block;
		margin:0 auto;
		text-align:center;
	}
	.quote {float:left;position:relative;padding:60px 0;}
	.calltoday {clear:none;}
	.calltoday .col-sm-12 {width:100%;}
	.calltoday p {padding:4px 20px 20px;}
	#shiftnav-toggle-main, #shiftnav-main {display:none!important;}
	.omega-procedure .mobile {display:block;width:100%;}
	.omega-procedure .mobile img {float:left;}
	footer {	
		float:none;
		width:100%;
		height:auto;
		max-width:640px;
		min-height:190px;
		margin:0 auto;
		color:#000;
		border-top:0;
	}
	footer .col-sm-12 {float:none;display:inline-block;width:90%;}
	footer .col-sm-6 {float:none;width:100%;display:inline-block;}
	footer .col-sm-6 .please-note {text-align:center;}
	footer .col-sm-6 ul.legal {margin:20px auto;width:216px;float:none;}
	footer .legal {width:210px; padding: 0 20px; margin:20px auto 0;float:none;}
	footer .stillhavequestions p {
    text-align: center;
	}
	footer .stillhavequestions p img {float:none;margin-bottom:10px;}
	footer .stillhavequestions span {
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
	}
	.form {border-bottom-left-radius:0;border-bottom-right-radius:0;}
	
	/* DispletPop Overrides */
	#displetpop #displetpop-img {display:none;}
	#displetpop .mkto-form {width:100%;}
	
	/* new top-section*/
	header {height:auto;overflow:hidden;}
	header .tablet .logo, header .tablet .call-us {height:auto!important;}
	.hero {margin-top:0px!important;}
	.hero .small-testimonial {display:none;}
	.hero .hero-txt {height:auto!important;position:relative;}
	.hero .hero-txt p {padding:15px 10% 15px!important;}
	/* end new top-section */
	
	/* Fixed Nav Bar */
	.fixed-nav-bar {
	  position: fixed;
	  margin-top: -70px;
	  left: 0;
	  z-index: 9999;
	  width: 100%;
	  height: 70px;
	  background-color: #fff;
	}
	.fixed-nav-bar-content {
	  margin:0 auto;
	  max-width:640px;
	}
	.fixed-nav-bar-content .logo {float:left;text-align:left;width:50%;}
	.fixed-nav-bar-content .logo img {height:55px;margin-top:5px;margin-left:10px;}
	.fixed-nav-bar-content .call-us {float:right;text-align:right;width:50%;}
	.fixed-nav-bar-content .call-us img {height:40px;margin-top:15px;margin-right:10px;}
	.fixed-nav-bar.main-nav-scrolled {
	  top:70px;-webkit-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
	  -moz-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
	  box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
	 }
	 
	 /* Form #50 */
	#gform_wrapper_50.gform_wrapper {width:99%;max-width:99%;}
	 #field_50_34 {display:none;}
	 #field_50_25 ul li.gchoice_50_25_1 {background:none;border:0;}

	  #label_50_24_1, #label_50_24_1 a {font-size:14px;}
	  #field_50_27 .gfield_description {padding:4px 6px 0;}
	  #field_50_28 label.gfield_label {display:none;}
	  #gform_wrapper_50.gform_wrapper {width:100%;max-width:100%;}
	  #gform_wrapper_50.gform_wrapper input, #gform_wrapper_50.gform_wrapper select, #gform_wrapper_50.gform_wrapper textarea {
		  border: 0;
		  color: #000;
		  font-size: 16px;
		  font-weight: 500;
		  height: auto;
		  line-height: 30px;
		  opacity: 0.8;
		  padding: 4px 0;
	  }
	  #gform_wrapper_50.gform_wrapper  #choice_50_25_1 {margin:4px 0;}
	  
	  #gform_wrapper_50.gform_wrapper .left_label input.medium, #gform_wrapper_50.gform_wrapper .left_label select.medium, #gform_wrapper_50.gform_wrapper .right_label input.medium, #gform_wrapper_50.gform_wrapper .right_label select.medium {
	  width:100%!important;font-size:16px;}
	  #gform_wrapper_50.gform_wrapper form ul.left_label li, #gform_wrapper_50.gform_wrapper form ul.right_label li, #gform_wrapper_50.gform_wrapper ul.left_label li, .gform_wrapper ul.right_label li {margin-bottom:0!important;}
	  #gform_wrapper_50.gform_wrapper #field_50_31 {margin-left:0!important;width:100%!important;}
	  #gform_wrapper_50.gform_wrapper #field_50_31 span {margin:0;font-size:12px;}
	  #gform_wrapper_50.gform_wrapper #label_50_25_1 {display:block!important;font-size:12px;}
	  
	/* Factssection */
	.factssection .section {width:300;}
	.factssection .section h3 {color:#fff;}
	.body-section .factssection ul li {
		float:none;
		max-width:100%;
		padding:0;
		list-style-type:disc;
		text-align:left;
		color:#fff!important;
		line-height:22px;
	}
	.body-section p {
		padding:10px 20px 20px;
	}
	.video-blurb h3 {
		color: #00396d;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		margin:40px 20px 0;
	}
	.video-blurb p {padding:10px 20px 40px;}
}
@media only screen and (min-width:641px) and (max-width:1023px) {
	header .tablet .logo img {height:99px;width:auto;}
	.testimonials-section .section {}
	.testimonials-section .section1 {width:50%;float:left;margin-top:0px;}
	.testimonials-section .section2 {width:50%;float:right;}
	.testimonials-section .section3 {width:100%;}
	.factssection .section {width:300px;float:left;padding:40px 10px 20px;}
	.factssection .section3 {width:100%;margin:0 auto;padding:20px 10px 50px;}
	.factssection .section3 ul li {max-width:300px;margin:0 auto;}
}
@media only screen and (max-width:640px) {
	header .tablet .logo img {height:99px;width:auto;}
	header .tablet .call-us a img {height:50px;width:auto;margin-top:30px;}
	.fixed-nav-bar-content .logo img {margin-top:7px;}
	.hero .hero-txt h1 {font-size:22px;}
	.hero .hero-txt p {font-size:15px;padding:15px 30px 30px;}
	.body-section .bullets ul.precision {
    	list-style-type: none;
    	margin: 20px 10%;
	}
	.factssection .section {width:100%;padding:20px 0;}
	.factssection .section ul li {max-width:300px;margin:0 auto;font-size:15px;}
	.body-section .factssection .section:first-child ul li {max-width:300px;margin:0 auto;}
}
@media only screen and (max-width:480px) {
	header .tablet .logo img {height:80px;}
	header .tablet .call-us a img {height:38px;margin-top:28px;}
	.hero .hero-txt h1 {font-size:22px;}
	.hero .hero-txt p {font-size:15px;padding:15px 20px 30px;}
	.fixed-nav-bar-content .call-us img {height:30px;margin-top:20px;}
	
}

.pgform.nas {padding:20px;}
.pgform.nas textarea {max-height:40px;}
.pgform.nas input[class="submit"] {background-color: #f98e2b;color:#fff;}
.pgform.nas .privacypolicy-container label a {color:#f98e2b !important;}
.pgform .half-width {
	width: 49% !important;
}

@media (max-width: 991px) {

	.body-section .pgform.nas input[type="text"],
	.body-section .pgform.nas input[type="email"],
	.body-section .pgform.nas input[type="tel"],
	.body-section .pgform.nas select,
	.body-section .pgform.nas textarea {
		background: white !important;
		background-color: white !important;
		color: black;
	}
	.pgform.nas input[type="text"],
	.pgform.nas input[type="email"],
	.pgform.nas input[type="tel"],
	.pgform.nas select,
	.pgform.nas textarea {
		background: white !important;
		background-color: white !important;
		color: black;
	}
}