@font-face {
 font-family: 'ArcherSSm-Bold';
 src: url("../shared/fonts/ArcherSSm-Bold.eot");
 src: url("../shared/fonts/ArcherSSm-Bold.woff") format("woff"), url("./shared/fonts/ArcherSSm-Bold.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Bold.svg#ArcherSSm-Bold") format("svg"), url("./shared/fonts/ArcherSSm-Bold.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-BoldItalic';
 src: url("../shared/fonts/ArcherSSm-BoldItalic.eot");
 src: url("../shared/fonts/ArcherSSm-BoldItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-BoldItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-BoldItalic.svg#ArcherSSm-BoldItalic") format("svg"), url("./shared/fonts/ArcherSSm-BoldItalic.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-Book';
 src: url("../shared/fonts/ArcherSSm-Book.eot");
 src: url("../shared/fonts/ArcherSSm-Book.woff") format("woff"), url("./shared/fonts/ArcherSSm-Book.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Book.svg#ArcherSSm-Book") format("svg"), url("./shared/fonts/ArcherSSm-Book.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-BookItalic';
 src: url("../shared/fonts/ArcherSSm-BookItalic.eot");
 src: url("../shared/fonts/ArcherSSm-BookItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-BookItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-BookItalic.svg#ArcherSSm-BookItalic") format("svg"), url("./shared/fonts/ArcherSSm-BookItalic.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-Light';
 src: url("../shared/fonts/ArcherSSm-Light.eot");
 src: url("../shared/fonts/ArcherSSm-Light.woff") format("woff"), url("./shared/fonts/ArcherSSm-Light.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Light.svg#ArcherSSm-Light") format("svg"), url("./shared/fonts/ArcherSSm-Light.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-LightItalic';
 src: url("../shared/fonts/ArcherSSm-LightItalic.eot");
 src: url("../shared/fonts/ArcherSSm-LightItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-LightItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-LightItalic.svg#ArcherSSm-LightItalic") format("svg"), url("./shared/fonts/ArcherSSm-LightItalic.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-Medium';
 src: url("../shared/fonts/ArcherSSm-Medium.eot");
 src: url("../shared/fonts/ArcherSSm-Medium.woff") format("woff"), url("./shared/fonts/ArcherSSm-Medium.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Medium.svg#ArcherSSm-Medium") format("svg"), url("./shared/fonts/ArcherSSm-Medium.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-MediumItalic';
 src: url("../shared/fonts/ArcherSSm-MediumItalic.eot");
 src: url("../shared/fonts/ArcherSSm-MediumItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-MediumItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-MediumItalic.svg#ArcherSSm-MediumItalic") format("svg"), url("./shared/fonts/ArcherSSm-MediumItalic.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-Semibold';
 src: url("../shared/fonts/ArcherSSm-Semibold.eot");
 src: url("../shared/fonts/ArcherSSm-Semibold.woff") format("woff"), url("./shared/fonts/ArcherSSm-Semibold.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Semibold.svg#ArcherSSm-Semibold") format("svg"), url("./shared/fonts/ArcherSSm-Semibold.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

@font-face {
 font-family: 'ArcherSSm-SemiboldItalic';
 src: url("../shared/fonts/ArcherSSm-SemiboldItalic.eot");
 src: url("../shared/fonts/ArcherSSm-SemiboldItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-SemiboldItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-SemiboldItalic.svg#ArcherSSm-SemiboldItalic") format("svg"), url("./shared/fonts/ArcherSSm-SemiboldItalic.eot?#iefix") format("embedded-opentype");
 font-weight: normal;
 font-style: normal
}

body {font-family: 'archerBook';}
.orange {color:#f78d2e;}

/* Header and Top Nav */
.site-branding .logo {
 margin-top:10px;
 left:0;
}
.site-branding p.tagline {
 right:20px;
}
.main-navigation .menu-main-container {
 position:relative;
 top:21px;
 left:0;
 text-align: left;
 display:inline-block;
 float:left;
}
.main-navigation #primary-menu {
 padding-left:0px;
}
.main-navigation #primary-menu li {
 padding:4px 10px;
 font-weight:600;
 display: inline;
 padding: 0 10px;
 border-left: solid 1px #ef8d31;
 color:#111f3a;
}
.main-navigation #primary-menu li:first-child{
 border-left: none;
 padding-left:0;
}
.main-navigation .ask-expert {
 float:right;
 position:relative;
}
.main-navigation .toggle-close {
 background-color:#31343a;
}
.top_bar .phone {
 width: 36px;
 height: 36px;
 display: inline-block;
 background-size: 100%;
 vertical-align: middle;
 margin: 0 20px 0 15px;
}

/* Content */
.nas-thank-you-get-in-touch #content {
 background-color: #80a0b6;
 padding:75px 0 75px;
}
.nas-thank-you-get-in-touch #content h1 {
 padding-bottom: 25px;
 margin-bottom: 25px;
 margin-top: 0;
 border-bottom: 2px solid #111f3a;
 color:#fff;
}
.nas-thank-you-get-in-touch #content p {
 color:#fff;
}

/* Footer */
footer {
}


@media screen and (min-width: 992px) {
 .top_bar .phone {
  background: url("/wp-content/themes/north-american-spine/assets/img/phone_icon.png") no-repeat;
 }
 .show-on-mobile {
  display:none;
 }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
 .main-navigation .menu-main-container, .main-navigation .menu-alt-main-menu-container {
  display: inline-block;
  position: relative;
  top: 20px;
  float:left;
  left:0px;
 }
}
@media screen and (max-width: 991px) {
 .top_bar p a {
  height:60px;
  padding:14px 14px 14px 0;
 }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
 .top_bar p a {
  height:60px;
  padding:0px 14px 14px 0;
 }
}
@media screen and (max-width: 767px) {
 .site-branding .logo {
  margin-top:10px!important;
  margin-left:10px;
 }
}
@media screen and (max-width: 550px) {
 .top_bar p {
  padding-left: 15px;
 }
}

footer .policies {
 width:100%;
 border-top:1px solid #31445e;
 border-bottom:1px solid #31445e;
 color:#fff;
 text-align:center;
 padding:10px 0;
}
footer .policies li {
 font-size: 1.5rem;
 font-weight:300;
 display: inline;
 padding: 0px 10px;
 border-left: solid 1px #ef8d31;
}
footer .policies li:first-child{
 border-left: none;
 padding-right:0;
 margin-right:0;
}
footer .site-info p {text-align:center;}

/* Medium devices (desktop, 992px and up) */
@media (min-width: 993px) {
 .top_bar p {
  text-align: center;
 }
}

/* Small devices (mobile, 768px and down) */
@media (max-width: 768px) {
 footer .policies li:first-child {
  margin-top:0!important;
  text-align: right;
 }
}

/* Programmatic Forms Override */
.pgform.nas label {
 color:#000;
}