.white {
    color:#ffffff;
}
.orange {
    color:#f08c2a;
}

/* Hero */
.hero .each-slide {
    background: #000 url("../shared/img/Mike-Jill_Web_Retouched_Center-1-min-Recovered.jpg") no-repeat center;
    min-width: 100%;
    background-size: cover;
}
.hero .each-slide .left-content p {
    float:left;
    width:100%;
}
.hero .each-slide .left-content p em {
    font-size:12px;
}
.hero .each-slide .left-content p em i {
    color:#f88c29;
}

@media screen and (min-width: 992px) {
    .hero .each-slide .left-content {
        position: relative;
        width: 55%;
        float: none;
        text-align: right;
    }
    .hero .each-slide .left-content h1,
    .hero .each-slide .left-content p,
    .hero .each-slide .left-content .btn-orange {
        text-align: left;
    }
    .hero .each-slide .left-content .btn-orange {
        float: left;
    }
    .hero .desktop-only {
        display:inline-block;
    }
    .show-on-mobile {
        display:none;
    }
}
@media screen and (max-width: 991px) {
    .hero .desktop-only {
        display:none;
    }
    .hero .left-content {
        text-align: center;
    }
    #page.fixtime .site-branding .tagline {
        display:none;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hero .each-slide {
        background-position: 50% 100%!important;
    }
    .hero .each-slide .left-content {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: auto;
        background: rgba(0, 0, 0, 0.5);
        left: 0px;
        padding: 25px;
        text-align: center;
    }
    .hero .each-slide .left-content h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .hero .each-slide .left-content p {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .hero .each-slide .left-content .btn-orange {
        margin-top: 5px;
    }
}
@media screen and (max-width: 767px) {
    .hero .each-slide {
        background-position: 50% 100%!important;
    }
    .hero .each-slide .left-content {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: auto;
        background: rgba(0, 0, 0, 0.5);
        left: 0px;
        padding: 25px;
        text-align: center;
    }
    .hero .each-slide .left-content h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .hero .each-slide .left-content p {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .hero .each-slide .left-content .btn-orange {
        margin-top: 5px;
    }
}

/* Cities */

.cities-section {
    background: #101c34 none repeat scroll 0 0;
}
ul.cities {
    background: #101c34;
    margin: 0 25px;
    padding: 18px 10px;
    text-align: center;
}
ul.cities li {
    color: #ffffff;
}
ul.cities li {
    display: inline-block;
    font-size: 16px;
    color: #fff;
}
ul.cities li::after {
    content: '|';
    display: inline-block;
    margin: 0 6px;
    font-size: 14px;
    color: #f08c2a;
}
ul.cities li:last-child::after {
    content: '';
    margin-right:0;
}
@media screen and (max-width: 992px) {
    ul.cities-section {
        border-top:0;
        border-bottom:0;
    }
    ul.cities {
        border-bottom: 1px solid #30425a;
    }
}

/* Blue-sub */

.blue-sub {
    text-align: center;
    background: #0f1c34;
    color: #fbfbfb;
}
.blue-sub h2 {
    margin-top: 0;
    font-size:1.5em;
    font-weight:300;
    border-bottom:1px solid #30425a;
    padding-bottom:10px;
}
.blue-sub h3 {
    color:#f38c2d;
    font-style: italic;
    margin-top:10px;
}
.blue-sub ul {
    font-size: 1.167rem;
    font-family: 'archerLight';
    width: 100%;
    max-width:1200px;
    margin: 0px auto 15px;
    color: #fbfbfb;
}
.blue-sub ul li {
    padding:4px 10px;
    font-weight:600;
    display: inline;
    padding: 0 10px;
    border-left: solid 1px #ef8d31;
    font-size: 14px;
}
.blue-sub ul li:first-child{
    border-left: none;
}
@media screen and (min-width: 992px) {
    .blue-sub {
        border-top: 2px solid #80a0b6;
        border-bottom: 2px solid #80a0b6;
    }
    .blue-sub h2 {
        padding-bottom: 25px;
    }
}
@media screen and (max-width: 992px) {
    .blue-sub {
        width: 100%;
        padding: 0;
    }
    .blue-sub h2 {
        padding: 20px 15px 20px 0;
        border-bottom: 0;
        margin-left: 15px;
        text-align: center;
        margin-bottom:0;
        color:#f78d2e;
    }
    .blue-sub h3 {
        font-style: normal;
        background-color: #fff;
        color: #233c69;
        padding: 20px 15px;
        margin: 0;
        text-align: left;
        border-top: 2px solid #80a0b6;
        border-bottom: 2px solid #80a0b6;
    }
    .blue-sub p {
        width: 80%;
        line-height: 24px;
    }
    .blue-sub ul {
        background-color: #d9e2e9;
        width: 100%;
        max-width: 100%;
        padding: 20px 15px;
        margin-bottom: 0;
    }
    .blue-sub ul li {
        border: 0;
        color: #233c69;
        display: block;
        text-align: left;
        list-style-type: disc;
        padding: 10px 0px;
    }
}

/* Pushes */
.pushes {
    padding: 50px 0
}

@media screen and (max-width: 1024px) {
    .pushes {
        padding: 0
    }
}

@media screen and (max-width: 1024px) {
    .pushes .container {
        padding: 0 !important
    }
}

.pushes .push {
    width: 25%;
    float: left;
    padding: 0 20px;
    text-align: center
}

@media screen and (max-width: 1024px) {
    .pushes .push {
        width: 100%;
        float: none;
        padding: 30px 0;
        text-align: left
    }
}

@media screen and (max-width: 1024px) {
    .pushes .push.invert {
        background: #d9e2e9
    }
}

.pushes .push.invert .body {
    background-image: linear-gradient(to top, #fff 0%, #D2D8E2 100%)
}

@media screen and (max-width: 1024px) {
    .pushes .push.invert .body {
        background-image: none
    }
}

.pushes .push .icon {
    display: block;
    margin: 0 auto 10px auto;
    height: 90px;
    width: 90px;
    background: url("./img/pushes-icons.png")
}

@media screen and (max-width: 1024px) {
    .pushes .push .icon {
        float: left;
        margin: 0 0 0 25px
    }
}

.pushes .push .icon.dna {
    background-position: 0 0
}

.pushes .push .icon.heartbeat {
    background-position: -90px 0
}

.pushes .push .icon.care {
    background-position: -180px 0
}

.pushes .push .icon.file {
    background-position: -270px 0
}

.pushes .push .body {
    padding: 15px 15px 0 15px
}

@media screen and (max-width: 1024px) {
    .pushes .push .body {
        padding: 0 20px 0 140px
    }
}

.pushes .push .body .title {
    margin: 0;
    font-size: 21px;
    color: #2a3a54
}

.pushes .push .body ul {
    text-align: left;
    margin: 15px 0 0 0;
    padding: 0 5px;
}

.pushes .push .body ul li {
    margin: 0 0 10px 0;
    font-size: 14px;
    list-style-type: inherit
}

@media screen and (max-width: 1024px) {
    .pushes .push .body ul li {
        margin: 0
    }
}

.pushes .review {
    padding: 60px 0 0 0;
    text-align: center
}

@media screen and (max-width: 1024px) {
    .pushes .review {
        padding: 30px 0;
    }
}

.pushes .review .button {
    display: inline-block;
    padding: 10px 35px;
    font-family: 'ArcherSSm-Bold', 'archerMedium' serif;
    font-size: 16px;
    color: #ffffff;
    background: #fbae6a;
    background: -moz-linear-gradient(top, #fbae6a 0%, #f88c29 100%);
    background: -webkit-linear-gradient(top, #fbae6a 0%, #f88c29 100%);
    background: linear-gradient(to bottom, #fbae6a 0%, #f88c29 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fbae6a', endColorstr='#f88c29', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in
}

.pushes .review .button:hover {
    text-decoration: none;
    background: #f08c2a
}
@media screen and (min-width: 1024px) {
    .pushes .review .button.mobile {display:none;}
}
@media screen and (max-width: 1023px) {
    .pushes .review .button.desktop {display:none;}
}

/* Contact Bar */
.contact-bar {
    height: 60px;
    width: 100%;
    background: #0f1c34;
    text-align: center;
    color: #fbfbfb;
    line-height: 60px;
    z-index: 100;
}
.contact-bar .phone {
    width: 36px;
    height: 36px;
    background: url("/wp-content/themes/north-american-spine/assets/img/phone_icon.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin: 0 20px 0 15px;
}
.contact-bar p {color:#fff;}
.contact-bar p a {color:#fff;}
.info .gray {
    background-color: #fff;
}
.info .half.video {
    background: #fff;
    padding-bottom: 35px;
}
.info .half.video .btn-orange {
    color:#000;
}
.info .half.video .request-info-kit {
    background-color: #fff;
}
.info .half.request .request-info-kit h3 {
    background-color: #efefef;
    padding-top: 35px;
    margin: 0;
    padding-bottom: 12px;
}
.info .half.request a:not(.btn-orange) {
    background-color: #efefef;
}
.contact-area {
    padding-bottom: 0px;
}
.contact-area p {
    margin-bottom:5px;
}
.slick-slide {
    height:auto;
}
footer .policies {
    width:100%;
    border-top:1px solid #31445e;
    border-bottom:1px solid #31445e;
    color:#fff;
    text-align:center;
    padding:10px 0;
}
footer .policies li {
    font-size: 1.0rem;
    font-weight:300;
    display: inline;
    padding: 0px 10px;
    border-left: solid 1px #ef8d31;
}
footer .policies li:first-child{
    border-left: none;
    padding-right:0;
    margin-right:0;
}
footer .site-info p {text-align:center;}

/* Medium devices (desktop, 992px and up) */
@media (min-width: 993px) {
    .top_bar p {
        text-align: center;
    }
}


/* Medium devices (tablet, 1199px to 993px) */
@media (max-width: 1199px) and (min-width: 993px) {

    .hero-static .hero-image .layer-text{
        left:25%;
    }
    .hero-static .hero-image .layer-text h1 {
        font-size: 3em;
    }
    .hero-static .hero-image .layer-text h2 {
        margin-top:210px;
    }
}

/* Medium devices (tablet, 992px and down) */
@media (max-width: 992px) {
    .hero {
        border-bottom:2px solid #80a0b6;
    }
    .hero-static .hero-image {
        background-size:440px auto;
        background-position: 5% 100%;
        width:100%;
    }
    .hero-static .hero-image .layer-text{
        left:25%;
    }
    .hero-static .hero-image .layer-text h1 {
        font-size: 3em;
    }
    .hero-static .hero-image .layer-text h2 {
        margin-top:210px;
    }
    .hero .each-slide .left-content .actual-patient {
        display:none;
    }
    .bullets .container {
        width:100%;
        padding:0;
    }
    .bullets .bullets-content {
        padding:20px 15px 20px;
    }
    .bullets .blue-bg {
        background-color: #d9e2e9;
    }
    .bullets .bullets-content.gradient {
        background: transparent;
    }
    .bullets h3 {
        text-align: left;
        margin:10px 0 10px -14px;
    }
    .slider {
        margin-bottom:50px;
    }
}

/* Small devices (mobile, 768px and down) */
@media (max-width: 768px) {
    .hero .container {
        padding:0;
    }
    .hero-mobile {
        width:100%;
        height:auto;
    }
    .bullets .bullets-img {
        width:auto;
    }
    .bullets .col-sm-12 {
        float:left;
        width:100%;
    }
    .bullets-cta {
        display:none;
    }
    footer .policies li:first-child {
        margin-top:0!important;
        text-align: right;
    }
    .landing-page ul {
        padding:15px;
    }
}


/* Medium devices (mobile, 992px and down) */
@media (max-width: 664px) {
    .hero-static .hero-image .layer-text {
        left:0;
        width:100%;
        padding-right: 20px;
    }
    .hero .each-slide .left-content .actual-patient {
        display:none;
    }
}

/* Medium devices (mobile, 480px and down) */
@media (max-width: 664px) {
    .hero-static .hero-image .layer-text {
        left:0;
        width:100%;
        padding-right: 20px;
    }
    .hero-static .hero-image .layer-text p {
        width:100%;
    }
}

/* Drop-Down Form */
@media screen and (min-width: 992px) {
    .site-header .ask-expert .form-area {
        /* IE10+ */
        background-image: -ms-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
        /* Opera */
        background-image: -o-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(167, 176, 194, 0.70)), color-stop(100, rgba(71, 91, 119, 0.85)));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
        /* W3C Markup */
        background-image: linear-gradient(to bottom, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
    }
}
.site-header .ask-expert .form-area .toggle-close {
    background-color: #0f2240;
}

/* Ask Expert Static Form */

.ask-expert-static {
    display: inline-block;
    width: 100%;
    color: #fff;
    cursor: pointer; }
.ask-expert-static .expert-icon {
    background: url('assets/img/contact-us.png') no-repeat;
    width: 40px;
    margin: 10px;
    height: 40px;
    background-size: auto auto;
    background-position: center center; }
.ask-expert-static h5 {
    position: absolute;
    top: 13px;
    left: 60px;
    margin: 0; }
.ask-expert-static p {
    position: absolute;
    left: 60px;
    bottom: 12px;
    font-size: 1.1rem;
    color: #fbfbfb;
    margin: 0;
    font-family: 'archerMediumItalic', 'archerMedium'; }
.ask-expert-static .toggle {
    position: absolute;
    right: 65px;
    right: 0;
    width: 40px;
    height: 25px;
    top: 19px;
    cursor: pointer;
    transition: 0.3s linear all; }
.ask-expert-static .toggle:before {
    position: absolute;
    left: 13px;
    width: 2px;
    height: 12px;
    top: 8px;
    content: '';
    background: #fff;
    transform: rotate(-60deg); }
.ask-expert-static .toggle:after {
    position: absolute;
    right: 15px;
    width: 2px;
    top: 8px;
    height: 12px;
    content: '';
    background: #fff;
    transform: rotate(60deg); }
.ask-expert-static .in-phone {
    position: absolute;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #F9AF6C 0% #f78d2e 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9AF6C), color-stop(100, #f78d2e));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #F9AF6C 0%, #f78d2e 100%);
    width: 0px;
    height: 60px;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 0.3s linear all; }
.ask-expert-static .phone {
    position: relative;
    top: 13px;
    left: -4px;
    width: 36px;
    height: 36px;
    background: url(assets/img/phone_icon-white.png) no-repeat;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin: 0 20px 0 15px; }
.ask-expert-static .form-area {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    transition: 0.2s linear all; }
.ask-expert-static .form-area form {
    position: relative;
    left: 0;
    padding: 25px 30px 15px 30px;
    top: 0;
    width:100%;
    height:auto;
    border-bottom: 10px solid #0f1c34;}
.ask-expert-static .form-area form input {
    margin-top: 0; }
.ask-expert-static .form-area form input[type="checkbox"] {
    width: auto; }
.ask-expert-static .form-area form input.phone {
    top: 0;
    left: 0;
    background: none;
    background-color: #e6ecf0;
    background-size: initial;
    margin-bottom: 10px; }
.ask-expert-static .form-area form input[type="submit"] {
    width: calc(100% - 10px);
    float: none;
    max-width:300px; }
.ask-expert-static .form-area form textarea {
    width: 100%;
    margin: 0; }
.ask-expert-static .form-area form select {
    width: calc(100%);
    margin-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 7px !important;
    background: #e6ecf0; }
.ask-expert-static .form-area form input, .ask-expert-static .form-area form textarea, .ask-expert-static .form-area form select {
    padding: 14px;
    font-size: 1.1rem; }
.ask-expert-static .form-area form > label {
    margin-bottom: 0;
    font-size: 1rem;
    margin-top: 10px; }
.ask-expert-static .form-area form > label.disclaimer {
    font-size: 10px;
    margin-top: -5px; }
.ask-expert-static .form-area form .disclaimer {
    margin-bottom: 10px; }
.ask-expert-static .form-area form .privacypolicy-container {
    margin-top: 5px !important; }
.ask-expert-static.toggled .form-area {
    height: auto; }
.ask-expert-static .form-area form .privacypolicy-container label {
    color:#000; }
.ask-expert-static .form-area form .privacypolicy-container label a {
    color:#000; }