@media (min-width: 1200px){
	.logo{
		left: 20px;
		position: relative;
	}
	.site-branding p.tagline{
		right: 40px;
	}
	.main-navigation .menu-main-container{
		padding-right: 43px;
	}
	#conditions.generic.locations .map img{
		max-width: 97%;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.site-branding p.tagline{	
	    right: calc((100vw - 970px)/-2 + 20px);
	}

	#conditions.generic.webinar .video-container{
		height: 250px;
	}
	.main-navigation{
		text-align: left;

		.menu-alt-main-menu-container{
			top: 0;
			margin-left: 10px;
			width: calc(100% - 360px);
			text-align: center;
		}

		ul#primary-menu{
 
			li{
				a{
					padding: 0 6px;
				} 
			}
		}

		.ask-expert{
			position: absolute;
			right: 0;
		}

		.fa-search{
			margin-left: 10px;
			top: -14px !important;
	    	left: -60px;
			// display: none;

			form{
				left: 42px !important;
			}

			&.toggled{

				form{
					left: -307px !important;
				}
			}
		}
	}

	#conditions.generic.locations .map ul li a.style-phoenix{
	    bottom: 85px;
    	left: 86px;
	}
	#conditions.generic.locations .map ul li a.style-houston{
    	bottom: 32px;
    	left: 210px;
	}
	#conditions.generic.locations .map ul li a.style-dallas{
	    bottom: 61px;
	    left: 189px;
	}
	#conditions.generic.locations .map ul li a.style-detroit{
    	top: 80px;
    	left: 297px;
	}
	#conditions.generic.locations .map ul li a.style-nashville {
	    top: 153px;
	    left: 297px;
	}
	#conditions.generic.locations .map ul li a.style-minneapolis {
	    top: 59px;
	    left: 231px;
	}

	.slider .thirds .invert{
		left: 50%;
		transform: translateX(-50%);
	}

	#conditions .each-block-all .left-50 .each-block-lock{
		padding: 75px 35px 35px 0px;
	}

	#conditions.generic.locations{
		#pinned-lock-1{

			.generic-content-left{

				.map{

					img{
						
					}

					ul{

						li{
							
							a{

								&.style-dallas{
									bottom: 60px;
									left: 189px;
								}
								&.style-detroit{
									top: 69px;
									left: 281px;
								}
								&.style-houston{
									bottom: 32px;
									left: 200px;
								}
								&.style-nashville{
									top: 142px;
									left: 272px;
								}
								&.style-phoenix{
									bottom: 79px;
									left: 80px;
								}
								&.style-minneapolis{
									top: 51px;
									left: 209px;
								}

								.hover-content{

								}
							}
						}
					}
				}
			}
		}
	}

	.request-info-kit{

		a:not(.btn-orange){
			height: 270px;
			width: 212px;

			img{
				max-width: 100%;
				height: auto;
			}
		}

		&:hover{
			a:not(.btn-orange){

				img{
					height: auto !important;
				}
			}
		}
	}

	footer .foot-left ul{
		bottom: -100px;
	}
	#conditions.each-loc .each-block-all ul.address li:first-child{
		width: 50%;
	}
}

@media (max-width: 1080px){
	.main-navigation .fa-search{
		display: none;
	}
	.main-navigation ul li{

		&:first-child{

			a{
				padding-left: 0;
			}
		}
	}
	.fa-search.search-alt{
		display: block;
		position: absolute;
		right: 15px;
		top: 25px;
		cursor: pointer;
		font-size: 2rem;
	}

}

@media (max-width: 991px){

	body.ios-mobile .btn-orange { 
		transition: none !important; 

		div {
			transition: none !important;
		}

		&:before {
			transition: none !important; 
			height: 0 !important;
		}

		&:hover {
			transition: none !important; 
		}

		&.invert {
			&:hover {
				transition: none !important; 
			}
		}
	}


	.main-navigation #primary-menu > li.current-menu-item, .current_page_ancestor, .current_page_parent{
		&:after{
			border-left: none;
    		border-right: none;
    		border-bottom: none;
    		left: initial;
    		transform: initial;
		}
	}
	header.site-header{
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	}
	.hero .each-slide .center-content{
		width: 100%;
	    position: absolute;
	    bottom: 0;
	    height: auto;
	    background: rgba(0,0,0,0.5);
	    left: 0px;
	    padding: 25px;
	    text-align: center;

	    h1{
	    	font-size: 2rem;
	    	line-height: 2.5rem;
	    }
	    p{
	    	font-size: 1rem;
	    	margin-top: 10px;
	    	margin-bottom: 0;
	    }
	    .btn-orange{
			margin-top: 10px;
			font-size: 1.25rem;
	    }
	}
	#conditions .each-block-all .left-50 .each-block-lock{
		padding: 35px;

	}
	p.tagline{
		top: 0;
		right: 80px !important;
	}
	#page.fixtime #content{
		margin-top: 65px;
	}

	#page.fixtime .toggle{
		right: 5px;
	}

	.mob-center-content{
		text-align: center;
	}

	.home{

		.ask-expert{
			right: 0;
		}
	}

	.main-navigation #primary-menu>li:after {
	    width: initial;
	    height: initial;
	    opacity: initial;
	    border-left: initial;
	    border-left: initial;
	    border-right: initial;
	    border-bottom: initial;
	    position: initial;
	    bottom: initial;
	    left: initial;
	    display: initial;
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    content: '';
	}

	.main-navigation #primary-menu>li .sub-menu li:first-child a{
		// padding-left: 35px;
	}

	.main-navigation #primary-menu>li .sub-menu{
		padding: 0;

		li{
			width: calc(100% * (1/2)) !important;
			padding-left: 15px;

			a{
				padding-left: 0 !important;
				line-height: 20px !important;
			}
		}
	}

	.main-navigation #primary-menu > li#menu-item-53 .sub-menu{
		height: 0px;
		transition: none !important;
		padding: 0px 15px 0px 0px !important;

		#menu-item-69{
			margin-top: 30px;
			position: relative;

			&:before{
				content: '';
				width: 50%;
				height: 2px;
				background: $orange;
				position: absolute;
				top: -20px;
				left: 15px;
			}

			&:after{
				display: none;
			}
		}
	}
	.main-navigation .menu-main-container #primary-menu > li#menu-item-53.toggled ul{
		height: 350px;
	}

	.top_bar{
		position: relative;

		p{
			a{
				position: absolute;
				right: -117px;	
				background: $orange;
				padding-right: 15px;
				transition: 0.3s linear all;

				&:hover{
					right: 0;
				}

			}
		} 

		.phone{
			width: 36px;
		    height: 36px;
		    background: url(assets/img/phone_icon-white.png) no-repeat;
		    display: inline-block;
		    background-size: 100%;
		    vertical-align: middle;
		}
	}
	.site-branding{
		text-align: left;
		padding-left: 0px;
		height: 65px;

		#search{
			display: none;
		}

		.logo{
			margin-top: -11px;
			position: relative;
			left: -10px;
		}
	}
	
	// navbar
	.main-navigation{
		height: auto;

		.search-mob{
			position: absolute;
			width: 100%;
			height: 60px;
			background: rgba(10,39,80,0.95);
			border-bottom: 1px solid #fbfbfb;
			top: -465px;
			transition: 0.3s linear all;

			input{
				border-radius: 0;
				margin: 0;
				height: 60px;
				color: $textwhite;
				font-family: 'archerBook';
				font-size: 1.333rem;
				width: 100%;
				background: rgba(10,39,80, 0.95);
				border-bottom: 1px solid $textwhite;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #a9cbe1;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #a9cbe1;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #a9cbe1;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #a9cbe1;
				}
			}

			#search{
				width: 71px;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				padding-top: 15px;
				color: $textwhite;
				cursor: pointer;
				display: block;
				background: transparent;
				border-left: 1px solid $textwhite;

				&:before{
					top: 0;
				}
			}

		}

		.menu-alt-main-menu-container{
			display: none;
		}
		.menu-main-container{
			display: block;
			// top: 60px;
			top: -405px;
			position: absolute;
			width: 100%;
			padding-bottom: 25px;
			transition: 0.3s linear all;
			background: rgba(10,39,80, 0.95);

			#primary-menu{
				display: block;

				li{
					display: block;
					text-align: left;
					border-bottom: 1px solid $textwhite;

					a{
						color: $textwhite;
						font-size: 2rem;
					}

					ul{
						display: block;
						position: relative;
						visibility: visible;
						opacity: 1;
						z-index: 1;
						width: 100%;
						top: 0;
						background: transparent;
						height: 0;
						overflow: hidden;
						transition: 0.3s linear all;

						li{
							display: block;
							border-bottom: none;

							a{
								font-family: 'archerBookItalic';
								font-size: 1.5rem;
								line-height: 45px;
								padding-left: 35px;
							}

							&:last-child{
								margin-bottom: 15px;
							}
						}	
					}
				}

				>li{
					
						&:before{
							width: 15px;
							height: 3px;
							background: $textwhite;
							content: '';
							position: absolute;
							right: 25px;
							top: 27px;
							cursor: pointer;
							transform: rotate(90deg);
							transition: 0.2s linear all;
						}

						&:after{
							width: 15px;
							height: 3px;
							background: $textwhite;
							content: '';
							position: absolute;
							right: 25px;
							top: 27px;
							cursor: pointer;
						}
					

					&.toggled{
						
							&:before{
								background: $orange;
								transform: rotate(0deg);
							}

							&:after{
								background: $orange;
							}
					

						ul{
							height: initial;
						}
					}
				}
			}
		}

		&.toggled{

			.menu-main-container{
				top: 60px;
			}

			.search-mob{
				top: 0px;
			}
		}

	}

	.main-navigation #primary-menu>li:hover .sub-menu li:first-child:after{
		border-bottom: none;
	}

	.bluearea{
		display: none;
	}

	#conditions #request-info-block .right-50:after, .request-alt-block:after{
		display: none;
	}

	.slider {

		.container{
			width: 100%;
		}

		.thirds{
			min-height: auto;
			margin-bottom: 0;
			text-align: center;

			.invert{
				position: relative;
			}	

			h3, h4, p{
				text-align: left;
			}
		}
		
	}
	
	.ask-expert{
		width: 100%;
		margin-left: 0;
		background: $textblue;
		background-image: none;
		height: auto;

		&:before {
			content: "";
			height: 68px;
			background-color: #233c69;
			width: 100%;
			position: absolute;
			top: 0;
		}

		>p{
			bottom: 17px;
		}

		h5{
			top: 16px;
		}
		
		.toggle{
			top: 22px;
		}

		.expert-icon{
			position: relative;
			top: 6px;
		}

		.form-area{
			top: -100vh;
			position: relative;
			background: $white;
			height: auto;
			transition: 0.4s linear all;

			form{
				position: relative;	

				input:not([type="submit"]), textarea, select{
					background: $gray;
				}

				input[type="submit"]{
					display: block;
					width: calc(100% / 2 - 10px);
					margin: 0px auto;
				}

				.half-width.left.first-name{
					margin-right: 2%;
				}
			}

			p, label{
				color: $textblack;
			}
		}

		&.toggled{

			.form-area{
				top:0;
				// height: auto;

				a{
					color: $textblack !important;
				}
			}
		}

		.toggle-close{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 25px;
			left: 0;
			background: $textblue;

			div{
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 25px;
				height: 25px;
				cursor: pointer;

				&:before, &:after{
					content: '';
					width: 2px;
					height: 10px;
					background: $white;
					position: absolute;
				}

				&:before{
					transform: rotate(60deg);
					left: 8px;
					top: 3px;
				}	
				&:after{
					transform: rotate(-60deg);
					right: 8px;
					top: 3px;
				}
				&:last-child{
					top: 7px;
					height: 21px;

					&:before, &:after{
						
					}
				}
			}
		}
	}

	.info{ 
		.half{
			width: 100%;

			&.request{
				padding-bottom: 35px;
			}
		}
		.container{
			width: 100%;
		}
	}
	.condition-procedure h3{
		margin-top: 100px;
	}
	.info .half.approach, .info .half.loc{
		padding: 35px 50px 50px;
		text-align: center;
		
		h3, h4, p{
			text-align: left;
		}

	}

	.single-nas-locations{

		#conditions .each-block-all .right-50 .each-block-info .toggle-area.canceled{
			padding: 0 15px 0 15px !important;
		}
	}

	#conditions{
		#symptoms-scroll-to{
			h2{
				&.spaces{
					margin-top: 0;
				}
			}
		}
		.each-block-all{

			.left-50, .right-50{
				float: none;
				width: 100%;

				.each-block-info{
					padding-left:0;
					padding-right: 0;
					padding-bottom:0;

					h2{
						position: relative;
						padding-left: 35px;
						padding-right: 35px;
						margin-bottom: 0;
						margin-bottom: 0;
						padding-top: 35px;
						margin-top: -35px;
						cursor: pointer;

						&:before{
							content: '';
							width: 15px;
							height: 3px;
							background: $blue;
							transform: translateY(-50%) rotate(90deg);
							transition: all 0.2s linear;
							position: absolute;
							right: 35px;
							top: 50%;
						}

						&:after{
							content: '';
							width: 15px;
							height: 3px;
							background: $blue;
							position: absolute;
							right: 35px;
							transform: translateY(-50%);
							top: 50%;
							transition: all 0.2s linear;
						}

						&.no-toggle {
							&:before {
								display: none;
							}
							&:after {
								display: none;
							}
						}

						&.sub-toggle{
							&:before{
								transform: translateY(-50%) rotate(0);
								background: $orange;
							}
							&:after{
								background: $orange;
							}
						}
					}

					.toggle-area{
						display: none;
						padding: 35px;

						h4{
							margin-top: 0;
						}

						&.canceled {
							display: block;
						}
					}
				}
			}
		}

		&.alt-conditions{

			.each-block-all{

				.right-50{

					.each-block-info{

						h2{

							&.spaces{
								margin-top: 35px;
							}
						}
					}

					.request-alt-block{
						padding-top: 35px;
						margin-top: 0;
						background: none;
						padding-bottom: 0;
					}
				}
			}

			#testimony-info-block{

				.each-block-info{
					padding-top: 35px;

					h2{
						margin-bottom: -2px;
					}
				}

				.center-btns{
					text-align: center;
				}

				.btn-orange.first-space{
					margin-right: 0;
				}
			}
		}
		&.generic{

			.each-block-all{

				.right-50{
					.each-block-info{
						padding-top: 0;

						h2{
							padding-top: 25px;
							margin-top: 0;
						}
					}
				}
			}

			.toggle-area{
				margin-bottom: 0;
			}

			&.contact{

				.toggle-area{

					h4{
						margin-top: 35px !important;
					}
				}
			}
		}	
		&.research{
			h2{

				&.no-toggle{
					padding-left: 0 !important;
					padding-right: 0 !important;

					&:before, &:after{
						display: none;
					}
				}
			}

			.each-block-info{
				padding: 0 15px 50px 15px !important;
			}
		}

		&.each-loc{
			.each-block-all img.fill-it{
				margin-top: 0;
				width: 100%;
				left: 0;
				margin-bottom: 0;
			}
		}
	} 

	#conditions .each-block-all .right-50 .each-block-info{
		padding-top: 35px;
	}

	#conditions.generic.locations{
		#pinned-lock-1{

			.generic-content-left{

				.map{

					img{
						width: 100%;
					}

					ul{

						li{
							
							a{

								&.style-dallas{
									bottom: 100px;
									left: 312px;
								}
								&.style-detroit{
									top: 115px;
									left: 460px;
								}
								&.style-houston{
									bottom: 56px;
									left: 327px;
								}
								&.style-nashville{
									top: 234px;
									left: 445px;
								}
								&.style-phoenix{
									bottom: 131px;
									left: 133px;
								}
								&.style-minneapolis{
									top: 85px;
									left: 342px;
								}

								.hover-content{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.nav-dots{
		display: none;
	}

	.mobile-form-options{
		ul{
			li{
				display: inline-block;
				min-width: 200px;
				margin-right: 0px;
				font-family: 'archerMedium';
				font-size: 1.25rem;

				&:nth-child(1) {
					margin-top: 25px;
				}

				a{
					min-width: 200px;
				}


				&.orange-toggle{
					color: $textwhite;
				}
			}
		}
	}

	#request-info-block .right-50{
		background: $white;
	}

	#conditions .request-alt-block.updatefix{
		width: 100%;
		padding: 35px 0;
		border-top: #80a0b6 2px solid;
		background: $white;

		// h2{
		// 	padding-left: 35px;
		// 	font-size: 1.8rem;
		// 	padding-bottom: 35px;
		// }
	}

	footer .foot-left ul{
		position: relative;
		bottom: initial;
		left: initial;

		li{

		}
	}
	footer .social-foot p{
		margin: 25px 0;
		text-align: center;
	}
	footer .social-foot ul{
		text-align: center !important;
	}
	footer .social-foot:before{
		display: none;
	}
	footer .foot-bottom{

		img{
			margin: 0px auto 0px auto;
			display: block;
		}
	}
	.menu-footer-bottom-container, .menu-footer-container{
		text-align: center;
		margin-top: 25px;
	}
	.nas-testimonials {
		aside {
			display: none;
		}
	}
	#blog .archive-row, #testimonial .archive-row {
		margin-bottom: 0;

		article {
			margin-bottom: 25px;
		}
	}
	#blog .archive-row article:nth-child(even), #testimonial .archive-row article:nth-child(even) {
		padding-left: 15px;
	}
	#blog .archive-row article:nth-child(odd), #testimonial .archive-row article:nth-child(odd) {
		padding-right: 15px;
	}

	.hover-video.playing {
		height: 80px;
		bottom:0;
		top: inherit;

		p {
			display: none;
		}

		ul li:nth-child(2) i {
			font-size: 5rem;
		}

		&.fadeout {
			opacity: 1;
		}
	}
	.toggle-area-alt{
		display: none;
	}

	h2.no-line{
		border-bottom: none !important;

		&:before{
			display: none !important;
		}
		&:after{
			display: none !important;
		}
	}
	h2.proc-cond-toggle{
		padding: 35px;
		position: relative;
		border-top: #80a0b6 2px solid;
		margin: 0;
		color: #233c69;
	    font-size: 1.8rem;

		&:before{
			content: '';
		    width: 15px;
		    height: 3px;
		    background: #0f1c34;
		    -ms-transform: translateY(-50%) rotate(90deg);
		    transform: translateY(-50%) rotate(90deg);
		    transition: all 0.2s linear;
		    position: absolute;
		    right: 35px;
		    top: 50%;
		}

		&:after{
			content: '';
		    width: 15px;
		    height: 3px;
		    background: #0f1c34;
		    position: absolute;
		    right: 35px;
		    -ms-transform: translateY(-50%);
		    transform: translateY(-50%);
		    top: 50%;
		    transition: all 0.2s linear;
		}

		&.sub-toggle{

			&:before{
				-ms-transform: translateY(-50%) rotate(0deg);
		    	transform: translateY(-50%) rotate(0deg);
		    	background: $orange;
			}
			&:after{
				background: $orange;
			}
		}
	}

	h4.no-line{
		padding-left: 35px;
	}
	.no-toggle-area{
		padding: 0 15px 15px 15px !important;
	}
	.no-toggle-alt{
		border-bottom: none !important;
	}
	.phone-spot{
		position: absolute;
	    right: 70px;
	    top: 0;
        width: 0px;
    	overflow: hidden;
    	transition: 0.2s linear all;
		z-index: 99;
	    
	    a{
		    height: 65px;
		    width: 55px;
		    background: $orange;
		    display: block;
		    text-align: center;

		    .phone{
		    	width: 36px;
			    height: 36px;
			    background: url(assets/img/phone_icon-white.png) no-repeat;
			    display: inline-block;
			    background-size: 100%;
			    vertical-align: middle;
			    position: relative;
   				top: -5px;
		    }
	    }

	    &.open-mob{
	    	width: 55px;
	    }
	}
	#page {
		.site-branding {
			.tagline {
				transition: 0.2s linear padding-right;
			}
			
		}
	}
	#page.fixtime {
		.site-branding {
			.tagline {
				padding-right: 4.5rem;
			}
		}
		.phone-spot {
			// z-index: 99;
			a {

			}
		}
	}


	/*new*/
	.ask-expert{
		position: absolute;
		height: 68px !important;
		top: -68px;
		left:0;
		transition: 0.2s linear top;

		.clipboard-icon{
			height: 40px;
			top: 13px;
			position: absolute;
			height: 40px;
		    width: 60px;
		    background: url(assets/img/pad_icon.svg);
		    background-position: center center;
		    background-size: auto 100%;
		    background-repeat: no-repeat;
		    display: block;
		}

		h5{
			top:19px;
		}

		&>p{
			top: 35px;
		}
	}
	.fixtime .ask-expert{
		top: 0 !important;


	}

}

@media (min-width: 768px) and (max-width: 991px){

	.hero .each-slide .center-content h1{

		br{
			display: none !important;
		}
	}

	.site-header{

		.site-branding{

			.container{
				position: static;

				.logo{
					position: absolute;
					margin-top: 6px;
					left: 15px;

				}
			}
		}
	}
	.info .half.video{
		width: calc(100% + 30px);
		position: relative;
		left: -15px;
	}
	
	h2{
		&.no-line{
			font-size: 2rem;
		}
	}
	ul{
		&.no-line{
			padding: 0px 15px 35px 35px;
			border-bottom: none !important;

			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
		}
	}

	.main-navigation #primary-menu > li#menu-item-53 .sub-menu{
		width: 100%;
	}

	// .top_bar p a{
	// 	right: 0;
	// }
}

@media (min-width: 870) and (max-width: 991px){
	.main-navigation #primary-menu > li#menu-item-53 .sub-menu li{
	    width: calc(100% * (1/5)) !important;
	}
}

@media (min-width: 768) and (max-width: 869px){
	.main-navigation #primary-menu > li#menu-item-53 .sub-menu li{
	    width: calc(100% * (1/4));
	}
}

@media (max-width: 767px){

	.phone-spot {
		right: 55px;
	}

	p.tagline{
		display: none !important;
	}

	.main-navigation #primary-menu > li{
		
		&#menu-item-53 .sub-menu{
			display: block;

			li:nth-last-child(-n+3){

				a{
					color: $textwhite !important;
				}
			}
		}

		&#menu-item-53{

			&.toggled{

				ul{
					height: auto !important;
				}
			}

			ul{

				li{
					&:nth-child(-n+16){
						display: none;
					}
				}
			}
		}

		.sub-menu{
			width: 100% !important;

			li{
				width: 100% !important;
			}
		}
	}

	.main-navigation #primary-menu > li#menu-item-53 .sub-menu #menu-item-69{
		margin-top: 0px;
	}
	.main-navigation #primary-menu > li#menu-item-53 .sub-menu #menu-item-69:before{
		display: none;
	}

	.main-navigation .menu-main-container #primary-menu > li:before{
		top: 21px !important;
	}
	.main-navigation .menu-main-container #primary-menu > li:after{
		top: 21px !important;
	}


	#conditions .request-alt-block.updatefix h2{
		padding-left: 15px;
	}
	#consult .modal-form.home-modal, #freekit .modal-form.home-modal, #webinar-modal .modal-form,  #mrict-modal .modal-form{
		width: 100% !important;
	}

	#consult .modal-form, #freekit .modal-form.home-modal, #webinar-modal .modal-form{
		padding: 45px 15px 15px 15px;
	}
	#consult .modal-form form textarea{
		margin-left: 0;
		margin-right: 0;
	}
	#freekit .modal-form form input[type="submit"], #consult .modal-form form input[type="submit"], #webinar-modal .modal-form form input[type="submit"]{
		margin-top: 5px;
	}
	
	#consult .modal-form.home-modal iframe{
		width: 100%;
		height: auto;
	}

	h1{
		font-size: 2.5rem;
	}

	#conditions h2.proc-cond-toggle{
		padding-left: 15px;
		padding-right: 40px;

		&:before{
			right: 15px;
		}
		&:after{
			right: 15px;
		}
	}
	h4.no-line{
		padding-left: 15px;
	}

	h2{
		&.no-line{
			border-bottom: none !important;

			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
		}
	}

	ul{
		&.no-line{
			padding: 0px 15px 35px 15px;
			border-bottom: none !important;

			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
		}
	}

	
	.logo{
		width: 250px;
		margin-top: 0px !important;
		left: -20px !important;
	}
	.top_bar .phone{
		margin: 0 10px;
	}
	.top_bar p a{
		right: -15px;

		&:hover{
			right: -15px;
		}
	}
	.site-branding{
		padding-left: 10px;

		.mobnav-toggle{
			width: 56px;
		}
	}
	.hero{
		height: 435px;
	}
	.condition-procedure h3{
		margin-top: 15px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.condition-procedure .fade-area ul{
		margin-left: 15px;
		margin-right: 15px;
	}
	.slider .thirds{
		padding: 15px 15px 35px 15px;
		background: #f6f6f6;

		&:nth-child(2){
			background: #d2dce3;
		}
	}
	.info .half{
		width: 100%;

		&.approach, &.loc{
			padding: 0 15px 35px 15px;
		}

		&.request{
			padding-bottom: 35px;
		}

		&.video{
			width: calc(100% + 30px);
			position: relative;
			left: -15px;
		}
	}
	.toggle-contact input:not(.orange-grad){
		margin-left: 0;
		margin-right: 0;
	    width: calc(100% / 2 - 2px);
	}
	.toggle-contact textarea, .toggle-contact input.fullwidth{
		margin-left: 0;
		width: 100%;
	}
	.toggle-contact form{
		padding: 45px 0;

		.half-width-container{
			display: block;
		}
	}
	.toggle-contact.toggled{
		height: 360px;
	}
	.toggle-contact{
		.half-width{
			width: 100% !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	.slider .condition-procedure .fade-area .target-corners-left{
		left: -20px;
	}
	.slider .condition-procedure .fade-area .target-corners-right{
		right: -20px;
	}

	.mob-only{
		.border{
			margin-bottom: 0px;

			&:after{
				width: 1px;
				height: 50px;
				top: 15px;
				right: 0;
				bottom: initial;
			}
		}
		.row .border:last-child{
			margin-bottom: 0;
		}
	}
	.ask-expert{

		&.toggled{

			.form-area{
				height: auto;
			}
		}
		.form-area{

			form{
				padding: 25px 25px 50px;
				input:not([type="submit"]){
					// width: calc(100% - 10px);
				}

				input[type="submit"]{
					width: auto;
					display: block !important;
				}

			}
		}
	}

	#menu-item-54, #menu-item-39{
		margin-top: 0 !important;
	}

	.orange-grad{
		padding: 20px;
	}

	.condition-procedure{
		padding-bottom: 0;
	}

	#conditions{
		padding: 0;

		.each-block-all{

			.left-50{

				.each-block-lock{
					padding: 35px 15px;
				}
			}
			.right-50{
				.each-block-info{
					h2{
						padding-left: 15px;
						padding-right: 35px;
						font-size: 1.8rem;

						&:before{
							top: 50%;
							transform: translateY(-50%) rotate(90deg);
							right: 15px;
						}
						&:after{
							top: 50%;
							transform: translateY(-50%);
							right: 15px;
						}
					}

					.toggle-area{
						padding: 35px 15px;
					}
				}
			}
		}

		#testimony-info-block{

			.patient-data{

				img{
					// display: block;
					// float: none;
					// margin: 0px auto 25px auto;
				}
			}
		} 
		&.generic{

			.each-block-all{

				.right-50{
					.each-block-info{
						padding-top: 0;
					}
				}
			}
		}
	}

	.generic-no-block .do-columns{
		-webkit-column-count: 1;
	    -moz-column-count: 1;
	    -ms-column-count: 1;
	    column-count: 1;
	}

	.generic-no-block ul{
		padding-left: 25px;
	}

	.toggle-contact{
		input:not([type="submit"]){
			width: 100%;
		}

		&.toggled{
			height: 680px;
		}
		label{
			margin-left: 0;
		}
	}

	.single-nas-locations #conditions .each-block-all .right-50 .each-block-info .toggle-area.canceled{
		    padding: 0 0px 0 0px !important;

		    #location-map{
		    	width: 100%;
		    	margin-left: 0;
		    }
	}

	footer{
		ul:not(.socialfooter){
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			text-align: left !important;

			li{
				display: block !important;
				margin: 5px 0 !important;
			}
		}
	}

	#secondary{

		.request-info-kit{
			text-align: center;
			margin-bottom: 35px;
		}
	}

	#blog-header .search-area{

		#searchform{
			margin-bottom: 20px;
		}
	}

	#blog{

		.single-post{
			ol{
				padding-left: 15px;
			}
		}

		.entry-footer{

			.social-share{

				p{
					margin-right: 15px;
				}

				ul{
					columns: initial;

					li{
						display: inline-block !important;
						margin-right: 10px !important;
					}
				}
			}
		}

		.comment-list{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.toggle-contact input.orange-grad{
		margin: 15px auto;
	}

	.condition-procedure h3{
		&:before, &:after{
			display: none;
		}
	}
	#menu-footer, #menu-footer-bottom{
		padding-left: 15px;
	}

	#blog-header .search-area{
		position: relative;
		width: 100%;
	}
	#blog-header nav[role="blog-navigation"] ul li{
		margin-right: 15px;
	}

	.main-navigation #primary-menu>li:after{
		width: initial;
		height: initial;
		opacity: initial;
		border-left: initial;
	    border-left: initial;
	    border-right:initial;
	    border-bottom: initial;
	    position: initial;
	    bottom: initial;
	    left: initial;
	    display: initial;
	    transform: translateX(0);
	    content: '';
	}

}

@media (max-width: 550px){
	.top_bar{
		text-align: left;

		p{
			padding-left: 5px;
		}
	}

	.center-btns{
		text-align: center;
		a.first-space{
			margin-right: 0 !important;
		}
	}
	.ask-expert.toggled .form-area{
		height: auto;
	}
	#conditions{

		#testimony-info-block{
			
			.patient-data{

				img{
					display: block;
					margin: 0px auto 15px auto;
					float: none;
				}

				.patient-info{
					padding-left: 0;
					text-align: center;
					float: none;
				}
			}
		} 

		&.each-loc{
			.each-block-all ul.address li{
				display: block;

				&.phone{
					float: none;

					a{

						&:before{
							margin-left: 0;
						}
					}
				}
			}
		}
	} 

	#consult, #freekit, #webinar-modal{

		.modal-form{
			width: 100%;

			input[type="text"]{
				width: 100% !important;
				margin-left: 0 !important;
			}

			input.fullwidth{
				width: 100% !important;
				margin-left: 0 !important;
			}
		}
	}
}

@media (max-width: 991px) and (max-height: 750px){
	.main-navigation .menu-main-container #primary-menu li a{
		font-size: 1.333rem;
	}
	.main-navigation #primary-menu > li a{
		line-height: 45px;
	}
	.main-navigation .menu-main-container #primary-menu li ul li a{
		font-size: 1.333rem;
		line-height: 30px;
	}
	.main-navigation .menu-main-container #primary-menu > li:nth-child(1):after, .main-navigation .menu-main-container #primary-menu > li:nth-child(2):after, .main-navigation .menu-main-container #primary-menu > li:nth-child(5):after, .main-navigation .menu-main-container #primary-menu > li:nth-child(6):after, .main-navigation .menu-main-container #primary-menu > li:nth-child(1):before, .main-navigation .menu-main-container #primary-menu > li:nth-child(2):before, .main-navigation .menu-main-container #primary-menu > li:nth-child(5):before, .main-navigation .menu-main-container #primary-menu > li:nth-child(6):before{
		top: 21px;
	}
}

@media (max-width: 550px){
	.mob-only{

		h3{
			font-size: 11px;
		}
	}
}

@media (max-width: 480px){
	.mobile-form-options ul li:nth-child(2){
		display: none;
	}

	#conditions .testimony-info-block .patient-data .patient-info{
		width: 100%;
	}

	.mob-only{

		.border{
			margin-bottom: 0px;

			&:after{
				width: 1px;
				height: 50px;
				top: 15px;
				right: 0;
				bottom: initial;
			}
		}
		.row .border:last-child{
			margin-bottom: 0;
		}
	}
}

@media (max-width: 374px){
	.logo{
		width: 195px;
		margin-top: 11px !important;
	}


}

@media (max-width: 359px){
	.top_bar p{
		font-size: 0.85rem;
	}
}

@media ( min-width: 992px ) {
	.top_bar a {
		pointer-events: none;
	}
}