@font-face {
  font-family: 'ArcherSSm-Semibold';
  src: url('ArcherSSm-Semibold.eot');
  src: url('ArcherSSm-Semibold.woff') format('woff'),
       url('ArcherSSm-Semibold.ttf') format('truetype'),
       url('ArcherSSm-Semibold.svg#ArcherSSm-Semibold') format('svg'),
       url('ArcherSSm-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

