/* # NAS Responsive Web
Theme Name: NAS Responsive Web

Theme URI: http://my.studiopress.com/themes/genesis/  
Description: This is the sample theme created for the Genesis Framework.   
Author: StudioPress  
Author URI: http://www.studiopress.com/  
Template: genesis  
Template Version: 2.1.2  
Tags: black, orange, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready  
License: GPL-2.0+  
License URI: http://www.gnu.org/licenses/gpl-2.0.html  
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
*/



/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-news:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-news:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */
html {
	background: #173c56; /* Old browsers */
	background: -moz-linear-gradient(left, #173c56 0%, #477596 50%, #173c56 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#173c56), color-stop(50%,#477596), color-stop(100%,#173c56)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #173c56 0%,#477596 50%,#173c56 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #173c56 0%,#477596 50%,#173c56 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #173c56 0%,#477596 50%,#173c56 100%); /* IE10+ */
	background: linear-gradient(to right, #173c56 0%,#477596 50%,#173c56 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173c56', endColorstr='#173c56',GradientType=1 ); IE6-9 */
}

body {
	color: #000;
	font-family: tahoma, arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
	background: url(../../images/background.png) top center no-repeat;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #174c8e;
	text-decoration: none;
}

a:hover {
	color: #D12033;
	text-decoration: underline;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #4f6577;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 0 10px;
}


body.page h1 {
	/* background: url(../../images/body_head_hr.png) no-repeat scroll 50% 100% rgba(0, 0, 0, 0); */
	font-size: 22px;
	line-height: 30px;
	margin: 0 0 25px 0;
	padding-bottom: 30px;
}
body.page .title-area h1 {
	background: none;
	line-height: normal;
	margin: 0;
	padding-bottom: 0px;
}
h1 {
	font-size: 22px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

body.page h3 {
	color: #566b80;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 8px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 14px;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:hover {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

.gform_wrapper {
	background: #bfc7cc; /* Old browsers */
	background: -moz-linear-gradient(top, #bfc7cc 0%, #284660 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfc7cc), color-stop(100%,#284660)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bfc7cc 0%,#284660 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bfc7cc 0%,#284660 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bfc7cc 0%,#284660 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bfc7cc 0%,#284660 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc7cc', endColorstr='#284660',GradientType=0 );  IE6-9 */
	border-radius: 10px 10px 10px 10px;
	padding: 10px 20px;
	border-top: #d6dade 1px solid;
}

.gform_description {
	color: #fff;
}

/*home page title*/
.gform_title_home {
	background: url(images/ask_an_expert.png) no-repeat 90% center #3e5870;
	font-size: 20px;
	color: #bac3cb;
	border-radius: 10px 10px 0 0;
	width: auto;
	margin: 0 25% 0 10%;
	padding: 2px 20px;
}

/*full width title*/
.gform_title {
	background: url(images/ask_an_expert.png) no-repeat 98% center #3e5870;
	font-size: 20px;
	color: #bac3cb;
	border-radius: 10px 10px 0 0;
	width: auto;
	margin: 40px 3% 0 3%;
	padding: 2px 90px 2px 20px;
}
.gform_title span {
	display: block;
}

/* sidebar title */
.gform_widget h4 {
	background: url(images/ask_an_expert.png) no-repeat 90% center #3e5870;
	font-size: 20px;
	font-weight: normal;
	color: #bac3cb;
	border-radius: 10px 10px 0 0;
	width: auto;
	margin: 0 15% 0 6%;
	padding: 5px 20px;
}

.gform_wrapper li {
	display: block;
	width: 100%;
	margin: 2px 0;
}

.gform_wrapper li.gform_hidden, .gform_wrapper li.gform_validation_container {
	display: none;
}

.gform_wrapper .pr-title {
	color: #435d73;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}

/*check boxes and radio buttons*/
.gform_wrapper .gfield_checkbox,
.gform_wrapper .gfield_radio {
	margin: 12px 0;
}

.gform_wrapper .gfield_checkbox:after,
.gform_wrapper .gfield_checkbox li:after,
.gform_wrapper .gfield_radio:after,
.gform_wrapper .gfield_radio li:after {
	clear: both;
	content: " ";
	display: table;
}
.gform_wrapper .gfield_checkbox label,
.gform_wrapper .gfield_radio label {
	display: block;
	float: left;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	width: 80%;
	margin-left: 3%;
}
.gform_wrapper .gfield_checkbox input,
.gform_wrapper .gfield_radio input {
	float: left;
}

/*this style is for the disclaimer on each form */
.gform_wrapper li.disclaimer .gfield_checkbox label {
	font-weight: normal;
	font-size: 10px;
	display: inline;

}

/*this style is for the disclaimer on each form */
.gform_wrapper li.disclaimer .gfield_checkbox label a {
	color: #fff;
	text-decoration: underline;
}

/*this style is for the disclaimer on each form */
.gform_wrapper li.disclaimer .gfield_required {
	display: none;
}

form label {
	color: #fff;
	font-weight: bold;
	display: block;
}

/*sidebar form*/
.widget form#gform_1 label {
	font-size: 12px;
	font-weight: normal;
}
.gform_wrapper .gfield_required {
	color: #790000;
	margin-left: 0.25em;
}

.ginput_container ul {
	margin-left: 0 !important;
}

input,
select,
textarea {
	color: #333;
	background: none repeat scroll 0 0 #fff;
	font-size: 13px;
	font-weight: 300;
	width: 100%;
	border: 1px solid #173c56;
	padding: 2px;
}
body.home textarea {
	height: 50px;
}
textarea {
	height: 75px;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background: #f7c77e; /* Old browsers */
	background: -moz-linear-gradient(top, #f7c77e 0%, #efa037 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c77e), color-stop(100%,#efa037)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7c77e 0%,#efa037 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7c77e 0%,#efa037 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7c77e 0%,#efa037 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7c77e 0%,#efa037 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c77e', endColorstr='#efa037',GradientType=0 );  IE6-9 */
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	font-weight: 300;
	padding: 6px 15px;
	width: auto;
	text-shadow: 2px 2px #999999;
	border-radius: 6px 6px 6px 6px;
	display: block;
	margin: 10px auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: #efa037;
	color: #fff;
}

.entry-content .button:hover {
	color: #fff;
}


.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.validation_error,
.validation_message {
	display: none;
}

li.gfield_error input,
li.gfield_error select,
li.gfield_error textarea {
	border:#CD2124 solid 1px;
	background: #EDB3B4;
}
li.gfield_error.disclaimer label {
	color: #CD2124;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 400;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 960px;
}

.site-inner {
	clear: both;
	background: #ffffff;
	border-top: #c1c2ca solid 6px;
	border-bottom: #c1c2ca solid 6px;
}

body.home .site-inner {
	border-bottom: none;
	border-radius: 0 0 12px 12px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content {
	float: right;
	width: 70%;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 30%;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 30%;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 47%;
}

.one-third,
.two-sixths {
	width: 30%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */


/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: #fff;
	font-size: 16px;
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: 16px;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 20px;
	margin-bottom: 0;
}
.entry-time {
	color: #999;
	font-size: 12px;
}

.entry-title a {
	color: #d89138;
}

.entry-title a:hover {
	color: #d89138;
}

.widget-title {

}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

/* # Custom Widgets for ALL Sidebars
---------------------------------------------------------------------------------------------------- */
.sidebar .see-the-difference {
	background: url(images/block_bg.png) no-repeat #d27f17;
	padding: 0;
	border-radius: 5px 5px 5px 5px;
}
.sidebar .see-the-difference .videos {
	position: relative;
	display: block;
	height: 92px;
	background: url(images/see_the_difference-sciatica.jpg) no-repeat;
	text-align: center;
}
.sidebar .see-the-difference .videos-cervical {
	position: relative;
	display: block;
	height: 92px;
	background: url(images/see_the_difference-cervical.jpg) no-repeat;
	text-align: center;
}

.sidebar .see-the-difference .videos span {
	display: block;
	text-indent: -9999px;
}

.sidebar .see-the-difference h4 {
	color: #C47410;
	padding: 15px 25px;
	margin-bottom: 0;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}

.sidebar .see-the-difference p.btn {
	background: #8D4C0A;
	color: #fff;
	border: 1px solid #581F00;
	padding: 4px;
	font-weight: bold;
	display: block;
	margin: 12px 10px;

}
.sidebar .see-the-difference p.btn:hover {
	background: #CD7A14;
}
.sidebar .see-the-difference p.txt {
	color: #fff;
	text-align: center;
	line-height: 18px;
	margin: 12px 0;
	padding-bottom: 20px;
}


/*curaspine*/
.sidebar .blue_box_sidebar {
	background: #e4edf3;
	border-radius: 10px 10px 10px 10px;
	padding: 15px;
	margin: 20px 0;
	width: auto;
}
.sidebar .blue_box_sidebar p {
	line-height: 18px;
}

.sidebar .blue_box_sidebar p.title {
	font-size: 22px;
	text-align: center;
	border-bottom: #999999 1px solid;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 12px;
	color: #1174ba;
	font-weight: 700;
	line-height: normal;
}
.sidebar .blue_box_sidebar ul {
	font-size: 14px;
	margin-left: 40px;
}
.sidebar .blue_box_sidebar ul li {
	padding: 6px 0;
	margin-bottom: 0 !important;
	list-style-image: url(images/bullet.jpg);
}
.sidebar .blue_box_sidebar ul li a {
	color: #0c6db3;
}

/* What We Can Treat sidebar widget */
.sidebar .wwct-wrapper {
	font-family:Arial, Helvetica, sans-serif;
	padding:20px;
	background-color: #e5ebf0;
	border-radius: 12px 12px 12px 12px;
	line-height: normal;
}
.sidebar .wwct-title {
	font-size: 25px;
	color:#d27f18;
}
.sidebar .wwct-body {
	font-size:16px;
	color:#40556f;
	margin: 10px 0;
}
.sidebar .wwct-subtitle {
	display:block;
	font-size:18px;
	color:#2c5573;
	margin: 10px 0 5px;
}
.sidebar .wwct-wrapper ul {
	margin: 0 20px;
}
.sidebar .wwct-wrapper ul li{
	line-height:1.2em;
	margin-bottom: 0.392em;
	list-style:disc outside none;
}

/* Cheryl Testimonial*/
.sidebar .cheryl-i-testimonial {
	font-family:Arial, Helvetica, sans-serif;
	padding:20px;
	background-color: #e5ebf0;
	border-radius: 12px 12px 12px 12px;
	line-height: normal;
}
.sidebar .cheryl-i-testimonial .sb-cheryl-pic {
	display: block;
	margin: auto;
}
.sidebar .cheryl-i-testimonial .sb-testimonial-p {
	font-size:12px;
	line-height:1.35em;
}
.sidebar .cheryl-i-testimonial .sb-testimonial-p span {
	font-size:16px;
	color:#2c5573;
	font-style:italic;
	font-weight:bold;
}

/* Now Sidebar and Rick G Widget */
.sidebar .sb-testimonial-wrapper {
	background: #f2ead5;
	font-family:Arial, Helvetica, sans-serif;
	padding:20px;
	border-radius: 12px 12px 12px 12px;
	line-height: 18px;
}
.sidebar .sb-testimonial-wrapper img {
	display: block;
	margin: auto;
	margin-bottom: 15px;
}
.sidebar .sb-testimonial-wrapper p {
	font-size:12px;
}
.sidebar .sb-testimonial-wrapper p span {
	font-size:16px;
	color:#2c5573;
	font-style:italic;
	font-weight:bold;
	display:block;
	margin-top: 15px;
}




/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
	font-size: 20px;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {

}

.site-header .wrap {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 2px #555;
	margin-bottom: 0;
	padding: 0 3px;
	position: relative;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	width: 360px;
	position: absolute;
	z-index: 1000;
	height: 85px;
	width: 274px;
	margin-left: 10px;
}

.site-title {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover {
	color: #333;
}
.header-image .site-title > a {
	background: url(images/logo_inner.png) no-repeat left;
	float: left;
	height: 90px;
	width: 284px;
}

.site-title {
	margin-bottom: 0;
}

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.phone_num {
	height: 45px;
	background: #35526B;
	text-align: right;
	overflow: hidden;
}
.phone_num .wrapper {
	max-width: 430px;
	float: right;
}
.phone_num p {
	line-height: 45px;
	font-size: 14px;
	color: #E4A544;
	font-weight: bold;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px #333;
	padding: 0;
	margin-right: 12px;
	float: left;
}
.phone_num p a {
	color: #fff;
	margin-left: 12px;
}

.site-header form.search {
	display: inline-block;
	margin: 0 15px 0 10px;
	padding: 10px 0 0 0;

}
.site-header form.search:after {
	clear: both;
	content: " ";
	display: table;
}
.site-header form.search input[type="text"] {
	background: none repeat scroll 0 0 #ffffff;
	border-color: #333333;
	padding: 3px;
	width: 157px;
	border-color: #aaa #ddd #ddd #aaa;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #444;
	font-size: 11px;
	float: left;
	height: 22px;
}
.site-header form.search input[type="submit"] {
	background: url(images/btn-search.jpg) no-repeat scroll right top transparent;
	border: medium none;
	cursor: pointer;
	height: 22px;
	line-height: 0;
	margin: 0;
	text-indent: -9999px;
	width: 22px;
	float: left;
	padding: 0;
	border-radius: 0;
	margin-left: 3px;
}


/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry,
.entry-news {
	margin-bottom: 40px;
	padding: 20px;
}

body.blog .entry,
body.news .entry-news,
body.reviews .entry {
	border-bottom: 2px solid #f5f5f5;
	margin: 20px;
}

body.news .entry-news img {
	float: right;
	display: block;
	margin-left: 15px;
	border-radius: 12px 12px 12px 12px;
}

body.blog .entry.masthead {
	border-bottom: none;
	margin-bottom: 0;
}

.content .entry {
	background-color: #fff;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}
.entry-content a {
	text-decoration: underline;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #d89138;
}

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	padding: 20px 10px;

}


.sidebar p:last-child,
.sidebar ul > li:last-child {

}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 0px 10px;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	max-width: 960px;
	margin: 0 auto;
}
.site-footer ul.social {
	margin: 0;
	float: right;
	margin-right: 25px;
}
.site-footer ul.social li {
	float: left;
	margin-right: 5px;
	list-style: none;
	padding: 0;
	background: url(images/sprite-social.png) no-repeat;
	height: 25px;
	width: 25px;
}
.site-footer ul.social li a {
	display: block;
	text-indent: -9999px;

}
.site-footer ul.social li.twitter {
	background-position: 0 0;
}
.site-footer ul.social li.twitter:hover {
	background-position: 0 -25px;
}
.site-footer ul.social li.facebook {
	background-position: -50px 0;
}
.site-footer ul.social li.facebook:hover {
	background-position: -50px -25px;
}
.site-footer ul.social li.youtube {
	background-position: -25px 0;
}
.site-footer ul.social li.youtube:hover {
	background-position: -25px -25px;
}
.site-footer ul.social li.linkedin {
	background-position: -75px 0;
}
.site-footer ul.social li.linkedin:hover {
	background-position: -75px -25px;
}
.site-footer ul.social li.google {
	background-position: -100px 0;
}
.site-footer ul.social li.google:hover {
	background-position: -100px -25px;
}

.site-footer img.nas_logo {
	float: left;
	display: block;
	margin: -30px 0 30px 30px;
}

.site-footer a {
	color: #d89138;
}

.site-footer .second-row {
	border-top: 1px solid #60839a;
	padding-top: 20px;
}

.site-footer .second-row:after {
	content: " ";
	display: table;
	clear: both;
}
.site-footer .disclaimer {
	border-top: 1px solid #60839a;
	padding: 20px 30px;
	margin-top: 20px;
}

.site-footer .disclaimer p {
	font-size: 11px;
	line-height: 14px;
}

.site-footer p, .site-footer ul.menu li {
	margin-bottom: 10px;
	font-size: 13px;
	text-shadow: 1px 1px 1px #333;
	color: #fff;
}

/* # Social Shares
---------------------------------------------------------------------------------------------------- */
.social-shares {
	border-bottom: 1px solid #eeeee8;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.social-shares:after {
	clear: both;
	content: " ";
	display: table;
}
.social-shares p {
	display: inline-block;
	font-weight: bold;
	font-size: 11px;
	margin-right: 30px;
}
.googleplustshare,
.facebooktshare,
.twittertshare  {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.facebooktshare {
	margin-top: -5px;
}
.twitter-share-button {
	width: 80px !important;
}

.social-shares a.print {
	text-indent: -9999px;
	width: 73px;
	height: 20px;
	background: url(/assets/print.png) no-repeat;
	display: inline-block;
	margin-right: 15px;
}

.social-shares a.email {
	text-indent: -9999px;
	width: 73px;
	height: 20px;
	background: url(/assets/email.png) no-repeat;
	display: inline-block;
}




/* # Header Slider Home and Inner Pages
---------------------------------------------------------------------------------------------------- */

.site-header .reel {
	max-height: 250px;
	max-width: 960px;
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	background: none;
}
.site-header .reel-images {
}
.site-header .reel-images > a {
	-webkit-transition: none;
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:      none;
	transition:         none;
}
.site-header .reel-images img {
	display: block;
	max-height: 250px;
	width: 960px;
}
.site-header .reel-paging {
	position: absolute;
	bottom: 14px;
	right: 0;
	width: 178px;
	height: 47px;
	z-index: 100;
	text-align: center;
	line-height: 40px;
	display: none;
}
.site-header .reel-paging a {
	border: 1px solid #333366;
	color: #333366;
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #fff;
}
.site-header .reel-paging a.active {
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #ffa805;
}
.site-header .reel-paging a:hover {
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.site-header .reel-descriptions {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 250px;
	z-index: 200;
}
.site-header .reel-desc {
	display: none;
	position: absolute;
	top: 125px;
	left: 0;
	z-index: 1001;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	padding: 20px;
	text-align: center;
}
.site-header .reel-desc p {
	padding: 10px 0;
}
.site-header .reel-desc h2 {
	font-size: 28px;
	color: #fff;
	line-height: 44px;
	font-weight: normal;
	padding-bottom: 1px;
}
.site-header .reel-desc ul {
	margin-left: 25px;
	margin-right: 10px;
}
.site-header .reel-desc ul li {
	margin-bottom: 6px;
}
.site-header .reel-desc a {
	text-decoration: underline;
}

/*CTA on Inner Pages and Home page */
#hp_header_options {
	position: absolute;
	bottom: 30px;
	right: 15px;
	z-index: 200;
}
#hp_header_options a,
#dp_header_options a {
	display: block;
	float: right;
	margin-right: 20px;
	background: url(images/horz_gradient_sprite.png) #fff;
	color: #0f3d71;
	font-weight: bold;
	line-height: 16px;
	font-size: 16px;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 8px 8px 8px 8px;
	-webkit-box-shadow: #999 0 0 5px;
	-moz-box-shadow: #999 0 0 5px;	box-shadow: #999 0 0 5px;
}
#hp_header_options a.hp_mri_review_a,
#dp_header_options a.hp_mri_review_a {
	color:#ffffff;
	background-position: 0 -52px;
}
#hp_header_options a span,
#dp_header_options a span {
	display: block;
	font-size: 11px;
	font-weight: normal;
}
#hp_header_options a:hover,
#dp_header_options a:hover {
	background-position: 0 -52px;
	color: #fff;
	text-shadow: 1px 1px 1px #999;
}
#hp_header_options a:hover span,
#dp_header_options a:hover span {
	color: #fff;
	text-shadow: 1px 1px 1px #999;
}
#hp_header_options span.free,
#dp_header_options span.free {
	display: block;
	height: 84px;
	width: 84px;
	position: absolute;
	right: 0;
	bottom: 30px;
	background: url(images/sprite.png) no-repeat;
	background-position: -61px -5px;
}
#dp_header_options {
	position: absolute;
	bottom: 30px;
	right: 15px;
	z-index: 200;
}

/* header rotation for homepage */
body.home .site-header #header_wrap {
	position: relative;
	height: 605px;
}
body.home .site-header .reel {
	height: 605px;
	max-height: 605px;
	overflow: hidden;
}
body.home .site-header .reel-images {
	width: 953px;
	height: 605px;
	position: absolute;
	top: 0;
	left: 0;
}
body.home .site-header .reel-images img {
	display: block;
	max-height: 605px;
	width: 953px;
}
body.home .site-header .reel-paging {
	position: absolute;
	bottom: 14px;
	right: 0;
	width: 178px;
	height: 47px;
	z-index: 100;
	text-align: center;
	line-height: 40px;
	display: none;
}
body.home .site-header .reel-paging a {
	border: 1px solid #333366;
	color: #333366;
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #fff;
}
body.home .site-header .reel-paging a.active {
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background: #ffa805;
}
body.home .site-header .reel-paging a:hover {
	padding: 4px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
body.home .site-header .reel-descriptions {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 605px;
	z-index: 5;
	background: url(images/grad-l2r-bg.png) repeat-y transparent;
}
body.home .site-header .reel-desc {
	display: none;
	position: absolute;
	top: 160px;
	left: 0;
	z-index: 1001;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	padding: 20px 20px 20px 30px;
	margin-right: 100px;
	text-align: left;
}
body.home .site-header .reel-desc p {
	padding: 10px 0;
}
body.home .site-header .reel-desc h2 {
	font-size: 28px;
	color: #fff;
	line-height: 44px;
	font-weight: normal;
	padding-bottom: 1px;
}
body.home .site-header .reel-desc ul {
	margin-left: 25px;
	margin-right: 10px;
}
body.home .site-header .reel-desc ul li {
	margin-bottom: 6px;
}
body.home .site-header .reel-desc a {
	text-decoration: underline;
}

/* # Global Classes
---------------------------------------------------------------------------------------------------- */
.nas-img-right {
	float:right;
	margin-left:20px;
}
.nas-img-left {
	float:left;
	margin-right:20px;
}
.tdm-imgframe {
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: #ccc 0 0 5px;
}

p.disclaimer {
	font-size: 11px;
}
.disclaimer-white {
	font-size: 11px;
	color: #fff;
}
.disclaimer-white a {
	color: #fff;
	text-decoration: underline;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 766px) {

	/* Site Structure */
	.site-inner,
	.wrap {
		padding-left: 2%;
		padding-right: 2%;
	}

	.sidebar {
		float: none;
		width: 100%;
		padding: 0 10px;
	}

	.content {
		float: none;
		width: 100%;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0 0 10px 0;
		width: 100%;
	}

	body.page h3 {
		font-size: 18px;
	}

	/* Footer */
	.site-footer img.nas_logo {
		float: none;
		margin: -30px auto 30px auto;
	}
	.site-footer ul.social {
		float: none;
		margin: 20px 0;
	}
	.site-footer ul.social:after {
		clear: both;
		display: table;
		content: " ";
	}

	/* Header */
	.site-header {
		display: none;
	}
	.nav-primary {
		display: none;
	}

	.phone_mobile {
		font-size: 14px;
		font-weight: bold;
		padding: 8px 25px !important;
		display: block;
	}
	.phone_mobile a {
		color: #2c5573;
	}
	.shiftnav-inner form.mobile-search {
		padding: 8px 25px;

	}
	.shiftnav-inner form.mobile-search:after {
		clear: both;
		content: " ";
		display: table;
	}
	.shiftnav-inner form.mobile-search input[type="text"] {
		background: none repeat scroll 0 0 #ffffff;
		border-color: #333333;
		padding: 3px;
		width: 80%;
		border-color: #aaa #ddd #ddd #aaa;
		border-image: none;
		border-style: solid;
		border-width: 1px;
		color: #444;
		font-size: 11px;
		float: left;
		height: 22px;
	}
	.shiftnav-inner form.mobile-search input[type="submit"] {
		background: url(images/btn-search.jpg) no-repeat scroll right top transparent;
		border: medium none;
		cursor: pointer;
		height: 22px;
		line-height: 0;
		margin: 0;
		text-indent: -9999px;
		width: 22px;
		float: left;
		padding: 0;
		border-radius: 0;
		margin-left: 3px;
	}

	/* Global */
	.alignleft,
	.alignright {
		float: none;
		display: block;
	}
	body.news .entry-news img {
		float: none;
		margin: 15px auto;
	}

}

/* # Popup
---------------------------------------------------------------------------------------------------- */

#displetpop .privacy {
	display: none;
}
#displetpop .privacy .inner {
	border-top: none;
}

#displetpop .powered {
	display: none;
}

#displetpop .description {
	float: left;
	margin-bottom: 10px;
	width: 279px;
}

#displetpop #displetpop-img {
	background: url('/assets/exit-popup-info-dvd.png') no-repeat left top;
	width: 279px;
	height: 358px;
}

#displetpop .gform_wrapper .gfield_label {
	color: #000;
	font-size: 11px;
	margin-right: 0 !important;
}

#displetpop .gform_wrapper input[type="submit"] {
	margin: 12px 0;
}
#displetpop .form{
	padding: 0px 30px 0px 40px;
}
#displetpop{
	text-align: left;
}
#displetpop .shadow{
	background: url('/assets/displet-pop/shadow.png') 0px 0px repeat;
}
#displetpop .popup{
	background: url('/assets/displet-pop/border.png') 0px 0px repeat;
	padding: 10px;
	border-radius: 24px 24px 24px 24px;
	width: auto;
	max-width: 750px;
}

#displetpop .popupinner {
	border-radius: 16px 16px 16px 16px;
	overflow: hidden;
	background-color: #e8e8e8;
	padding-bottom: 0px;
}

#displetpop .tit{
	display: none;
}
#displetpop .subtit{
	margin-top: 8px;
	margin-bottom: 12px;
	text-align: center;
	padding: 0px 40px;
	font-size: 20px;
	line-height: 22px;
	font-family: 'Arial', sans-serif;
	color: #e28a1e;
	font-weight: bold;
}


#displetpop .description{
	margin-bottom: 25px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Arial', sans-serif;
	color: #999;
	font-weight: bold;
	font-style: italic;
}

#displetpop .gform_wrapper ul li.gfield, #displetpop .gform_wrapper .gform_footer{
	clear: both;
}
#displetpop .gform_wrapper .gform_footer, #displetpop .gform_wrapper, #displetpop .form_list li, #displetpop .gform_wrapper li{
	padding:0 !important;
	margin: 3px 0 !important;
}

#displetpop .gform_wrapper{
	max-width:100%;
	float: right;
	width: 50%;
	background: #e8e8e8;
	border-radius: 0;
	border: none;
}


#displetpop .close{
	position: absolute;
	right: 25px;
	top: 27px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background: url('/assets/displet-pop/close.png') 0px 0px no-repeat;
	text-indent: -9999px;
}

#displetpop .close a{
	display: block;
}

#displetpop .displet{
	margin-left: 5px;
	display: inline-block;
	height: 13px;
	line-height: 13px;
	text-indent: -9999px;
	width: 60px;
	background: url('/assets/displet-pop/displet.png') 0px 0px no-repeat;
}
#displetpop .displet a{
	display: block;
}

/* Accurascope */

.accurascope {
	font-family: 'Open Sans', sans-serif;
}
.accurascope header,
.accurascope footer {
	background: #001728;
}
.accurascope header {
	padding: 15px 0;
}
.accurascope header img {
	display: block;
	width: 65%;
	max-width: 400px;
	margin: 0 auto;
}
.accurascope .containment {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
}
.accurascope main {
	padding: 35px 0 40px;
	background: url('img/bg-main.png') no-repeat;
	background-size: cover;
}
.accurascope main h1,
.accurascope main p {
	text-align: center;
}
.accurascope main h1 {
	margin: 0 0 20px;
	padding-bottom: 0;
	font-size: 2.75rem;
	line-height: 3rem;
	font-weight: 400;
	color: #001728;
}
.accurascope main h1 sup {
	top: -1.25rem;
	font-size: 1rem;
}
.accurascope main p {
	margin: 0 0 30px;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #4a82bd;
}
.accurascope main p sup {
	top: -0.5rem;
	font-size: 0.75rem;
}
.accurascope .features {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
}
.accurascope .features li {
	margin: 0 0 20px;
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-indent: -1.65rem;
}
.accurascope .features li:last-of-type {
	margin: 0;
}
.accurascope .features li:before {
	content: '• ';
	padding: 0 10px 0 0;
	font-size: 1.5rem;
	color: #4a82bd;
}
.accurascope .current-show {
	margin: 0 0 25px;
}
.accurascope .shows {
	text-align: center;
}
.accurascope .shows li {
	position: relative;
	display: inline-block;
	width: 25%;
	margin: 0 20px 0 0;
}
.accurascope .shows li:nth-of-type(2) {
	top: -5px;
}
.accurascope .shows li:last-of-type {
	top: -15px;
	margin: 0;
}
.accurascope footer {
	padding: 35px 0 40px;
	text-align: center;
}
.accurascope footer h1 {
	margin: 0 0 30px;
	padding-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
	color: #4a82bd;
}
.accuraform_wrapper {
	background: 0;
	border-top: 0;
	border-radius: 0;
	padding: 0;
}
.mkto-form form div {
	width: auto;
	display: inline-block;
}
.mkto-form form div:not(:last-of-type) {
	margin: 0 10px 0;
}

.mkto-form form label {
	margin: 0 0 5px;
	font-size: 0.875rem;
	text-transform: uppercase;
	text-align: left;
}
.mkto-form form input[type="text"],
.mkto-form form input[type="email"],
.mkto-form form input[type="num"],
.mkto-form form input[type="tel"] {
	margin: 0 0 15px;
	padding: 15px 10px;
}
.mkto-form form button {
	margin: 20px auto 0;
	padding: 10px 40px;
	border: 0;
	border-radius: 0;
	background: #db6f04 none;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 0.875rem;
}
.mkto-form form button:hover {
	background: #ca5e03;
}
.mkto-form .error {
	border:#CD2124 solid 1px;
	background: #EDB3B4;
}

/* Responsive iFrames */

.responsive-iframe {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	margin: 0;
	height: 0;
	overflow: hidden;
}
.responsive-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 766px) {

	/* Accurascope */

	.accurascope main {
		padding: 40px 0 30px;
	}
	.accurascope main h1 {
		font-size: 2.25rem;
	}
	.accurascope main p {
		margin: 0 0 40px;
		font-size: 1.25rem;
	}
	.accurascope .features {
		margin: 0 0 0 25px;
	}
	.accurascope .features li {
		font-size: 1.125rem;
	}
	.accurascope .features li:last-of-type {
		margin: 0 0 30px;
	}

}

/* Do not display ShiftNav */
#shiftnav-toggle-main {
	display: none !important;
}
