@font-face {
  font-family: 'ArcherSSm-SemiboldItalic';
  src: url('ArcherSSm-SemiboldItalic.eot');
  src: url('ArcherSSm-SemiboldItalic.woff') format('woff'),
       url('ArcherSSm-SemiboldItalic.ttf') format('truetype'),
       url('ArcherSSm-SemiboldItalic.svg#ArcherSSm-SemiboldItalic') format('svg'),
       url('ArcherSSm-SemiboldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

