@font-face {
	font-family: 'ArcherSSm-Bold';
	src: url("../shared/fonts/ArcherSSm-Bold.eot");
	src: url("../shared/fonts/ArcherSSm-Bold.woff") format("woff"), url("./shared/fonts/ArcherSSm-Bold.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Bold.svg#ArcherSSm-Bold") format("svg"), url("./shared/fonts/ArcherSSm-Bold.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-BoldItalic';
	src: url("../shared/fonts/ArcherSSm-BoldItalic.eot");
	src: url("../shared/fonts/ArcherSSm-BoldItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-BoldItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-BoldItalic.svg#ArcherSSm-BoldItalic") format("svg"), url("./shared/fonts/ArcherSSm-BoldItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Book';
	src: url("../shared/fonts/ArcherSSm-Book.eot");
	src: url("../shared/fonts/ArcherSSm-Book.woff") format("woff"), url("./shared/fonts/ArcherSSm-Book.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Book.svg#ArcherSSm-Book") format("svg"), url("./shared/fonts/ArcherSSm-Book.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-BookItalic';
	src: url("../shared/fonts/ArcherSSm-BookItalic.eot");
	src: url("../shared/fonts/ArcherSSm-BookItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-BookItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-BookItalic.svg#ArcherSSm-BookItalic") format("svg"), url("./shared/fonts/ArcherSSm-BookItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Light';
	src: url("../shared/fonts/ArcherSSm-Light.eot");
	src: url("../shared/fonts/ArcherSSm-Light.woff") format("woff"), url("./shared/fonts/ArcherSSm-Light.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Light.svg#ArcherSSm-Light") format("svg"), url("./shared/fonts/ArcherSSm-Light.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-LightItalic';
	src: url("../shared/fonts/ArcherSSm-LightItalic.eot");
	src: url("../shared/fonts/ArcherSSm-LightItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-LightItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-LightItalic.svg#ArcherSSm-LightItalic") format("svg"), url("./shared/fonts/ArcherSSm-LightItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Medium';
	src: url("../shared/fonts/ArcherSSm-Medium.eot");
	src: url("../shared/fonts/ArcherSSm-Medium.woff") format("woff"), url("./shared/fonts/ArcherSSm-Medium.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Medium.svg#ArcherSSm-Medium") format("svg"), url("./shared/fonts/ArcherSSm-Medium.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-MediumItalic';
	src: url("../shared/fonts/ArcherSSm-MediumItalic.eot");
	src: url("../shared/fonts/ArcherSSm-MediumItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-MediumItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-MediumItalic.svg#ArcherSSm-MediumItalic") format("svg"), url("./shared/fonts/ArcherSSm-MediumItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-Semibold';
	src: url("../shared/fonts/ArcherSSm-Semibold.eot");
	src: url("../shared/fonts/ArcherSSm-Semibold.woff") format("woff"), url("./shared/fonts/ArcherSSm-Semibold.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-Semibold.svg#ArcherSSm-Semibold") format("svg"), url("./shared/fonts/ArcherSSm-Semibold.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ArcherSSm-SemiboldItalic';
	src: url("../shared/fonts/ArcherSSm-SemiboldItalic.eot");
	src: url("../shared/fonts/ArcherSSm-SemiboldItalic.woff") format("woff"), url("./shared/fonts/ArcherSSm-SemiboldItalic.ttf") format("truetype"), url("./shared/fonts/ArcherSSm-SemiboldItalic.svg#ArcherSSm-SemiboldItalic") format("svg"), url("./shared/fonts/ArcherSSm-SemiboldItalic.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal
}

body {
	font-family:'archerBook',tahoma,arial,sans-serif;
	background-color:#f0f0f0;
	font-color:#272123;
	font-size:16px;
	font-weight:200;
	letter-spacing:.025em;
	margin:0 auto;
}
h1, h2, h3, h4 {
	font-weight:500;
	color:#000;
}
strong {font-weight:600;}
a {text-decoration:none;color:#000;}
button {cursor:pointer;}
li, p, .custom .breadcrumbs {color: #000!important;}
.shiftnav-wrap {padding-top:0px!important;}
.accurascope-lp {
	max-width:1024px;
	margin:0 auto;
}
header {
	width:100%;
	max-width:1024px;
	margin:0 auto;
	padding-top:23px;
	background-color:#fff;
	border-bottom:10px solid #e8841b;
}
header .desktop {height:80px;width:1024px;}
header img {
	padding:5px 30px 5px 30px;
}
header .logo {
    float: left;
    width: 50%;
	display:inline-block;
	background: #fff;
}
header .call-us {
    float: right;
    width: 50%;
	display:inline-block;
	text-align:right;
}
header .call-us .call-us-content {
	background: rgba(0, 0, 0, 0) url("/assets/phone-icon-orange.png") no-repeat scroll 0 0;
	width:200px;
	text-align:left;
	padding-left:34px;
	float:right;
	margin-top:10px;
	margin-right:20px;
}
header .call-us .call-us-content a {
	font-weight:500;
	font-size:19px;
	color:#f18a2a;
}
header .call-us .call-us-content span {
	color:#00396d;
	font-size:13px;
	font-weight: 700;
}

.bodycopy {
	background-color:#555;
	width:100%;
	margin-top:10px solid #4c4c4c;
	color:#fff;
}
.body-section {
	background-color:#fff;
	color:#000;
	max-width: 1024px;
}
.body-section ul {
	margin:0;
	padding:0;
}
.testimonials-section .video-box {width:100%;text-align:center;}
.testimonials-section .video-box .video-wrapper {text-align:center;margin:30px auto 50px;}
.testimonials-section .video-box .video-wrapper iframe {
	background-color:#000;
	-webkit-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.testimonials-section h2 {font-size:22px;font-weight:500;text-align:center;color:#80a1b6;}
.testimonials-section .section {
	display: inline-block;
    padding: 40px 10px 30px 10px;
    text-align: center;
    vertical-align: top;
    width: 33%;
}
.body-section img.icon {
	text-align:center;
	height:37px;
	width:auto;
}
.testimonials-section h3 {
	font-size:15px;
	margin-bottom:0;
	color:#fff;
	padding: 0 50px;
	line-height:23px;
}
.body-section p {
	text-align:center;
	font-size:17px;
	margin-top:0;
	padding-top:0;
	color:#fff!important;
}
footer {
	background-color:#fff;
	text-align:center;
	color:#000;
	font-size:14px;
	clear:both;
	min-height:180px;
	padding:20px 0;
}
footer .col-sm-6 {float:left;width:50%;display:inline-block;}
footer .col-sm-12 {float:left;width:100%;display:inline-block;margin-bottom:10px;}
footer button {
    background-color: #f98e2b;
	border:0;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
	border-radius:4px;
	padding:7px 15px;
}
footer h3 {font-size:16px;padding:30px 10px 5px;margin:0 auto;font-weight:700;}
footer h3 a {color:#000;}
footer h4 {font-size:16px;padding:20px 10px 6px;margin:0 auto;font-weight:500;}
footer p {font-size:12px;max-width:920px;margin:0 auto;padding:6px 10px;}
footer strong {font-weight:500;}

/* DVD Section */
.dvd {background-color:#d4cfcc;float:left;width:100%;padding:30px 0;text-align:center;}
.dvd p {color:#000!important;}
.dvd a {font-weight:600;color:#000;}
.dvd img {text-align:center;margin-top:10px;}


/* Fixed-nav-bar */
.fixed-nav-bar {
  position: fixed;
  margin-top: -70px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #fff;
}
.fixed-nav-bar-content {
  margin:0 auto;
  max-width:1024px;
}
.fixed-nav-bar-content .logo {float:left;text-align:left;width:50%;}
.fixed-nav-bar-content .logo img {height:45px;margin-top:15px;margin-left:10px;}
.fixed-nav-bar-content .call-us {float:right;text-align:right;width:50%;}
.fixed-nav-bar-content .call-us img {height:40px;margin-top:15px;margin-right:10px;}
.fixed-nav-bar-content .call-us div {background-color:#54b7b2;margin-right:54px;width:400px;height:70px;margin-left:58px;}
.fixed-nav-bar-content .call-us div h2{text-align:center;padding:1px 0 0;margin:0;font-weight:600;font-size:21px;line-height:22px;}
.fixed-nav-bar-content .call-us div h3{text-align:center;padding:0;margin:0;font-size:14px;line-height:18px;}
.fixed-nav-bar-content .call-us div h3 a {color:#000;}
.fixed-nav-bar.main-nav-scrolled {
  top:70px;-webkit-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
 }
 .fixed-nav-bar-content .call-us.desktop div {margin-right:0px;}
 .fixed-nav-bar-content .call-us.desktop .call-us-content {background: rgba(0, 0, 0, 0) url("/assets/phone-icon-orange.png") no-repeat scroll 0 0; width:200px; text-align:left; padding-left:34px; float:right; margin-top:13px;}
.fixed-nav-bar-content .call-us.desktop .call-us-content a {font-weight:500; font-size:19px;color:#f18a2a;}
.fixed-nav-bar-content .call-us.desktop .call-us-content span {color:#00396d;}

/* DispletPop */
#displetpop .privacy {
    display: none;
}
#displetpop .privacy .inner {
    border-top: medium none;
}
#displetpop .powered {
    display: none;
}
#displetpop .description {
    float: left;
    margin-bottom: 10px;
    width: 279px;
}
#displetpop #displetpop-img {
    background: rgba(0, 0, 0, 0) url("/assets/exit-popup-info-dvd.png") no-repeat scroll left top;
    height: 358px;
    width: 279px;
}
#displetpop button {
    margin: 12px 0;
}
#displetpop .form {
    padding: 0 30px 0 40px;
}
#displetpop label {
    color: #000;
    font-size: 12px;
    margin-top: 2px;
}
#displetpop {
    text-align: left;
}
#displetpop .shadow {
    background: rgba(0, 0, 0, 0) url("/assets/displet-pop/shadow.png") repeat scroll 0 0;
}
#displetpop .popup {
    background: rgba(0, 0, 0, 0) url("/assets/displet-pop/border.png") repeat scroll 0 0;
    border-radius: 24px;
    max-width: 750px;
    padding: 10px;
    width: auto;
}
#displetpop .popupinner {
    background-color: #e8e8e8;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 0;
}
#displetpop .tit {
    display: none;
}
#displetpop .subtit {
    color: #e28a1e;
    font-family: "Arial",sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 12px;
    margin-top: 8px;
    padding: 0 40px;
    text-align: center;
}
#displetpop .description {
    color: #999;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 25px;
    padding-right: 10px;
}
#displetpop .mkto-form {
    background: #e8e8e8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    float: right;
    max-width: 100%;
    width: 50%;
}
#displetpop .close {
    background: rgba(0, 0, 0, 0) url("/assets/displet-pop/close.png") no-repeat scroll 0 0;
    height: 26px;
    line-height: 26px;
    position: absolute;
    right: 25px;
    text-indent: -9999px;
    top: 27px;
    width: 26px;
}
#displetpop .close a {
    display: block;
}
#displetpop .displet {
    background: rgba(0, 0, 0, 0) url("/assets/displet-pop/displet.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    line-height: 13px;
    margin-left: 5px;
    text-indent: -9999px;
    width: 60px;
}
#displetpop .displet a {
    display: block;
}
#displetpop {display:none!important;}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width:1024px) {
	.body-section {
		width:1024px;
		margin:0 auto;
		height: auto;
	}
	.form .gform_wrapper #field_56_1 {width:47%;float:left;position:relative;display:inline-block;}
	.form .gform_wrapper #field_56_2 {width:47%;float:left;position:relative;display:inline-block;margin-left:3%;}
	.in-touch {width:100%;background-color:#fff;float:left;}
	.in-touch h3 {color:#00396d;text-align:center;font-size:20px;font-weight:700;margin-top:40px;margin-bottom:20px;}
	.in-touch p {color: #000 !important; font-size: 17px; font-weight: 500; line-height: 26px; padding: 40px 60px 20px;}
	.in-touch p a {color:#f18a2a;font-weight:600;}
	.testimonials-section a {
		width:100%;
		text-decoration:none;
	}
	.testimonials-section button {
    	background-color: #d8862a;
    	border-top: 2px solid #efa653;
    	border-style: solid none;
    	color: #fff;
    	height: 50px;
    	text-align: center;
    	width: 320px;
		border-bottom: 2px solid #4d4c4d;
		margin-top:0px;
		margin-bottom:40px;
		font-size:16px;
		margin:0 auto;
		display:block;
	}
	.mobile {display:none;}
	.tablet {display:none;}
	.desktop {display:inline-block;}
	.testimonials-section {
		background: #00396d url("./img/nas-background.jpg") repeat-x scroll 0 0;
    	color: #fff;
    	display: block;
		float:left;
		width:100%;
	}
	.testimonials-section ul {
		padding:0 10px;
	}
	.testimonials-section .section {width:32%; padding:10px 0 60px;}
	.testimonials-section .section.section1 {
		padding-left:0px;
	}
	.testimonials-section h1 {
		color: #f98e2b;
		font-size: 26px;
		font-weight: 500;
		text-align: center;
		padding:40px 0 0px;
	}
	.testimonials-section .section .section h2 {color:#80a1b6;float:left;width:100%;text-align:center;margin-top:10px;margin-bottom:0px;padding:30px 0 0;}
	.testimonials-section .section .section h3 {color:#fff;float:none;width:100%;max-width:260px;margin:10px auto 0;text-align:center;}
	.testimonials-section .video-box .video-wrapper iframe {width:900px; height:506px;}
	.modules {
		width: 1024px;
		text-align:center;
		position:relative;
	}
	.modules ul {
		list-item-type:none;
	}
	.modules > ul > li {
		display:inline-block;
		float:left;
		padding:0px;
		width:49.6%;
	}
	.modules.section-one > ul > li > ul > li {margin-bottom:10px;}
	.modules.section-two > ul > li > ul > li {margin-bottom:0px;}
	.modules ul li:first-child {
		background-size: 100% auto;
		margin-right:0.8%;
	}
	.modules ul li span {
		text-decoration:none;
		display:inline-block;
		position:relative;
		text-align:center;
	}
	.modules ul li img {
		width:100%;
		height:auto;
	}
	.body-section .bullets ul.precision li {max-width:440px;}
	.modules ul li:last-child {
	}
	.modules.section-one > ul > li:first-child {
		background-color:#e6e6e7;
		min-height:365px;
	}
	.modules.section-one > ul > li:last-child {
		background-color:#e6e6e7;
		min-height:365px;
	}
	.modules.section-one > ul > li:first-child h2 {background-color:#f98e2b;color:#fff;font-size:18px;font-weight:700;margin:0;padding:12px;}
	footer .stillhavequestions span {font-size:20px;}
	br.desktop {display:block;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { select { -webkit-appearance: menulist-button; } }

@media only screen and (max-width:1023px) {
	br.desktop {display:none;}
	.mobile {display:none;}
	.tablet {display:inline-block;}
	.desktop {display:none;}
	.mobile.tablet {display:inline-block;}
	.call-us.mobile a {width:auto!important;}
	.call-us.mobile a img {width:100%;height:auto;max-width:450px;}
	.accurascope-lp {
		top:0;
	}
	header {
		width: 100%;
		max-width:640px;
		margin:0 auto;
		text-align:center;
		border-bottom:10px solid #e8841b;
		height:115px;
		padding-top:0;
		padding-bottom:5px;
		overflow:hidden;
	}
	header > img {
		float:left;
		width:50%;
	}
	header .logo {text-align:left;}
	header .logo img {padding:5px 0 5px 10px;}
	header .call-us {text-align:right;}
	header .call-us img {padding:5px 20px 5px 0;}
	header .tablet {width:100%;}
	header .tablet .logo {float:left; width:50%;height:153px;}
	header .tablet .logo img {width:auto;height:79px;padding:20px 0 10px 30px;}
	header .tablet .call-us {float:left;height:153px;}
	header .tablet .call-us a {display:block;text-align:right;}
	header .tablet .call-us a img {height:51px;width:auto;margin-top:30px;margin-right:10px;}
	.body-section {
		max-width:640px;
		margin:0 auto;
	}
	.body-section ul {
		padding: 0px!important;
	}
	.testimonials-section h1 {
		color: #f98e2b;
		font-size: 26px;
		font-weight: 500;
		text-align: center;
		padding:40px 0 0px;
	}
	.body-section p {
		padding:30px 20px 30px;
		margin-bottom:0px;
		font-size:15px;
		font-weight:500;
		color:#634f4e !important;
	}
	.body-section ul p {
		padding:20px 40px;
		text-align:left;
	}
	.bodycopy {
		width:100%;
		max-width: 640px;
		margin:0 auto;
		text-align:center;
	}
	.body-section ul {
		list-item-type:disc;
		text-align:left;
		padding:30px;
		margin:0 40px;
	}
	.testimonials-section .section {width:49%;}
	.body-section .testimonials-section ul li {
		float:none;
		max-width:100%;
		padding:0;
		list-style-type:disc;
		text-align:left;
	}
	
	.body-section .testimonials-section ul {
		margin:0 30%;
	}
	.body-section .testimonials-section .section:first-child ul li {
		margin:0;
	}
	.body-section ul p {
		padding:0;
	}
	.testimonials-section button {
    	background-color: #d38532;
    	border-top: 2px solid #efa653;
    	border-style: solid none;
    	color: #fff;
    	height: 50px;
    	margin-bottom: 10px;
    	text-align: center;
    	width: 250px;
		border-bottom: 2px solid #4d4c4d;
		margin-top:40px;
		font-size:16px;
	}
	.testimonials-section {
		max-width:640px;
		margin:0 auto;
		padding:0;
		background:#00396d url("./img/nas-background.jpg") repeat-x scroll 0 0;
	}
	.testimonials-section h1 {color:#fff;text-align:center;padding:40px 20px 20px;font-size:20px;margin:0px;}
	.testimonials-section hr {display:none;}
	.testimonials-section .section {
		text-align:center;
		padding: 20px 0;
		background-color:transparent;
		color:#000;
		width: 100%;
	}
	.testimonials-section .section1 {margin-top:20px;}
	.testimonials-section .section3 {margin-bottom:20px;}
	.testimonials-section .section ul {margin:0 10%;}
	.testimonials-section h2 {padding:10px 20px 0;font-size:18px;font-weight:500;}
	.testimonials-section .section p {
		max-width:400px;
		margin:0 auto;
		padding: 0 20px;
		color:#fff;
	}
	.testimonials-section .section p em {color:#fff!important;font-weight:300;float:left;width:100%;margin-top:5px;}
	.testimonials-section a.mobile {
		width:100%;
		text-align:center;
		margin-bottom:20px;
	}
	.testimonials-section .section h3 {max-width:450px;margin:0 auto;}
	.contactustoday {
		background-color:#fff;
		height:auto;
		min-height:40px;	
	}
	.contactustoday .contactustoday-content {padding:0px 40px;text-align:center;}
	.contactustoday p {width:100%;margin:0;padding:0;text-align:center;}
	.contactustoday button {float:none;margin:20px 0 0;display:inline-block;}
	.modules {
		text-align:center;
		margin: 0px auto;
		width:100%;
		max-width:640px;
		height:auto;
	}
	.modules ul {
		list-item-type:none;
		padding:0;
		margin:0;
	}
	.modules ul li {
		display:inline-block;
		float:none;
		padding:0px;
		width:100%;
		height:auto;
	}
	.modules.section-one > ul > li:first-child {
		background-color:#e6e6e7;
		background-size:100% auto;
		border-bottom:0;
		text-align:center;
		min-height:300px;
	}
	.modules.section-one > ul > li:first-child h2 {
    	width:100%;
		background-color:#f98e2b;
		padding:10px 0;
		margin:0;
		color:#fff;
	}
	.modules.section-one > ul > li:last-child {
		display:none;
	}
	.body-section ul p {
    	margin:0 auto;
		text-align:center;
		padding:30px 20px 20px;
	}
	.modules ul li span {
		display: block;
		float: left;
		margin: -20% auto 0;
		position: relative;
		text-decoration: none;
		width: 100%;
	}
	.modules ul li:first-child button {
    	background-color: #e55200;
    	border: 1px solid #b94300;
    	border-radius: 4px;
    	color: #fff;
    	display: block;
    	font-size: 18px;
    	height: 40px;
    	margin: 0 auto;
    	text-align: center;
    	padding:0 14px;
	}
	.modules ul li:last-child {
		background-color: #634f4e;
    	border-top: 8px solid #5e4746;
		margin-top:3px;
	}
	.modules ul li:last-child button {
    	background-color: #e55200;
    	border: 1px solid #b94300;
    	border-radius: 4px;
    	color: #fff;
    	display: block;
    	font-size: 18px;
    	height: 40px;
    	margin: 0 auto;
    	text-align: center;
		padding:0 14px;
	}
	.modules ul li img {
		width:100%;
		height:auto;
		display:block;
		margin:0 auto;
		text-align:center;
	}
	.quote {float:left;position:relative;padding:60px 0;}
	.calltoday {clear:none;}
	.calltoday .col-sm-12 {width:100%;}
	.calltoday p {padding:4px 20px 20px;}
	#shiftnav-toggle-main, #shiftnav-main {display:none!important;}
	.omega-procedure .mobile {display:block;width:100%;}
	.omega-procedure .mobile img {float:left;}
	footer {	
		float:none;
		width:100%;
		height:auto;
		max-width:640px;
		min-height:190px;
		margin:0 auto;
		color:#000;
		border-top:0;
	}
	footer .col-sm-12 {float:none;display:inline-block;width:90%;}
	footer .col-sm-6 {float:none;width:100%;display:inline-block;}
	footer .col-sm-6 .please-note {text-align:center;}
	footer .col-sm-6 ul.legal {margin:20px auto;width:216px;float:none;}
	footer .legal {width:210px; padding: 0 20px; margin:20px auto 0;float:none;}
	footer .stillhavequestions p {
    text-align: center;
	}
	footer .stillhavequestions p img {float:none;margin-bottom:10px;}
	footer .stillhavequestions span {
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
	}
	.form {border-bottom-left-radius:0;border-bottom-right-radius:0;}
	/* Fixed Nav Bar */
	.fixed-nav-bar {
	  position: fixed;
	  margin-top: -70px;
	  left: 0;
	  z-index: 9999;
	  width: 100%;
	  height: 70px;
	  background-color: #fff;
	}
	.fixed-nav-bar-content {
	  margin:0 auto;
	  max-width:640px;
	}
	.fixed-nav-bar-content .logo {float:left;text-align:left;width:50%;}
	.fixed-nav-bar-content .logo img {height:55px;margin-top:5px;margin-left:10px;}
	.fixed-nav-bar-content .call-us {float:right;text-align:right;width:50%;}
	.fixed-nav-bar-content .call-us img {height:40px;margin-top:15px;margin-right:10px;}
	.fixed-nav-bar.main-nav-scrolled {
	  top:70px;-webkit-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
	  -moz-box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
	  box-shadow: 0px 10px 7px -3px rgba(0,0,0,0.2);
	 }
	  
	.body-section p {
		padding:10px 20px 20px;
	}
	.in-touch h3 {
		color: #00396d;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		margin:40px 20px 0;
	}
	.testimonials-section h1 {color:#f98e2b;}
	.testimonials-section p {color:#fff!important;padding:0 20px;}
	.testimonials-section .video-box .video-wrapper {width:auto;}
	.in-touch p {padding:50px 40px 50px;}
	/* DispletPop */
	#displetpop #displetpop-img {
		display:none;
	}
	#displetpop .mkto-form {
		width: 100%;
	}	
}
@media only screen and (min-width:641px) and (max-width:1023px) {
	.testimonials-section .section {}
	.testimonials-section .section1 {width:50%;float:left;margin-top:0px;}
	.testimonials-section .section2 {width:50%;float:right;}
	.testimonials-section .section3 {width:100%;}
	.testimonials-section .video-box .video-wrapper iframe {width:510px;height:287px;}
}
@media only screen and (max-width:640px) {
	header {height:115px;overflow:hidden;}
	header .tablet .logo img {height:80px;width:auto;}
	header .tablet .call-us a img {height:50px;width:auto;margin-top:30px;padding-right:0px;margin-right:20px;}
	.fixed-nav-bar-content .logo img {margin-top:7px;}
	.body-section .factssection .section:first-child ul li {max-width:300px;margin:0 auto;}
	.testimonials-section .video-box .video-wrapper iframe {width:459px;height:258px;}
}
@media only screen and (max-width:480px) {
	header {height:95px;overflow:hidden;}
	header .tablet .logo img {height:80px;}
	header .tablet .call-us a img {height:40px;margin-top:28px;margin-right:20px;}
	.fixed-nav-bar-content .call-us img {height:30px;margin-top:20px;}
	.testimonials-section .video-box .video-wrapper iframe {width:300px;height:169px;}
	
}