@font-face {
  font-family: 'ArcherSSm-MediumItalic';
  src: url('ArcherSSm-MediumItalic.eot');
  src: url('ArcherSSm-MediumItalic.woff') format('woff'),
       url('ArcherSSm-MediumItalic.ttf') format('truetype'),
       url('ArcherSSm-MediumItalic.svg#ArcherSSm-MediumItalic') format('svg'),
       url('ArcherSSm-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

