@font-face {
  font-family: 'ArcherSSm-Bold';
  src: url('ArcherSSm-Bold.eot');
  src: url('ArcherSSm-Bold.woff') format('woff'),
       url('ArcherSSm-Bold.ttf') format('truetype'),
       url('ArcherSSm-Bold.svg#ArcherSSm-Bold') format('svg'),
       url('ArcherSSm-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

