@font-face {
  font-family: 'ArcherSSm-Medium';
  src: url('ArcherSSm-Medium.eot');
  src: url('ArcherSSm-Medium.woff') format('woff'),
       url('ArcherSSm-Medium.ttf') format('truetype'),
       url('ArcherSSm-Medium.svg#ArcherSSm-Medium') format('svg'),
       url('ArcherSSm-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

