@font-face {
  font-family: 'ArcherSSm-LightItalic';
  src: url('ArcherSSm-LightItalic.eot');
  src: url('ArcherSSm-LightItalic.woff') format('woff'),
       url('ArcherSSm-LightItalic.ttf') format('truetype'),
       url('ArcherSSm-LightItalic.svg#ArcherSSm-LightItalic') format('svg'),
       url('ArcherSSm-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

