/* Header and Top Nav */
.site-header .site-branding {
 text-align: center;
}
.site-header .site-branding .container .logo {
 left:0;
 margin-top:0;
 position:relative;
}
.phone-spot.open-mob {
 right:0;
}
@media screen and (max-width: 991px) {
 .site-branding .logo {
  left: -10px;
  margin-top: -11px;
  position: relative;
 }
}

/* Main Navigation */
.main-navigation .menu-main-container {
 position:relative;
 top:21px;
 left:0;
 text-align: left;
 display:inline-block;
 float:left;
}
.main-navigation .menu-alt-main-menu-container h3 {
 margin: 20px auto 0;
}
.main-navigation .ask-expert {
 float: right;
}

.ask-expert .contactus-icon {
 background: url('../shared/img/contact-us.png') no-repeat;
 width: 40px;
 margin: 10px;
 height: 40px;
 background-size: auto auto;
 background-position: center center;
 position:relative;
}

/* Hero */
.hero .slick-track, .hero .slick-list {
 width:100%;
}

@media screen and (min-width: 992px) {
 .main-navigation .menu-main-container, .main-navigation .menu-alt-main-menu-container {
  display: inline-block;
  position: relative;
  top: 20px;
  left:0px;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  width:100%;
 }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
 .main-navigation .menu-main-container, .main-navigation .menu-alt-main-menu-container {
  display: inline-block;
  position: relative;
  top: 20px;
  float:left;
  left:0px;
  text-align: left;
 }
}