/*!
Theme Name: North American Spine
Theme URI: http://zogdigital.com/
Author: ZOG Digital
Author URI: http://zogdigital.com/
Description: The main North American Spine theme.
Version: 1.0
*/


/* Programatic Forms */
@import "../../../plugins/programmatic-forms/src/includes/bundle";

/* Displet Pop */
@import "../../../plugins/displet-pop/style";

/* Bootstrap Styles */
@import "_partials/bootstrap";
@import "_partials/bootstrap-theme";

/* Slick */
@import "_partials/slick";

@import "_partials/font-awesome";

@import "_partials/fonts";
@import "_partials/variables";
@import "_partials/globals";




.hero{
	height: 475px;
	position: relative;

	.each-slide{
		padding: 100px 0 100px 0px;
		position: relative;
		height: 100%;
		background-size: cover !important;

		.center-content{
			position: relative;
			width: 45%;
		}
		h1{
			margin: 0;
			color: $textwhite;
			font-family: 'archerMediumItalic';
			font-size: 3rem;
			line-height: 3.5rem;
		}
		p{
			color: $textwhite;
			font-size: 1.5rem;
			padding-left: 14px;
			position: relative;
			margin-top: 20px;
			margin-left: 0px;
		}
	}

	.slick-track, .slick-list{
		height: 100%;
	}
}

.blue-sub{
	text-align: center;
	background: $blue;
	color: $textwhite;
	padding: 30px 4rem 20px;

	h2{
		margin-top: 0;
		font-size: 1.5em;
		font-weight: 300;
		border-bottom: 1px solid #30425a;
	}
	h3 {
		color: #f38c2d;
		font-style: italic;
		margin-top: 10px;
	}
	ul {
		font-size: 1.167rem;
		font-family: 'archerLight';
		width: 100%;
		max-width: 1200px;
		margin: 0px auto 15px;
		color: #fbfbfb;
	}
	ul li {
		padding: 4px 10px;
		font-weight: 600;
		display: inline;
		padding: 0 10px;
		border-left: solid 1px #ef8d31;
		font-size: 14px;
		// border-left: none;
		&:first-child {
			border-left: none;
		}
	}
	p{
		font-size: 1.167rem;
	 	font-family: 'archerLight';
	 	width: 50%;
	 	margin: 0px auto 15px;
	 	color: $textwhite;
	}
}

.slider{
	background: $white;

	.condition-procedure{

		.fade-area{

			ul{

				li.move-down{
					margin-top: 35px;
				}
			}

			.target-corners-left{
				position: absolute;
				left: -50px;
				top: 0;
				height: 100%;
				width: 25px;

				&:before{
					width: 20px;
				    height: 20px;
				    position: absolute;
				    top: 25px;
				    left: 25px;
				    content: '';
				    border: 3px solid #ddd;
				    border-top-left-radius: 5px;
				    border-right: none;
				    border-bottom: none;
				}
				&:after{
					width: 20px;
				    height: 20px;
				    position: absolute;
				    bottom: 0px;
				    left: 25px;
				    content: '';
				    border: 3px solid #ddd;
				    border-bottom-left-radius: 5px;
				    border-right: none;
				    border-top: none;
				}
			}

			.target-corners-right{
				position: absolute;
				right: -50px;
				top: 0;
				height: 100%;
				width: 25px;

				&:before{
					width: 20px;
				    height: 20px;
				    position: absolute;
				    top: 25px;
					content: '';
				    right: 25px;
				   
				    border: 3px solid #ddd;
				    border-top-right-radius: 5px;
				    border-left: none;
    				border-bottom: none;
				}
				&:after{
					width: 20px;
				    height: 20px;
				    position: absolute;
				    bottom: 0px;
					content: '';
				    right: 25px;
				    
				    border: 3px solid #ddd;
				    border-bottom-right-radius: 5px;
				    border-left: none;
    				border-top: none;
				}
			}

			img{
				max-height: 350px;
				max-width: 100%;
			}
		}
	}

	.thirds{
		padding: 0 50px 50px 50px; 
		margin-bottom: 50px;
		min-height: 275px;

		.invert{
			position: absolute;
			bottom: 0;
		}

		&:nth-child(2){
			/* IE10+ */ 
			background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D2D8E2 100%);

			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D2D8E2 100%);

			/* Opera */ 
			background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D2D8E2 100%);

			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(100, #D2D8E2));

			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D2D8E2 100%);

			/* W3C Markup */ 
			background-image: linear-gradient(to top, #FFFFFF 0%, #D2D8E2 100%);

		}
	}
}

aside#secondary{

	.request-info-kit{

		h3{
			margin-top: 0;
			padding-top: 35px;
		}

		.btn-orange{
			max-width: 100%;
		    min-width: auto;
		}
	}
}

.request-info-kit {
	position: relative;
	a:not(.btn-orange){
		position: relative;
		height: 320px;
		width: 100%;
		display: block;
		img{
			position: absolute;
			left: 50%;
			transform: translateX(-50%) rotate(0);
			height: 320px;
			transition: all 0.5s ease-out;
		}
	}

	&:hover{
		a:not(.btn-orange){
			img{
				&:first-child{
					transform: translateX(-50%) rotate(-1.5deg);
					height: 325px;
				}
				&:last-child{
					transform: translateX(-50%) rotate(2.5deg);
					height: 325px;
				}
			}
		}
		a.btn-orange{
			color: $textwhite;

			&:before{
				height: 100%;
			}
		}
	}

	a:not(.btn-orange){
		display: block;
	}

}

.info{

	.gray{
		background: $midgray;
		padding: 0 0 0px 0;
	}
	.half{
		width: 50%;
		float: left;
		text-align: center;

		&.video{
			// background: $blue;
			padding-bottom: 35px;
		}

		&.request{
			position: relative;
			a:not(.btn-orange){
				position: relative;
				height: 320px;
				width: 100%;
				display: block;
				img{
					position: absolute;
					left: 50%;
					transform: translateX(-50%) rotate(0);
					height: 320px;
					transition: all 0.5s ease-out;
				}
			}

			&:hover{
				a:not(.btn-orange){
					img{
						&:first-child{
							transform: translateX(-50%) rotate(-1.5deg);
							height: 325px;
						}
						&:last-child{
							transform: translateX(-50%) rotate(2.5deg);
							height: 325px;
						}
					}
				}
			}

		}
		
		&.request{

			a:not(.btn-orange){
				display: block;
			}
		}

		&.approach, &.loc{
			text-align: left;
			padding: 35px 120px 50px;
		}

		&.approach{
			// background: url('assets/img/approach.jpg') center center no-repeat;
			background-size: cover !important;
			text-align: center;

			h3, h4, p{
				color: $textwhite;
				text-align: left;
			}

			.btn-orange{
				color: $textwhite;
			}
		}

		&.loc{
			// background: url('assets/img/map.png') center center no-repeat;
			background-size: auto 100% !important;
			text-align: center;

			h3, h4, p{
				text-align: left;
			}
			a.btn-orange{
				margin-left: 15px;
			}
		}
	}
	&:after{
		visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	}
}

.mob-only{
	text-align: center;
	padding: 25px 0;

	h3{
	    font-size: 1.5rem;
	    margin-top: 10px;
	}
	i{
		margin: 0px auto;
	}
	a{
		position: relative;
	}

	.border{
		position: relative;
		&:after{
			height: 100px;
			width: 1px;
			background: $textblue;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.row{
		.border:last-child{
			&:after{
				display: none;
			}
		}
	}
}

.condition-procedure{
	padding: 30px 0;

	.slick-list{
		overflow: visible !important;
	}

	h3{
		font-size: 1.5rem;
		margin-top: 45%;
		position: relative;

		// &:before{
		// 	width: 20px;
		// 	height: 20px;
		// 	position: absolute;
		// 	top: -25px;
		// 	left: -25px;
		// 	content: '';
		// 	border: 3px solid $gray;
		// 	border-top-left-radius: 5px;
		// 	border-right: none;
		// 	border-bottom: none;
		// }

		// &:after{
		// 	width: 20px;
		// 	height: 20px;
		// 	position: absolute;
		// 	bottom: -100px;
		// 	left: -25px;
		// 	content: '';
		// 	border: 3px solid $gray;
		// 	border-bottom-left-radius: 5px;
		// 	border-right: none;
		// 	border-top: none;
		// }
	}
	.fade-area{
		div:last-child{
			h3{
				// &:before{
				// 	left: initial;
				// 	right: -25px;
				// 	border: 3px solid transparent;
				// 	border-top-right-radius: 5px;
				// 	border-right: 3px solid $gray;
				// 	border-top: 3px solid $gray;
				// }
				// &:after{
				// 	left: initial;
				// 	right: -25px;
				// 	border: 3px solid transparent;
				// 	border-bottom-right-radius: 5px;
				// 	border-right: 3px solid $gray;
				// 	border-bottom: 3px solid $gray;
				// }
			}
		}
	}

	img{
		margin: 0px auto;
		display: block;
	}

	ul{
		li{
			a{
				color: $orange;
				font-size: 1.33rem;
			}
		}
	}

}

#conditions #request-info-block{
	.right-50{
		
		&:after{
			width: 50vw;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
			background: #ddd;
			z-index: -1;
		}
	}
}

.request-alt-block{
	&:after{
		width: 50vw;
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		background: #ddd;
		z-index: -1;
	}
}

#conditions{

	.request-alt-block.updatefix{
		position: relative;
		padding: 35px;
		background: $gray;
		width: calc(100% + 70px);

		.toggle-area{
			text-align: center;

			&:hover{
				a.btn-orange{
					color: #fbfbfb !important;

					&:before{
						height: 100%;
					} 
				}
			}

		}

		h2{
		    color: #233c69;
		    padding-bottom: 25px;
		    margin-bottom: 25px;
		    margin-top: 0;
		    border-bottom: #80a0b6 2px solid;
		}

		a:not(.btn-orange){
			position: relative;
			height: 320px;
			width: 100%;
			display: block;

			img{
				position: absolute;
			    left: 50%;
			    transform: translateX(-50%) rotate(0);
			    height: 320px;
			    transition: all 0.5s ease-out;
			}
		}

		&:hover{

			a:not(.btn-orange){

				img{

					&:first-child{
						transform: translateX(-50%) rotate(-1.5deg);
						height: 325px;
					}
					&:last-child{
						transform: translateX(-50%) rotate(2.5deg);
						height: 325px;
					}
				}
			}
		}
	}
	

	.each-block-all{
		position: relative;
		clear: both;

		.left-50{
			width: 50%;
			float: left;

			.each-block-lock{
				width: 100%;
				padding: 50px 35px 50px 20px;
				background: $lightblue;
				color: $textwhite;

				h1{
					padding-bottom: 25px;
					margin-bottom: 25px;
					margin-top: 0;
					border-bottom: 2px solid $textdarkblue;
				}

				h4{
					line-height: 1.75rem;
				}

				p, h4{
					color: $textwhite;
				}
				img{
					display: block; 
					margin: 15px auto;
					max-width: 100%;
				}
				h4{
					margin-bottom: 20px;
					line-height: 1.6;
				}
				ul{
					margin-top: 25px;
					padding-left: 50px;
					position: relative;
					font-family: 'archerBoldItalic';

					li{
						list-style-type: disc;
						margin-left: 15px;
						padding-left: 0px;
						font-family: 'archerBook';
						margin-bottom: 5px;

						&:first-child{
							margin-top: 10px;
						}

						a{
							color: $textblue;
							transition: 0.2s linear all;

							&:hover{
								color: $textblue;
								text-decoration: underline;
							}
						}

						ul{
							padding-left: 25px;
   							margin-top: 5px;
   							margin-bottom: 5px;

   							&:before{
   								display: none;
   							}

   							li{
								list-style-type: circle;
   							}
						}
					}

					&:before{
						background: url('assets/img/heart_icon.svg') center center no-repeat;
						background-size: 100% auto;
						width: 40px;
						height: 35px;
						content: '';
						position: absolute;
						top: 0;
						left: 0px;
					}
				}


				p{
					a{
						color: $textblue;
						
						transition: 0.2s linear all;

						&:hover{
							color: $textblue;
							text-decoration: underline;
						}
					}
				}
				

				&.first-lock{

				}
			}
		}
		.right-50{
			width: 50%;
			float: right;

			.each-block-info{
				padding: 56px 0px 35px 35px;
				

				img{
					margin: 15px auto 25px auto;
					display: block;
					max-width: 100%;
				}
				h2{
					color: $textblue;
					padding-bottom: 25px;
					margin-bottom: 25px;
					margin-top: 0;
					border-bottom: $lightblue 2px solid;
					position: relative;
					display: flex;

					span.title-entry {
						margin-right: 0.5rem;
					}
				}
				h4{
					margin-bottom: 25px;
					line-height: 1.75rem;

					a{
						font-family: inherit;
					}
				}
				ul{
					// -webkit-column-count: 2;
					// -moz-column-count: 2;
					// -o-column-count: 2;
					// column-count: 2;

					li{
						margin-bottom: 7px;
						margin-right: 10px;
						color: $blackcont;

						a{
							
							color: $textblue;
							text-decoration: underline;
							transition: 0.3s linear all;

							&:hover{
								color: $orange;
								
							}
						}
					}
				}

				.doctors-list{
					ul{
						&.first-level{
							padding-left: 0px;
							margin-bottom: 35px;
							
							>li{
								list-style-type: none;
								margin-bottom: 10px;
								font-size: 1.333rem;
    							font-family: 'archerMedium';

								a{
									text-decoration: none !important;
									font-family: 'archerMedium';
									color: $textblack;
									font-size: 1.333rem;
								}
							}

							ul{
								margin-bottom: 0px;

								li{
									list-style-type: disc;

									a{
										color: $textblack;
									}
								}

							}
						}
					}
				}
			}
		}
	}

	&.alt-conditions{


		.each-block-all{

			.right-50{

				.each-block-info{
					padding-bottom: 0;

					h2{

						&.spaces{
							margin-top: 50px;
						}
					}

					ul{
					    -webkit-column-count: 1;
						-moz-column-count: 1;
						-o-column-count: 1;
						column-count: 1;
					    padding-left: 50px;
					    position: relative;
					    font-family: 'archerBoldItalic';

					    &:before{
					    	background: url(assets/img/heart_icon.svg) center center no-repeat;
						    background-size: 100% auto;
						    width: 40px;
						    height: 35px;
						    content: '';
						    position: absolute;
						    top: -5px;
						    left: 0px;
					    }

					    &.causesof{
					    	&:before{
					    		background: url(assets/img/dna_icon.svg) center center no-repeat;
					    		width: 25px;
							    height: 40px;
							    background-size: 100% 100%;
						        left: 5px;
					    	}
					    }

					    li{
					    	list-style-type: disc;
						    margin-left: 15px;
						    padding-left: 0px;
						    font-family: 'archerBook';
						    margin-bottom: 5px;

						    &:first-child{
								margin-top: 10px;
						    }

						    a{
						    	color: $lightblue;
						    	text-decoration: underline;
						    	transition: 0.3s linear all;

						    	&:hover{
						    		color: $orange;
						    	}
						    }
					    }
					}
				}

				.request-alt-block{
					margin-top: 50px;
					position: relative;
					padding: 35px;
					background: $gray;
					width: calc(100% + 70px);
					left: -35px;

					.toggle-area{
						text-align: center;

						&:hover{
							a.btn-orange{
								color: #fbfbfb !important;

								&:before{
									height: 100%;
								} 
							}
						}

					}

					h2{
						
					}

					a:not(.btn-orange){
						position: relative;
						height: 320px;
						width: 100%;
						display: block;

						img{
							position: absolute;
						    left: 50%;
						    transform: translateX(-50%) rotate(0);
						    height: 320px;
						    transition: all 0.5s ease-out;
						}
					}

					&:hover{

						a:not(.btn-orange){

							img{

								&:first-child{
									transform: translateX(-50%) rotate(-1.5deg);
    								height: 325px;
								}
								&:last-child{
									transform: translateX(-50%) rotate(2.5deg);
    								height: 325px;
								}
							}
						}
					}
				}
			}

			.condition-content-left{
				width: 75%;
				float: left;
			}
			.right-img{
				width: 25%;
				float: left;
				img{
					max-width: 100%;
				}
			}

			.each-block-lock{
				&:after{
					content: "";
				    clear: both;
				    display: table;
				}
			}
		}

		&.each-procedure{
			.proc-video{
				margin-top: 25px;
			}
			.each-block-all{

				.condition-content-left{
					// width: 100%;
				}

				.causesof{

					li{
						strong{
							font-family: 'archerMedium';
						}
					}
				}
			}
		}
	}

	&.generic{
		
		.toggle-area{
			margin-bottom: 75px;
		}

		.each-block-info{

			.toggle-area{

				&:last-child{
					margin-bottom: 0;
				}
			}

			strong{
				color: $textblack;
			    font-size: 1.333rem;
			    font-family: 'archerMediumItalic';
			    margin-bottom: 15px;
			    margin-top: 25px;
			    display: block;
			}

			ul{
				padding-left: 50px;
				-webkit-column-count: 1 !important; 
			    -moz-column-count: 1 !important;
			    -o-column-count: 1 !important;
			    column-count: 1 !important;

			    li{
			    	list-style-type: disc;
			    	color: $textgray;

			    	&:first-child{

			    		strong{
			    			margin-top: 0;
			    		}
			    	}
			    }
			}
		}

		h4.location-icon{
			position: relative;
			padding-left: 50px;

			&:before{
				background: url(assets/img/location_icon.svg) center center no-repeat;
			    background-size: 100% auto;
			    width: 40px;
			    height: 40px;
			    content: '';
			    position: absolute;
			    top: -5px;
			    left: 0px;
			}
			
		}
		h3.location-title{
			font-family: 'archerMedium';
			font-size: 1.5rem;
			color: $textblack;
		}

		&.faqs{

			h2{
				font-size: 1.5rem;
				position: relative;
				padding-right: 35px;

				&:before{
					content: '';
				    width: 15px;
				    height: 3px;
				    background: #0f1c34;
				    -ms-transform: translateY(-50%) rotate(90deg);
				    transform: translateY(-50%) rotate(90deg);
				    transition: all 0.2s linear;
				    position: absolute;
				    right: 5px;
				    top: 30%;
				}

				&:after{
					content: '';
				    width: 15px;
				    height: 3px;
				    background: #0f1c34;
				    position: absolute;
				    right: 5px;
				    -ms-transform: translateY(-50%);
				    transform: translateY(-50%);
				    top: 30%;
				    transition: all 0.2s linear;
				}

				&.sub-toggle{
					&:after{
						background: #f78d2e;
					}

					&:before{
					    transform: translateY(-50%) rotate(0);
    					background: #f78d2e;
					}
				}
			}

			a{

				&.content-phone{
					color: $textwhite;
					font-size: 1.5rem;
					margin-top: 25px;
					display: inline-block;
				}

				.phone{
					width: 36px;
				    height: 36px;
				    background: url(assets/img/phone_icon.svg) no-repeat;
				    display: inline-block;
				    background-size: 100%;
				    vertical-align: middle;
				    margin: 0 20px 0 0px;
				}
			}

			.toggle-area{
				display: none;
			}
		}

		&.research{

			h3{
				margin-bottom: 15px;
				margin-top: 50px;
			}

			h4{
				&.subheader{
					margin-bottom: 15px;
				}
			}

			p{

				&.authors{
					font-size: 1.333rem;
					border-bottom: 1px solid $lightblue;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}

				&.type{
					font-size: 1.167rem;
					font-family: 'archerBoldItalic';
					color: $textblack;
				}
			}

			a{
				color: $orange;
				text-decoration: underline;
				font-size: 1.167rem;
				transition: all 0.2s linear;

				&:hover{
					color: $textblue;
				}
			}
		}

		&.contact{

			.toggle-area{

				h4{
					margin-top: 35px;
				}
				
				a, .address{
					font-size: 1.333rem;
					color: $textblue;
					font-family: 'archerMedium';

					.phone{
						width: 36px;
					    height: 36px;
					    background: url(assets/img/phone_icon.svg) no-repeat;
					    display: inline-block;
					    background-size: 100%;
					    vertical-align: middle;
					    margin: 0 20px 0 15px;
					}
				}
				.letters{
					width: 36px;
				    height: 36px;
				    background: url(assets/img/letters.png) no-repeat;
				    display: inline-block;
				    background-size: 100%;
				    vertical-align: middle;
				    margin: -75px 20px 0 15px;
				}
				.address{
					display: inline-block;
				}
			}

			.invert{
				margin-top: 15px;
			}	
		}

		&.webinar{
			// padding-bottom: 50px;

			.video-container{
				height: 300px;
				margin-top: 35px;
				margin-bottom: 50px;

				.hover-video{

					ul{
						text-align: center;
						position: relative;
						padding-left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			h4{
				p{
					font-size: 1.333rem;
    				font-family: 'archerMediumItalic';
    				line-height: 1.1;
    				font-weight: 500;
				}
			}

			.testimony-info-block{

				.each-block-info{
					padding-top: 35px;

					ul{
						margin-top: 25px;
					}
				}
			}

			#pinned-lock-1{
				ul{
					li{
						&:first-child{
							font-family: 'archerBoldItalic';
							list-style-type: none;
							margin-left: 0;
							margin-top: 15px;
						}
					}
				}
			}

			.each-block-info{

				ul{
					-webkit-column-count: 1;
					-moz-column-count: 1;
					column-count: 1;
				    padding-left: 50px;
				    position: relative;
				    font-family: 'archerBoldItalic';

				    li{
				    	list-style-type: disc;
					    margin-left: 15px;
					    padding-left: 0px;
					    font-family: 'archerBook';
					    margin-bottom: 5px;
					    color: $textblack;

					    &:first-child{
					    	margin-top: 10px;
					    }
				    }
				}
			}
		}

		&.locations{

			.map{
				margin-top: 0px;
				position: relative;

				img{
					max-width: 100%;
				}

				ul{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;

					li{
						text-decoration: none;
						list-style-type: none;
						a{
							width: 10px;
							height: 10px;
							border-radius: 10px;
							background: $orange;
							position: absolute;

							&:after{
								display: none;
							}
							&.style-dallas{
								bottom: 76px;
								left: 239px;
							}
							&.style-detroit{
								top: 87px;
								left: 353px;
							}
							&.style-houston{
								bottom: 42px;
								left: 250px;
							}
							&.style-nashville{
								top: 179px;
								left: 342px;
							}
							&.style-phoenix{
								bottom: 99px;
								left: 101px;
							}
							&.style-minneapolis{
								top: 64px;
								left: 261px;
							}

							.hover-content{
								position: absolute;
								top: 0;
								left: 50%;
								transform: translateX(-50%);
								opacity: 0;
								transition: 0.2s linear all;
								width: 150px; 
								text-align: center;

								&:before{
									background: url(assets/img/map_icon.png) no-repeat;
									width: 25px;
									height: 70px;
									position: absolute;
									top: 2px;
									left: 50%;
									transform: translateX(-50%);
									content: '';
									background-size: 100% auto;
									background-position: center center;
								}
							}

							&:hover{
								.hover-content{
									top: -53px;
									opacity: 1;
								}
							}
						}
					}

					&:before{
						display: none;
					}
				}
			}

			.toggle-area.locs{
				margin-bottom: 50px;
				a{
					margin-bottom: 35px;
				}
			}
			#pinned-lock-1{

				.generic-content-left{

					

					ul{
						-webkit-column-count: 2;
						-moz-column-count: 2;
						column-count: 2;
						width: 330px;
						padding-left: 0;
						margin: 25px 0 10px;

						&:before{
							display: none;
						}

						li{
							list-style-type: none;

							&:first-child{
								margin-top: 0;
							}

							a{
								color: $textwhite;
								position: relative;
								text-decoration: underline;

								/*&:after{
									width: 100%;
									height: 1px; 
									background: $textwhite;
									position: absolute;
									bottom: -2px;
									left: 0;
									content: '';
									transition: 0.2s linear all;
								}*/

								&:hover{

									/*&:after{
										background: $orange;
									}*/
								}
							}
						}
					}
				}
			}
		}

		&.bios{
			.each-block-info{
				.toggle-area{
					h4{
						margin-top: 35px;
						margin-bottom: 15px;
					}

				}	
			} 
			.generic-content-left{

				p.location-icon{
					position: relative;
					padding-left: 40px;
					margin-top: 25px;

					&:before{
						background: url(assets/img/location_icon.svg) center center no-repeat;
					    background-size: 100% auto;
					    width: 30px;
					    height: 30px;
					    content: '';
					    position: absolute;
					    top: -5px;
					    left: 0px;
					}
				}

				a{
					color: $textwhite;
					transition: all 0.2s linear;
					margin-left: 40px;
					text-decoration: none;

					&:hover{
						color: $orange;
					}
				}
			}

			.each-block-all{

				.right-50{
					.each-block-info{
						img{
							max-width: 100%;
						}
					}
				}
			}
		}

		.each-block-all{

			.toggle-area{

				form{

					&.insurance-coverage, &.nas{
						input:not([type="submit"]), select{
							background: #ddd !important;
						    border-bottom: 3px solid #b3c1cb !important;
						    border-bottom-left-radius: 0 !important;
						    border-bottom-right-radius: 0 !important;

						    &.invalid{
						    	background-color: #ffdfe0 !important;

						    }
						}

						label, a{
							color: $textblack !important;
							font-size: 1.167rem;

							&.disclaimer{
								font-size: 10px !important;
							}
						}
						>.pgform-container{
							margin-top: 15px;
						}
						.radio-container{
							label{
								input[type="radio"]{
									margin-right: 10px;
									margin-top: 10px;
								}
							}
						}
						.privacypolicy-container{
							margin-bottom: 25px;
						}
					}
				}
			}
		}
	}

	&.mri{

		input:not([type="submit"]){
			// width: calc(100% / 2 - 20px);
			background: #ddd;
		    border-bottom: 3px solid #b3c1cb;
		    border-bottom-left-radius: 0;
		    border-bottom-right-radius: 0;

			&.fullwidth{
			    // width: calc(100% - 25px);
			}
		}
		input[type="radio"]{
			width: initial;
		}
		textarea, select{
		    // width: calc(100% - 25px);
			background: #ddd;
		    border-bottom: 3px solid #b3c1cb;
		    border-bottom-left-radius: 0;
		    border-bottom-right-radius: 0;
		}

		select{
			-webkit-appearance: none;
		}

		label{
			color: $textblack;

			a{
				color: $textblack;
			}

			.disclaimer{
				font-size: 10px;
			}
		}

		.radio-area{
			background: $gray;
			margin-left: 5px;
			margin-top: 5px;
			font-size: 1rem;
			border-top-right-radius:5px;
			border-top-left-radius:5px;
			width: calc(100% - 25px);

			p{
				font-size: 1rem;
				padding: 15px;
				color: $textblack;
				border-bottom: 3px solid #b3c1cb;
			}
			.pad-me{
				padding: 0 15px 15px 15px;

				label{
					margin-left: 15px;
				}
			}
		}

		.mri-center-info-container{

			label{
				font-size: 1.167rem;
			}
			input[type="radio"]{
			    margin-top: 10px;
			}
		}
		label.maywerequest{
		    color: #2d2d2d;
		    font-size: 1.333rem;
		    font-family: 'archerMediumItalic';
		}
		.privacypolicy-container{
			margin-bottom: 25px;
			margin-top: 15px;

			label{
				font-size: 1.167rem;
			}
		}

		.invalid{
			background-color: #ffdfe0 !important;
		}
	}

	.testimony-info-block{

		.patient-data{
			padding: 0px 25px 15px 0;

			.patient-info{
				float: left;
				padding-left: 0px;
				padding-bottom: 25px;
				width: 70%;

				h4{
					margin-bottom: 10px;
				}
				p{
					margin-bottom: 2px;

					a{
						color: $textblue;
						text-decoration: underline;
						font-family: 'archerBookItalic';
						transition: 0.2s linear all;

						&:hover{
							/*color: $orange;*/
						}
					}
					span{
						font-family: 'archerLightItalic';
					}
				}
			}
			img{
				float: left;
				margin-bottom: 25px;
				padding-right: 25px;
				width: 30%;
			}
		}

		h2{
			padding-bottom: 25px;
		    margin-bottom: 25px;
		    margin-top: 0;
		    border-bottom: 3px solid #111f3a;
		}
		h4.lifestyle{
			font-family: 'archerBook';
		}

		h6.quote{
			clear: both;
			font-size: 1.667rem;
			text-align: center;
			font-family: 'archerLightItalic';
			padding: 0 25px;
			margin-bottom: 35px;
		}
		.btn-orange{
			min-width: 220px;

			&.first-space{
				margin-right: 25px;
			}
		}

		.each-block-lock{
			padding-bottom: 50px;
		}

		.each-block-info{
			padding-top: 150px;

			h2{
				border-bottom: #80a0b6 2px solid;
			}
		}

	}
	&.each-loc{

		.each-block-all{

			.first-lock{

				a{
					color: $textblue;
					text-decoration: underline;
					transition: all 0.3s linear;

					&:hover{
						color: $orange;
					}
				}
			}
			h4{

				&.location-icon{
					padding-left: 50px;
	    			font-family: 'archerBoldItalic';
	    			font-size: 1.167rem;
	    			position: relative;

	    			&:before{
	    				background: url(assets/img/location_icon.svg) center center no-repeat;
					    background-size: 100% auto;
					    width: 40px;
					    height: 40px;
					    content: '';
					    position: absolute;
					    top: -10px;
					    left: 0px;
	    			}
				}
			}

			h5{
				color: #2d2d2d;
			    font-size: 1.333rem;
			    font-family: 'archerMedium';
			    margin-bottom: 15px;
			    margin-top: 50px;
			    display: block;
			}

			ul{

				&.address{
					padding-left: 0;
					margin-top: 0;

					&:before{
						display: none;
					}

					li{
						margin-left: 0;
						list-style-type: none;
						display: inline-block;

						&:first-child{
							width: 60%;
						}

						&.phone{
							float: right;
							margin-top: 10px;
							position: relative;

							a{
								color: $textwhite;
								font-size: 1.333rem;
								position: relative;
								text-decoration: none;

								&:before{
									width: 36px;
								    height: 36px;
								    content: '';
								    background: url(assets/img/phone_icon_white.svg) no-repeat;
								    display: inline-block;
								    background-size: 100%;
								    vertical-align: middle;
								    margin: 0 15px 0 15px;
								}
							}
							
						}
					}
				}
			}

			p{

				&.with-icon{
					padding-left: 50px;
				}
			}
			.btn-orange.invert{
				margin-top: 5px;
				margin-bottom: 15px;
			}

			div.orange-grad{
				margin-top: 25px;
				cursor: pointer;
			}

			img.fill-it{
				max-width: initial !important;
				width: calc(100% + 35px);
			    position: relative;
			    margin: 35px auto;
			    left: -35px;
			}
		}
		
	}

	&.treatment{

		.left-50{
			ul{
				li{
					a{
						text-decoration: none;
						color: $textblue;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}

		.each-block-all .right-50 .each-block-info ul{

			&.causesof{
				column-count: 1;
			    padding-left: 50px;
				position: relative;
			    font-family: 'archerBoldItalic';

				li{
					list-style-type: disc;
					margin-left: 15px;
				    padding-left: 0px;
				    font-family: 'archerBook';
				    margin-bottom: 5px;

				    &:first-child{
				    	margin-top: 10px;
				    }

				    strong{
				    	font-family: 'archerMedium';
				    }
				}
			}
		}
	}
	&.connect-form{
		form{

			label{
				display: block;
				margin-top: 15px;
				font-size: 1rem;
				color: $textblack;
				margin-top: 0px;
				margin-bottom: 0;

				&.disclaimer{
					margin-top: 0;
					margin-bottom: 10px;
					font-size: 10px;
				}

				a{
					color: $textblack;
				}
			}
			.invalid{
				background-color: #ffdfe0 !important;
			}
			input[type="email"], input[type="tel"]{
				width: 100%;
			}
			select, textarea{
				width: 100%;
				margin-left: 0;
			}
		}
	}

	&.thank-you{

		h3{
			color: #2d2d2d;
		    font-size: 1.333rem;
		    font-family: 'archerMediumItalic';
		}



		.medical-information-utility .reset-button{
			display: none;
		}

		form{

			.invalid{
				background-color: #ffdfe0 !important;
			}

			h4{
				margin-bottom: 0px !important;
				margin-top: 25px !important;
				font-family: 'archerBook';
				font-size: 1.167rem !important;
			}
			.radio-container, .mri-center-info-container{
				margin-top: 10px;

				label{
					color: $textblack;
					font-size: 1.167rem;

					&.disclaimer{
						font-size: 10px;
					}
				}
				small{
					font-size: 10px;
				}

				.checkbox-group{
					
				}
				input[type="radio"]{
					margin-right: 10px;
				}
			}
			.mri-center-info-container{
				margin-top: 0;
				padding-top: 0;
				>div{
					margin-top: 10px;
				}
			}
			label{
				color: $textblack !important;
				font-size: 1.167rem;
			}
			.thirds{
				width: calc(100% / 3);
				float: left;
			}
			.pgform-container:not(.thirds){
				
				&:after{
					content: "";
				   	display: table;
				  	clear: both;
				}
			}
			input[type="text"], select{
			    background: #ddd;
			    border-bottom: 3px solid #b3c1cb;
			    border-bottom-left-radius: 0;
			    border-bottom-right-radius: 0;
			}
			input[type="submit"]{
				margin-top: 15px;
			}
		}
		.checkbox label:before{
			margin-left: 25px;
		}
		.checkbox{
			margin-top: 10px;
			label{
				font-size: 1.167rem;
				input{
					margin-right: 10px;
				}
			}
		}

		[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
			position: relative !important;
			left: initial !important;
		}

		.thank-you-messages{
			display: none;
		}
	}
}

#conditions .toggle-area a:not(.btn-orange){
    color: #233c69;
    text-decoration: underline;
    transition: 0.3s linear all;

    &:hover{
		color: $orange;
    }
}
#conditions.alt-conditions .each-block-all .right-50 .each-block-info ul li a:not(.btn-orange){
	color: #233c69;
	 &:hover{
		color: $orange;
    }
}

#conditions.treatment{
	a:not(.btn-orange){
		 color: #233c69;
	    text-decoration: underline;
	    transition: 0.3s linear all;

	    &:hover{
			color: $orange;
	    }
	}
}
#conditions{
	.contact-options{

		a{
			text-decoration: none !important;
		}
	}
}
#location-map{
	a{
		text-decoration: none !important;
	}
}

#location-map {
	width: calc(100% + 70px);
	margin-left: -35px;
	height: 400px;
	background-color: grey;
}

#consult, #freekit, #webinar-modal, #mrict-modal {
	width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;

    .modal-form{
    	width: 500px;
    	height: auto;
    	background: $blue;
    	position: relative;
    	padding: 75px 50px 50px 50px;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%,-50%);

    	.close-it{
    		width: 50px;
    		height: 40px;
    		border-left: 1px solid $textwhite;
    		position: absolute;
    		right: 0;
    		top: 0;
    		cursor: pointer;

    		&:before{		
				width: 25px;
    			height: 2px;
    			background: $textwhite;
    			content: '';
    			position: absolute;
				top: 20px;
				right: 12px;
				transform: rotate(45deg);
    		}
    		&:after{
    			width: 25px;
    			height: 2px;
    			background: $textwhite;
    			content: '';
    			position: absolute;
				top: 20px;
				right: 12px;
				transform: rotate(-45deg);
    		}
    	}

    	h3{
    		color: $textwhite;
    		margin-top: 0;
    		font-family: 'archerMedium';
    		font-size: 2rem;
    		border-bottom: 2px solid $lightblue;
    		padding-bottom: 15px;
    		margin-bottom: 20px;
    	}

    	form{
			input{

				&[type="submit"]{
					margin-top: 15px;
				}
			}
			label{
				margin-top: 10px;
				color: $textwhite;

				&:not(.disclaimer){
					margin-bottom: 0;
					font-size: 1rem;
				}

				&.disclaimer{
					margin-top: -5px;
				}
			}

			textarea{
				width: 100%;
			}
    	}

    	&.home-modal{
    		width: 760px;

    		iframe{
    			width: 100%;
    			height: 370px;
    		}
    	}
    }

    &.visible-time{
    	display: block;
    }
}

#webinar-modal .modal-form form input.postalcode{
	width: 100%;
}

#freekit .modal-form.home-modal, #webinar-modal .modal-form{
	padding-top: 50px;
}

.nav-dots{
	position: fixed;
	right: 2rem;
	top: 55%;
	transform: translateY(-50%);
	ul{
		li{
			list-style-type: none;
			margin-bottom: 35px;
			width: 10px;
			display: block;
			height: 10px;
			border-radius: 10px;
			background: $darkergray;
			cursor: pointer;
			position: relative;
			z-index: 1;
			transition: 0.3s linear all;

			&.active{
				background: $orange;
			}

			div{
				position: absolute;
				right: 6px;
				top: 50%;
				width: 130px;
				transform: translateY(-50%);
				color: $orange;
				font-size: 0.9167rem;
				opacity: 0;
				overflow: hidden;
				transition: all 0.3s linear;
				z-index: -1;
			}

			&:hover{
				background: $orange;

				div{
					right: 12px;
					opacity: 1;
					// background-color: rgba(255,255,255,.55);
					// padding: 0.5rem 1rem;
				}
			}

			&:after{
				width: 10px;
				height: 1px;
				position: absolute;
				bottom: -17px;
				left: 0;
				content: '';
				background: $darkergray;
			}

			&:last-child{
				&:after{
					display: none;
				} 
			}

		}
	}
}

.generic-no-block{
	padding: 50px 0 75px 0;
	h1{
		padding-bottom: 25px;
	    margin-bottom: 25px;
	    margin-top: 0;
	    color: $blue;
	    border-bottom: 2px solid $lightblue;
	}

	h2, h3{
		color: $textblue;
	    padding-bottom: 25px;
	    margin-bottom: 25px;
	    font-size: 2rem;
	    margin-top: 50px;
	    border-bottom: $lightblue 2px solid;
	}

	h4{
		margin-top: 0;
		margin-bottom: 35px;

		&:not(.keep){
			margin-top: 35px;
			margin-bottom: 25px;
		}
	}
	p{
		a{
			color: $orange;
			text-decoration: none;
			transition: 0.2s linear all;

			&:hover{
				color: $blue;
			}
		}
	}

	ul{
		padding-left: 50px;

		li{
			margin-bottom: 5px;
    		margin-right: 10px;
    		color: $textgray;
    		list-style-type: disc;
		}
	}

	.do-columns{
		// -webkit-column-count: 1;
		// -moz-column-count: 1;
		// -ms-column-count: 1;
		// column-count: 1;
		// -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
  //  		 -moz-column-gap: 50px; /* Firefox */
		// column-gap: 50px;
	}
}

.video-container{
	width: 100%;
	height: 391px;
	position: relative;
	background: #fff;

	p{
		font-family: 'archerMedium';
		font-size: 1.833rem;
		color: $textwhite;
		padding: 35px 50px 50px;
	}

	.hover-video{
		opacity: 1;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		// background: rgba(0,0,0,0.5);
		bottom: 0;
		transition: 0.3s linear all;

        ul{
            li{
                display: inline-block;
                margin: 0 15px;
                position: relative;

                i{
                    color: rgba(251,251,251, 0.75);
                    font-size: 3rem;
                    cursor: pointer;
                    transition: 0.3s linear all;

                    &:hover{
                        color: rgba(251,251,251, 1);
                    }
                }

                &:nth-child(2){
                    i{
                        font-size: 6rem;
                        position: relative;
                        top: 13px;
                        left: 2px;
                    }
                }
            }
        }

        &.fadeout{
        	opacity: 0;
        }

        &:hover{
        	&.fadeout{
        		opacity: 1;
        	}
        }
	}

	#yt-home{
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    opacity: 1;
	    transition: 0.3s linear opacity;
	    background-position: center center !important;
	    background-size: cover !important;
	    background-repeat: no-repeat !important;

	    &.playing-now{
	    	opacity: 0;
	    }
	}
}
.lb-border-bottom {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: #80a0b6 2px solid;
}
#blog-header{
	h1, h1 a {
		color: $textblue;
		padding-bottom: 25px;
	    margin-bottom: 25px;
	    margin-top: 35px;
	    border-bottom: 2px solid #80a0b6;
	}

	h1 a {
		border-bottom:none;
		font-family: 'archerMedium';
	}
}
#blog, #testimonial {
	position: relative;

	.archive-row {
		margin-bottom: 50px;

		article:nth-child(odd) {
			padding-right: 50px;
		}
		article:nth-child(even) {
			padding-left: 50px;
		}
	}

	h1{
		font-size: 2rem;
		margin-top: 35px;
	}

	.load-section {
		clear: both;
		margin-bottom: 25px;
		position: relative;

		article.type-post {
			padding-top: 35px;

			// &:nth-child(odd){
			// 	padding-left: 0;
			// }
			// &:nth-child(even){
			// 	padding-right: 0;
			// }

			header {
				width: 100%;
				div.image-container {
					height: 300px;
					position: relative;
					overflow: hidden;
				}
				img {
					min-height: 100%;
					min-width: 100%;
					height: auto;
					width: auto;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}


	}
	.loader {
		color: $orange;
		display: none;
		text-align: center;
		margin: 75px 0 25px;
	}

	&.loading {

		// padding-bottom: 75px;

		.loader {
			display: block;
		}

	}
	.load-more {
		margin: 0 auto 25px;
		display: block;
		width: 270px;

		&:focus {
			text-decoration: none;
		}
	}

	.col-md-6.nas-testimonials, article.nas-testimonials {
		.entry-header {
			display: inline-block;
			width: 100%;
			img {
				width: 20%;
				max-width: 110px;
				margin-top: 20px;
				padding: 0 15px 10px 0;
				height: auto;
				float:left;

			}
			img.has-video {
				display: inline;
				width: auto;
				height: 22px;
				vertical-align: middle;
				margin-left: 5px;
				float: none;
				margin: 0;
				padding: 0;			
			}
			h2 {
				width: 80%;
				float: left;
			}
		}


		.clear-both {
			clear: both;

			p {
				margin:0;
				display: inline;
			}
		}
	}
	.entry-header {
		h1.entry-title, h1.entry-title a {
			color: $textblue;
			margin-top: 35px;
			font-size: 1.75rem;
			line-height: 2.25rem;

			.entry-meta {
				p {
					margin-top: 5px;
				}

				a{
					font-size: 1.167rem;
					color: #303030;
					text-decoration: underline;
				}
			}
		}
	}

	p{
		line-height: 2.2rem;
	}

	strong{
		margin-bottom: 0 !important;
	}

	/*2.5*/
	/*increase line height for title*/

	.connect-patient {
		background-color: #e6ecf0;
		text-align: center;
		padding-bottom: 25px;
		padding-top: 10px;
		margin: 15px 0 45px;
	}
	.testimonial {
		.single-post {
			img {

			}			
		}

	}
	a.read-more {
		color: $orange;
		text-decoration: underline;
		font-size: 1.5rem;
	}
	.single-post {

		.entry-meta{
			
			a{
				font-size: 1.167rem;
    			color: #303030;
    			text-decoration: underline;
			}
		}

		

		ul, ol {
			padding-left: 40px;
			color: #303030;

			li {
				list-style-type: initial;
				line-height: 2.2rem;
				color: #303030;
				margin-bottom: 10px;

				b, strong{
					font-family: 'archerBold';
				}
			}
		}

		ol{

			li{
				list-style-type: decimal;
			}
		}
		.entry-header {

			img {
				width: 100%;
				height: auto;
			}

			h1{
				font-size: 2.5rem;
				line-height: 3.25rem;
			}

		}



		.lb-border-bottom {
			margin-bottom: 25px;
		}

		.entry-content {
			margin-bottom: 50px;

			img {
				max-width: 100%;
				height: auto;
				display: block;
				margin-bottom: 25px;
			}
		}

		p{
			b, strong{
				font-family: 'archerBold';
				margin-bottom: 10px;
				display: block;
				margin-top: 35px;
			}

			a{
				color: $textblue;
				text-decoration: underline;
			}
		}

		.social-share ul li a i{
			top: 3px;
		}
	}

	.entry-header{

		.entry-meta{
			margin-top: 15px;
		}
	}
}

#blog h2{
	font-size: 2rem;
}

#blog .load-section article.type-post header div.image-container{

	&:after{
		content: '';
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00ffffff',GradientType=0 );
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

#blog{

	#blog-header{
		h1{
			margin-bottom: 0;
		}
	}
}

#comments{
	margin-bottom: 35px;

	h2{
		font-size: 1.5rem;
		margin-bottom: 25px;
		margin-top: 35px;
	}

	.reply-title{
		font-size: 1.5rem;
	}

	.comment-list{

		li{
			list-style-type: none;

			article{
				position: relative;
				margin-bottom: 25px;

				.comment-meta{

					.comment-author{

						img{
							display: none;
						}
					}

					time{
						display: none;
					}
				}

				.comment-content{

					p{
						 font-size: 1.167rem;
    					color: #303030;
    					line-height: 2.2rem;
					}
				}

				&:after{
					width: 100%;
					height: 1px;
					content: '';
					background: $lightblue;
					position: absolute;
					left: 0;
					bottom: -15px;
				}
			}
		}
	}

	a{
		color: $textblue;
	}
}

#respond{

	.comment-form-comment{
		label{
			display: none;
		}

		textarea{
			width: 100%;
		    border-radius: 5px;
		    margin: 0;
		    resize: none;
		    font-size: 1.1rem;
		}
	}
	input[type="submit"]{
		border-radius: 5px !important;
	    color: #fff !important;
	    font-family: 'archerMedium';
	    font-size: 1.333rem !important;
	    padding: 15px 35px !important;
	    display: inline-block !important;
	    text-transform: capitalize !important;
	    background-image: linear-gradient(to bottom, #F9AF6C 0%, #f78d2e 50%, #f78d2e 100%);
	    background-size: 10px 100px, 100% 100%;
	    background-position: 0 0, 0 0;
	    transition: 0.2s linear all;

	    &:hover{
	    	background-position: 0 -35px, 0 0;
	    }
	}

	#reply-title{
		margin-top: 45px;
	}

	.must-log-in{

		a{
			text-decoration: underline;
		}
	}
}

#testimonial{
	.single-post p strong{
		margin-bottom: 0;
		display: inline-block;
		margin-top: 15px;
	}
}

#blog{

	.nas-testimonials, .type-nas-testimonials{

		.image-container{
			display: none;
		}
	}
}

h3.call-us{
    margin-bottom: -10px;
    color: $white;
    font-size: 1.75rem;
}

.related-posts.widget-area {
	.widget-title {
		border-bottom: $lightblue 2px solid;
		padding-bottom: 15px;
		margin-top: 0;
		color: $textblue;
		font-size: 2rem;
    	font-family: 'archerMedium';
    	font-size: 1.833rem;
	}
	article {
		padding-bottom: 0px;
		padding-top:15px;
		img {
			width: 100%;
			height: auto;
			margin-bottom: 10px;
		}
		a {
			color: $orange;
			text-decoration: underline;
			margin-bottom: 5px;
		}
		.post-entry-info {
			margin-top: 10px;
			img.has-video {
				display: inline;
				width: auto;
				height: 22px;
				vertical-align: middle;
				margin-left: 5px;	
				margin-bottom: 0;				
			}
		}
	}
}

.nas-testimonials {
	.content-area {
		margin-top: 0px;
	}
	aside {
		margin-bottom: 50px;
		margin-top: 50px;

		article:first-child {
			    border-top: #80a0b6 2px solid;
		}

		article {
			img {
				max-width: 60px;
				height: auto;
				display: block;
				margin-bottom: 5px;
			}

			.post-entry-info {
				margin-top:5px;

			}
		}
	}
}

.page-template-page--procedures-template{

	#conditions{
		.left-50{
			.first-lock{
				ul{
					padding-left: 0;
					li{
						margin-left: 35px;

						a{
							color: $textwhite;
							text-decoration: underline;

							&:hover{
								color: $textwhite;
							}
						}
					}

					&:before{
						background: none !important;
					}

					&.toggle-area{
						margin-top: 0;
						padding-left: 15px;
						max-height: 0px;
						overflow: hidden;
						// transition: 0.2s linear max-height;

						&.toggle-time{
							max-height: 700px;
						}
					}
				}
			}
		}
	}
}

.scroll-section{

	a{
		color: $white;
		text-decoration: underline;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
	/*.ask-expert{*/
	.pgform{
		input, select{
			height: 47px;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		input[type="radio"]{
			border-bottom: none !important;
			background: none !important;
		}
	}
	/*}*/
}



@import "media";