*, *:before, *:after {box-sizing: border-box;}
body{background:#1A3C6E;font-family:tahoma, arial, sans-serif;font-color:#272123;font-size:16px;font-weight:300;letter-spacing:.025em;margin:0 auto;padding:0!important;}
h1,h2,h3,h4{font-weight:500;}
strong{font-weight:700;}
a{text-decoration:none;color:#000;}
button{cursor:pointer;}
select{
	-webkit-appearance:caret;
}
.sidebar.sidebar-primary {display:none;}
.shiftnav-wrap{padding-top:0px!important;}
.nas-landing-page{max-width:1024px;margin:0 auto;}
.nas-landing-page .hero,nas-landing-page .hero,nas-landing-page-footer{box-shadow:0px 4px 10px #333;}
header{width:100%;max-width:1024px;margin:0 auto;padding-top:23px;}
header .desktop{height:80px;width:1024px;}
header img{padding:5px 30px 5px 30px;}
header .logo{float:left;display:inline-block;margin-top:-20px;}
header .call-us{float:right;display:inline-block;text-align:right;}
header .call-us .call-us-content{background:rgba(0, 0, 0, 0) url("/assets/phone-icon-orange.png") no-repeat scroll 0 0;width:200px;text-align:left;padding-left:34px;float:right;margin-top:10px;}
header .call-us .call-us-content{font-weight:500;font-size:19px;color:#f98e2b;}
header .call-us .call-us-content a{color:#f98e2b;}
header .call-us .call-us-content span{color:#fff;font-size:15px;}
.hero{max-width:1024px;margin:0 auto;background-image:url('./img/hero-desktop.png');height:454px;position:relative;}
.hero .hero-txt{bottom:0px;background-color:rgba(0, 0, 0, 0.6);display:inline-block;position:absolute;padding:0px;margin:auto 0px;height:auto;width:100%;}
.hero .hero-txt h1{color:#fff;padding:20px 0 20px;margin:0 20px 0 40px;max-width:450px;font-size:24px;}
.hero .hero-txt p{color:#fff;padding:10px 0 20px;margin:0 20px 0 40px;font-weight:100;font-size:20px;max-width:450px;}
.hero img.desktop{width:100%;}
.hero img.mobile{display:none;}
.body-section{background-color:#fff;color:#000;max-width:1024px;}
.body-section ul{margin:0;padding:0;}
.body-section .callnowimg{border-bottom:10px solid #7d7d7d;border-top:16px solid #fff;display:block;height:auto;width:400px;}
.body-section .form{box-shadow:0px 4px 10px #333;background-color:#f98e2b;}
.body-section .form h2{text-align:center;font-size:22px;font-weight:300;padding:0 40px;margin:20px 0 0;}
.body-section .form form{padding:20px 40px 15px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.body-section .form p{padding:0 30px 40px;margin:0;font-size:13px;}
.bodycopy{background-color:#555;width:100%;margin-top:10px solid #4c4c4c;color:#fff;}
.contactustoday ul{list-item-type:none;padding:0;margin-top:20px;}
.contactustoday ul li{display:inline-block;vertical-align:top;}
.contactustoday ul li button{height:50px;width:100%;width:220px;text-align:center;color:#fff;background-color:#014c86;border-left:0;border-right:0;border-top:2px solid #2b699a;border-bottom:2px solid #dbdada;margin-bottom:10px;font-size:14px;}
.factssection .section{display:inline-block;padding:50px 10px 30px 10px;text-align:center;vertical-align:top;width:245px;}
.body-section img.icon{text-align:center;height:40px;width:auto;}
.body-section h3{font-size:18px;}
.body-section p{text-align:center;font-size:14px;}
.body-section ul{}
.body-section ul li{font-size:14px;text-align:left;}
.body-section .bullets ul.precision{font-size:15px;list-style-image:url('../shared/img/checkmark.png');padding:0;margin-top:10px;}
.body-section .bullets ul.precision li{margin-bottom:0px;padding:4px 5px;}
.body-section .bullets ul.precision li span{font-weight:300;}
footer{background-color:#fff;text-align:center;color:#000;border-top:1px solid #fff;font-size:14px;clear:both;min-height:260px;}
footer .col-sm-6{float:left;width:50%;display:inline-block;}
footer .col-sm-12{float:left;width:100%;display:inline-block;margin-bottom:10px;}
footer a,footer a:hover,footer a:visited{color:#f98e2b;}
footer ul{list-style-type:none;display:inline-block;padding:0;}
footer ul li{float:left;}
footer ul li:first-child::after{content:" | ";margin-right:5px;}
footer .stillhavequestions{text-align:left;margin:20px auto 0px;padding:0 20px;font-size:20px;}
footer .stillhavequestions img{margin-right:10px;vertical-align:middle;}
footer .legal{float:right;margin:20px auto 0px;padding:0 40px;}
footer p.please-note{text-align:left;margin:20px auto 0px;padding:0 40px;}
.phone.desktop{background-color:#fff;width:100%;text-align:center;border-bottom:10px solid #7d7d7d;height:101px;}
.phone.desktop h2{font-size:25px!important;line-height:25px;padding:0 10px;margin:20px 0 0;color:#d88529;}
.phone.desktop h3{font-size:34px;line-height:34px;padding:10px;margin:0 auto;color:#014d87;font-weight:500;}
/* Start Modal PopUps */
.modal .modal-dialog {width:100%;max-width:400px;top:70px;margin:20px auto 0;}
.modal .modal-header {background:#f98e2b none repeat scroll 0 0;border-radius:6px 6px 0 0;color:#fff;font-size:25px;margin:0;padding:20px 10px;text-align:center;}
.modal .modal-body {background-color:#cccccc;padding:20px 20px 0;float:left;}
.modal .modal-content {border:10px solid #fff;}
.modal label{width:100%;font-weight:300;margin-bottom:2px;margin-top:5px;}
.modal input,.modal select,.modal text-area{width:100%;border:1px solid #fff;font-size:13px;font-weight:300;padding:8px;margin-bottom:10px;border-radius:4px;}
.modal select {padding:8px 4px;color:#999;height:36px;background-color:#fff;-moz-appearance: none; -webkit-appearance: none; appearance: none;}
.modal input[type="checkbox"],.modal input[type="image"],.modal input[type="radio"]{width:auto!important;}
.modal input#FirstName {width:48%;margin-right:1%;}
.modal input#LastName {width:48%;margin-left:1%;}
.modal input#City {width:48%;margin-right:1%;}
.modal select#State {width:48%;margin-left:1%;}
.modal select#Country {width:48%;margin-right:1%;}
.modal input#PostalCode {width:48%;margin-left:1%;}
.modal#myModal2 input#PostalCode {width:100%;margin-left:0;}
.modal#myModal1 .USstateshow2 select#State {width:100%;margin:0 0 10px 0;}
.modal#myModal2 select#State {width:100%;margin:0 0 10px 0;}
.modal input[type="checkbox"]:focus {height:auto;}
.modal .medicare-disclaimer {font-size:11px;position:relative;float:left;margin:0 auto 10px;width:100%;}
.modal label.disclaimer.privacycheckbox{display:inline;font-size:10px;font-weight:normal;float:left;margin:0px 0 10px;height:16px!important;}
.modal .spacer{margin:0px 0 5px;}
.modal button{background-color:#1f3e6c;border:0;color:#fff;display:block;font-size:14px;height:50px;margin:0 auto;text-align:center;width:240px;text-transform:uppercase;border-radius:6px;}
.modal div{box-sizing:content-box;}
.modal .popform{background:#cccccc none repeat scroll 0 0;border-radius:0 0 6px 6px;padding:15px;}
.modal .modal-footer {border-top:0;background-color:#cccccc;border-bottom-left-radius: 12px;border-bottom-right-radius: 12px;padding:10px;}
.modal-header .close {float: right;margin-top:0px!important;}
/* Start Landing Page Main Form */
.landing-page-main-form .form-grouper{display:inline-block;width:49%;}
.landing-page-main-form .lst span{font-size:x-small;float:left;margin:0px 0px 5px;width:100%;}
.landing-page-main-form span.required{display:none;}
.landing-page-main-form .small-radio{font-size:small;}
.landing-page-main-form .form-grouper2{display:inline-block;width:30%;box-shadow:none;transition:none 0s ease 0s;}
.landing-page-main-form .col-md-6{padding:0;}
.landing-page-main-form input,.landing-page-main-form select,.landing-page-main-form textarea{/*background:#fff none repeat scroll 0 0;*/border:1px solid #fff;border-radius:4px;color:#333;font-size:13px;font-weight:300;padding:2px 8px;width:100%;margin-bottom:10px;}
.landing-page-main-form select{color:#999;font-weight:300;padding:2px 6px;}
.landing-page-main-form input[type="radio"],.landing-page-main-form input[type="checkbox"]{margin:0px 4px 0 0;}
.landing-page-main-form input[type="checkbox"],.landing-page-main-form input[type="image"],.landing-page-main-form input[type="radio"]{width:auto;vertical-align:middle;}
.landing-page-main-form .small-radio{font-weight:300;width:100%;margin:0;padding:0;height:20px;}
.landing-page-main-form .small-radio input{margin-right:7px;margin-top:-1px;}
.landing-page-main-form label.disclaimer{display:inline;font-size:11px;font-weight:normal;}
.landing-page-main-form .imaging-center {margin-top:10px;}
.landing-page-main-form button{height:50px;text-align:center;color:#fff;background-color:#003a70;border-left:0;border-right:0;border-top:0;border-bottom:0;margin-bottom:10px;font-size:14px;margin:10px auto 0;display:block;padding:8px 24px;border-radius:6px;}
.landing-page-main-form .error{background-color:#ffcccc!important;border:1px solid red !important;}
/* Start Fixed Nav Bar */
.fixed-nav-bar{position:fixed;margin-top:-70px;left:0;z-index:9999;width:100%;height:70px;background-color:#fff;}
.fixed-nav-bar-content{margin:0 auto;max-width:1024px;}
.fixed-nav-bar-content .logo{float:left;text-align:left;width:50%;}
.fixed-nav-bar-content .logo img{height:45px;margin-top:15px;margin-left:10px;}
.fixed-nav-bar-content .call-us{float:right;text-align:right;width:50%;padding-right:10px;}
.fixed-nav-bar-content .call-us img{height:40px;margin-top:15px;margin-right:10px;}
.fixed-nav-bar-content .call-us div{background-color:#fff;margin-right:10px;width:400px;height:70px;margin-left:58px;}
.fixed-nav-bar-content .call-us div h2{text-align:center;padding:1px 0 0;margin:0;font-weight:600;font-size:21px;line-height:22px;}
.fixed-nav-bar-content .call-us div h3{text-align:center;padding:0;margin:0;font-size:14px;line-height:18px;}
.fixed-nav-bar-content .call-us div h3 a{color:#000;}
.fixed-nav-bar.main-nav-scrolled{top:70px;-webkit-box-shadow:0px 10px 7px -3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 10px 7px -3px rgba(0, 0, 0, 0.2);box-shadow:0px 10px 7px -3px rgba(0, 0, 0, 0.2);}
.fixed-nav-bar-content .call-us.desktop div{margin-right:0px;}
.fixed-nav-bar-content .call-us.desktop .call-us-content{background:rgba(0, 0, 0, 0) url("/assets/phone-icon-orange.png") no-repeat scroll 0 0;width:200px;text-align:left;padding-left:34px;float:right;margin-top:13px;margin-right:10px;}
.fixed-nav-bar-content .call-us.desktop .call-us-content a{font-weight:500;font-size:19px;color:#f98e2b;}
.fixed-nav-bar-content .call-us.desktop .call-us-content span{color:#00396d;}
@media only screen and (min-width:993px){header .call-us .call-us-content{margin-right:30px;}
 header .call-us .call-us-content{margin-right:30px;}
 header .locations {color:#fff;font-size:12px;padding:20px 0 0 100px;}
 .body-section{background-color: #fff;
  background-image: url('./img/laser-dnd-mobile.jpg');
  background-repeat: no-repeat;
  background-position: 80% 60%;
  background-size: auto 70%;}
 .body-section .form h2{font-size:22px;font-weight:300;margin:20px auto 0;text-align:center;width:100%;padding:0;}
 .body-section .bullets ul.precision li {margin-left:20px;}
 .body-section .factssection .section:first-child ul li{margin:0 0 0 15px;}
 .body-section .bullets.desktop {max-width:520px;} 
 .body-section .bullets ul.precision li{margin-bottom:0px;padding:4px 5px;width:100%;float:left;}
 footer{padding:20px 0;}
 footer .stillhavequestions{font-size:21px;margin:20px auto 0;padding:0 40px;text-align:justify;}
 footer .stillhavequestions img{float:left;margin-right:10px;display:inline-block;}
 footer .please-note{margin-top:20px;}
 footer .legal{padding:0 45px;margin-top:20px;}
 footer .stillhavequestions span{float:left;text-align:justify;margin-top:10px;}
 .landing-page-main-form .col-md-6:first-child{padding-right:4px;}
 .landing-page-main-form .col-md-6:last-child{padding-left:4px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0){select{-webkit-appearance:menulist-button;}
}
@media only screen and (max-width:992px){
 .mobile{display:none;}
 .tablet{display:inline-block;}
 .desktop{display:none;}
 .mobile.tablet{display:inline-block;}
 .call-us.mobile a{width:auto!important;}
 .call-us.mobile a img{width:100%;height:auto;max-width:450px;}
 .accurascope-lp{top:0;}
 header{width:100%;max-width:640px;margin:0 auto;text-align:center;height:225px;padding-top:0;padding-bottom:5px;}
 header > img{float:left;width:50%;}
 header .logo{text-align:left;}
 header .logo img{padding:5px 0 5px 10px;}
 header .call-us{text-align:right;}
 header .call-us img{padding:5px 20px 5px 0;}
 header .tablet{width:100%;overflow:hidden;}
 header .tablet .logo{float:left;width:50%;height:153px;}
 header .tablet .logo img{width:auto;height:129px;padding:20px 0 10px 30px;margin-top:20px;}
 header .tablet .call-us{float:left;height:153px;}
 header .tablet .call-us a{display:block;text-align:right;}
 header .tablet .call-us a img{height:121px;margin-bottom:0;margin-right:10px;margin-top:10px;padding-bottom:0;width:auto;}
 .hero .hero-txt{padding:0 20px;}
 header{height:auto;overflow:hidden;}
 header .tablet .logo, header .tablet .call-us{height:auto!important;}
 header .locations {color:#fff;background-color:#f98e2b;font-size:11px;padding:10px;}
 .hero{margin-top:0px!important;}
 .hero .small-testimonial{display:none;}
 .hero .hero-txt{height:auto!important;position:relative;}
 .hero .hero-txt p{padding:15px 10% 15px!important;}
 .body-section .bullets ul.precision {margin:0 auto;max-width:320px;}
 .body-section .bullets ul.precision li{float:none;width:auto;text-align:center;list-style-position:outside;}
 .body-section .bullets ul.precision li:first-child {clear:both;}
 footer{width:100%;margin:0 auto;color:#000;min-height:280px;}
 footer .col-sm-6{float:left;width:100%;display:inline-block;}
 footer .col-sm-6 .please-note{text-align:center;}
 footer .col-sm-6 ul.legal{margin:20px auto;width:216px;float:none;}
 footer .col-sm-12{float:left;width:100%;display:inline-block;}
 footer .legal{width:210px;padding:0 20px;margin:20px auto 0;float:none;}
 footer .stillhavequestions p{text-align:center;}
 footer .stillhavequestions p img{float:none;margin-bottom:10px;}
 footer .stillhavequestions span{display:block;float:left;margin-top:10px;width:100%;}
 .phone.mobile a{width:auto!important;}
 .phone.mobile a img{width:100%;height:auto;max-width:450px;}
 .fixed-nav-bar-content .tablet{display:block;}
 .nas-landing-page{top:0;}
 .hero{max-width:640px;margin:0 auto;background-image:none;height:auto;float:none;width:100%;}
 .hero .hero-txt{background-image:url("./img/blurry-image.jpg");background-size:100% 100%;border-top:10px solid #f98e2b;}
 .hero .hero-txt h1{font-size:28px;margin:0 auto;position:relative;text-align:center;}
 .hero .hero-txt p{text-align:center;margin:0 auto;padding:10px 10% 20px;}
 .hero img.desktop{display:none;}
 .hero img.mobile{display:inline-block;width:100%;}
 .body-section{max-width:640px;margin:0 auto;}
 .body-section ul{padding:10px!important;}
 .body-section p{padding:16px 10px;margin:0 auto;}
 .body-section .form{max-width:640px;margin:0 auto;}
 .body-section .form h2{padding:30px 10% 0;margin:0 auto;width:100%;}
 .body-section .form p{padding:0 80px 40px;}
 .body-section .form img{width:100%;height:auto;}
 .body-section ul p{padding:20px 40px;text-align:left;}
 .bodycopy{width:100%;max-width:640px;margin:0 auto;text-align:center;}
 .body-section ul{list-item-type:disc;text-align:left;padding:30px;margin:0 30px;list-style-type:none;}
 .factssection .section{width:49%;}
 .body-section .factssection ul li{float:none;max-width:100%;padding:0;list-style-type:disc;text-align:left;}
 .body-section ul p{padding:0;}
 .body-section .bullets ul p{padding:5px 0px;}
 .body-section .bullets ul.precision li{text-align:left;}
 .body-section .form form {margin-bottom:0px;}
 .bullets{padding:25px 0 10px;width:100%;}
 .bullets .shorttext{display:none;}
 .bullets .longtext{display:block;}
 .bullets strong{display:inline-block;margin-bottom:0px;text-align:center;width:auto;}
 .factssection button{background-color:#f98e2b;border-top:0;border-style:solid none;color:#fff;height:50px;margin-bottom:10px;text-align:center;border-bottom:0;margin-top:40px;font-size:16px;padding:8px 24px;}
 .contactustoday{display:block;background-color:#f98e2b;width:100%;max-width:640px;text-align:center;margin:0 auto;}
 .contactustoday img{width:90%;max-width:410px;padding:0px;margin-top:15px;}
 .contactustoday ul li button{width:180px;font-size:14px;border-bottom:2px solid #4d4c4d;}
 .factssection{max-width:640px;margin:0 auto;padding:0;background-color:#555;}
 .factssection .section{text-align:center;padding:20px 0;background-color:#555;color:#fff;}
 .factssection .section ul{margin:0 10%;}
 .factssection .section p{max-width:400px;margin:0 auto;padding:0 20px;}
 .factssection a.mobile{width:100%;text-align:center;margin-bottom:20px;}
 .mobile{display:none;}
 .tablet{display:inline-block;}
 .desktop{display:none;}
 .mobile.tablet{display:inline-block;}
 .modules{text-align:center;margin:0px auto;width:100%;max-width:640px;}
 .modules ul{list-item-type:none;padding:0;margin:0;}
 .modules ul li{display:inline-block;float:none;padding:0px;width:100%;height:auto;}
 .modules ul li:first-child{background-color:#005f95;background:rgba(0, 0, 0, 0) url("./img/module1.jpg") no-repeat scroll 0 0;background-size:100% auto;border-bottom:8px solid #fff;}
 .modules ul li span{display:block;float:left;margin:-20% auto 0;position:relative;text-decoration:none;width:100%;}
 .modules ul li:first-child button{color:#fff;height:50px;text-align:center;width:250px;border-left:0px;border-right:0px;border-top:1px solid #2b699a;border-bottom:1px solid #2b699a;margin:0px auto 0;font-size:16px;display:block;background-color:#014c86;}
 .modules ul li:last-child{background-color:#e87f21;background:rgba(0, 0, 0, 0) url("./img/module2.jpg") no-repeat scroll 0 0;background-size:100% auto;}
 .modules ul li:last-child button{color:#fff;height:50px;text-align:center;width:250px;border-left:0px;border-right:0px;border-top:1px solid #2b699a;border-bottom:1px solid #2b699a;margin:0px auto 0;font-size:16px;display:block;background-color:#014c86;}
 .modules ul li img{width:100%;height:auto;display:block;margin:0 auto;text-align:center;}
 #displetpop #displetpop-img{display:none;}
 #displetpop .mkto-form{width:100%;}
 #shiftnav-toggle-main, #shiftnav-main{display:none!important;}
 #shiftnav-toggle-main, #shiftnav-main{display:none!important;}
 footer{max-width:640px;min-height:350px;margin:0 auto;}
 footer .col-sm-8{width:100%;}
 footer .col-sm-4{width:100%;}
 footer p.please-note{text-align:center;}
 footer .legal{width:auto;}
 .anchor-mobile {padding-top:50px;margin-top:-50px;}
  /* Start Fixed Nav Bar */
 .fixed-nav-bar{position:fixed;margin-top:-70px;left:0;z-index:9999;width:100%;height:70px;background-color:#fff;}
 .fixed-nav-bar-content{margin:0 auto;max-width:640px;}
 .fixed-nav-bar-content .logo{float:left;text-align:left;width:50%;padding-left:10px;}
 .fixed-nav-bar-content .logo img{height:55px;margin-top:5px;margin-left:10px;}
 .fixed-nav-bar-content .call-us{float:right;text-align:right;width:50%;}
 .fixed-nav-bar-content .call-us img{height:40px;margin-top:15px;margin-right:10px;}
 .fixed-nav-bar.main-nav-scrolled{top:70px;-webkit-box-shadow:0px 10px 7px -3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 10px 7px -3px rgba(0, 0, 0, 0.2);box-shadow:0px 10px 7px -3px rgba(0, 0, 0, 0.2);}
 /* Start Landing Page Main Form */
 .landing-page-main-form .col-md-6{padding:0;}
 .modal input#FirstName {margin-right:0;}
 .modal input#City {margin-right:0;}
 .modal-dialog#myModal1 {margin:10px 0;}
}
@media only screen and (max-width:640px){.fixed-nav-bar-content .call-us img{height:35px;}
 .mobile{display:inline-block;}
 .tablet{display:none;}
 .desktop{display:none;}
 header .mobile{width:100%;}
 header .mobile .logo, header .mobile .call-us{height:auto !important;}
 header .logo img{height:129px;margin-top:20px;padding:20px 0 10px 30px;width:auto;}
 header .call-us img{height:121px;margin-bottom:0;margin-right:10px;margin-top:10px;padding-bottom:0;width:auto;}
 header .mobile .logo {margin:-20px 0 0;padding:0;}
 header .mobile .call-us {margin:0;padding:0;}
 .hero{float:left;}
 .hero .hero-txt p{padding:10px 10% 20px;}
 .contactustoday{height:auto;min-height:auto;}
 .bullets{display:block;float:none;}
 .bullets{padding:25px 10px 10px;}
 .bullets.desktop{display:none;}
 .body-section .bullets ul.precision li {margin:0 20px;}
 .body-section .factssection ul{margin:0 40px;}
 .body-section .form h2{font-size:20px;}
 .body-section .form form{padding:20px 20px 30px;}
 footer .stillhavequestions{font-size:17px;}
 footer p.please-note{padding:0;}
  .fixed-nav-bar-content{max-width:640px;}
 .landing-page-main-form .form-grouper{display:inline-block;width:100%;}
}
@media only screen and (max-width:480px){.hero .hero-txt h1{font-size:24px;}
 .hero .hero-txt p{font-size:18px;}
 .factssection .section{width:100%;}
 .body-section .factssection ul{margin:0 20px;}
 .bullets .shorttext{display:block;}
 .bullets .longtext{display:none;}
}
@media only screen and (min-width:993px){.body-section{width:1024px;margin:0 auto;height:245px;}
 .body-section .form{margin-left:550px;position:absolute;width:400px;top:103px;z-index:1000;}
 .bullets ul{width:500px;padding:5px 5px 20px 20px;list-style-type:none;}
 .bullets ul li{text-align:left;padding:5px 10px;}
 .bullets{padding:30px 15px 10px;}
 .bullets p{margin:0;padding:0;text-align:left;}
 .factssection a{width:100%;text-decoration:none;margin-bottom:30px;}
 .factssection button{background-color:#f98e2b;border-top:0;border-style:solid none;color:#fff;height:50px;text-align:center;border-bottom:0;margin-top:0px;margin-bottom:40px;font-size:16px;margin:0 auto;display:block;padding:8px 24px;border-radius:6px;}
 .contactustoday{background-color:#f98e2b;position:relative;width:1024px;float:left;}
 .contactustoday p{text-align:center;}
 .mobile{display:none;}
 .tablet{display:none;}
 .desktop{display:inline-block;}
 .factssection{background-color:#555;color:#fff;display:block;}
 .factssection ul{padding:0 10px;}
 .modules{width:1024px;text-align:center;border-bottom:2px solid #fff;border-top:8px solid #4c4c4c;margin:37px auto 0;}
 .modules ul{list-item-type:none;}
 .modules ul li{display:inline-block;float:left;padding:0px;width:50%;height:254px;}
 .modules ul li:first-child{background-color:#003a70;background:rgba(0, 0, 0, 0) url("./img/module1.jpg") no-repeat scroll 0 0;background-size:100% auto;}
 .modules ul li span{text-decoration:none;display:block;margin-top:-20%;position:relative;text-align:center;}
 .modules ul li img{width:100%;height:auto;}
 .modules ul li button{color:#fff;height:50px;text-align:center;width:250px;border-left:0px;border-right:0px;border-top:0;border-bottom:0;margin:0px auto 0;font-size:16px;display:block;padding:8px 24px;background-color:#003a70;}
 .modules ul li button:hover, .modules ul li button:focus, .modules ul li button:active, .modules ul li button:visited{background-color:#003a70!important;}
 .modules ul li:last-child{background-color:#e87f21;background:rgba(0, 0, 0, 0) url("./img/module2.jpg") no-repeat scroll 0 0;background-size:100% auto;}
 footer .stillhavequestions span{font-size:20px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 input{border-radius:0px;}
 select{background:transparent;-webkit-appearance:menulist-button;font-size:13px;line-height:30px;height:36px;border-radius:0;width:101%;}
}

/* Style Overrides for Select Dropdowns */
select {
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color:#fff;
  background-image:url("./img/select-arrow-down.png");
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:url("./img/select-arrow-up.png");
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
  border-color:#fff;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}