/* General Styles */

.white {
 color:#ffffff;
}
.orange {
 color:#f08c2a;
}
.show-on-mobile {
 display: none;
}
@media screen and (max-width: 1024px) {
 .show-on-mobile {
  display: block !important;
 }
 .show-on-mobile .title:first-child {
  color:#233c69
 }
}

/* Hero */

.hero .each-slide {
 background: #000 url("../shared/img/Mike-Jill_Web_Retouched_Center-1-min-1.jpg") no-repeat center;
 min-width: 100%;
 background-size: cover;
}
.hero .each-slide h2 {
 font-size: 1.5rem;
 margin-left: 0;
 margin-top: 20px;
 position: relative;
}
.hero .each-slide .left-content p {
 float:left;
 width:100%;
}
.hero .each-slide .left-content p em {
 font-size:12px;
}
.hero .each-slide .left-content p em i {
 color:#f88c29;
}
@media screen and (min-width: 992px) {
 .hero .each-slide .left-content {
  position: relative;
  width: 55%;
  float: none;
  text-align: right;
 }
 .hero .each-slide .left-content h1,
 .hero .each-slide .left-content h2,
 .hero .each-slide .left-content p,
 .hero .each-slide .left-content .btn-orange {
  text-align: left;
 }
 .hero .each-slide .left-content h2 {
  color:#fff;
 }
 .hero .each-slide .left-content .btn-orange {
  float: left;
 }
 .hero .desktop-only {
  display:inline-block;
 }
}
@media screen and (max-width: 991px) {
 .hero {
  border-bottom: 2px solid #80a0b6;
 }
 .hero .each-slide {
  background-position: 20% 100%;
 }
 .hero .each-slide .left-content h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  margin-top: 10px;
  color:#fff;
 }
 .hero .each-slide .left-content p.actual-patient {
  display:none;
 }
 .hero .desktop-only {
  display:none;
 }
 .hero .left-content {
  text-align: center;
 }
 #page.fixtime .site-branding .tagline {
  display:none;
 }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
 .hero {
  border-top: 2px solid #80a0b6;
 }
 .hero .each-slide {
  background-position: 50% 100%!important;
 }
 .hero .each-slide .left-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  left: 0px;
  padding: 25px;
  text-align: center;
 }
 .hero .each-slide .left-content h1 {
  font-size: 2rem;
  line-height: 2.5rem;
 }
 .hero .each-slide .left-content p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 0;
 }
 .hero .each-slide .left-content .btn-orange {
  margin-top: 5px;
 }
}
@media screen and (max-width: 767px) {
 .hero .each-slide {
  background-position: 50% 100%!important;
 }
 .hero .each-slide .left-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  left: 0px;
  padding: 25px;
  text-align: center;
 }
 .hero .each-slide .left-content h1 {
  font-size: 2rem;
  line-height: 2.5rem;
 }
 .hero .each-slide .left-content p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 0;
 }
 .hero .each-slide .left-content .btn-orange {
  margin-top: 5px;
 }
}

/* Blue-sub */

.blue-sub {
 text-align: center;
 background: #0f1c34;
 color: #fbfbfb;
}
.blue-sub h2 {
 margin-top: 0;
 font-size:1.5em;
 font-weight:300;
 border-bottom:1px solid #30425a;
 padding-bottom:10px;
}
.blue-sub h3 {
 color:#f38c2d;
 font-style: italic;
 margin-top:10px;
}
.blue-sub ul {
 font-size: 1.167rem;
 font-family: 'archerLight';
 width: 100%;
 max-width:1200px;
 margin: 0px auto 15px;
 color: #fbfbfb;
}
.blue-sub ul li {
 padding:4px 10px;
 font-weight:600;
 display: inline;
 padding: 0 10px;
 border-left: solid 1px #ef8d31;
 font-size: 14px;
}
.blue-sub ul li:first-child{
 border-left: none;
}
@media screen and (min-width: 992px) {
 .blue-sub {
  border-top: 2px solid #80a0b6;
  border-bottom: 2px solid #80a0b6;
 }
 .blue-sub h2 {
  padding-bottom: 25px;
 }
}
@media screen and (max-width: 992px) {
 .blue-sub {
  width: 100%;
  padding: 0;
 }
 .blue-sub h2 {
  padding: 20px 15px 20px 0;
  border-bottom: 0;
  margin-left: 15px;
  text-align: center;
  margin-bottom:0;
  color:#f78d2e;
 }
 .blue-sub h3 {
  font-style: normal;
  background-color: #fff;
  color: #233c69;
  padding: 20px 15px;
  margin: 0;
  text-align: left;
  border-top: 2px solid #80a0b6;
  border-bottom: 2px solid #80a0b6;
 }
 .blue-sub p {
  width: 80%;
  line-height: 24px;
 }
 .blue-sub ul {
  background-color: #d9e2e9;
  width: 100%;
  max-width: 100%;
  padding: 20px 15px;
  margin-bottom: 0;
 }
 .blue-sub ul li {
  border: 0;
  color: #233c69;
  display: block;
  text-align: left;
  list-style-type: disc;
  padding: 10px 0px;
 }
}

/* Cities */

.cities-section {
 background: #101c34 none repeat scroll 0 0;
}
ul.cities {
 background: #101c34;
 margin: 0 25px;
 padding: 18px 10px;
 text-align: center;
}
ul.cities li {
 color: #ffffff;
}
ul.cities li {
 display: inline-block;
 font-size: 16px;
 color: #fff;
}
ul.cities li::after {
 content: '|';
 display: inline-block;
 margin: 0 6px;
 font-size: 14px;
 color: #f08c2a;
}
ul.cities li:last-child::after {
 content: '';
 margin-right:0;
}
@media screen and (max-width: 992px) {
 ul.cities-section {
  border-top:0;
  border-bottom:0;
 }
 ul.cities {
  border-bottom: 1px solid #30425a;
 }
}

/* Drop-Down Form */
@media screen and (min-width: 992px) {
 .site-header .ask-expert .form-area {
  /* IE10+ */
  background-image: -ms-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
  /* Opera */
  background-image: -o-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(167, 176, 194, 0.70)), color-stop(100, rgba(71, 91, 119, 0.85)));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
  /* W3C Markup */
  background-image: linear-gradient(to bottom, rgba(167, 176, 194, 0.70), rgba(71, 91, 119, 0.85));
 }
}
.site-header .ask-expert .form-area .toggle-close {
 background-color: #0f2240;
}

/* Ask Expert Static Form */

.ask-expert-static {
 display: inline-block;
 width: 100%;
 color: #fff;
 cursor: pointer; }
.ask-expert-static .expert-icon {
 background: url('assets/img/contact-us.png') no-repeat;
 width: 40px;
 margin: 10px;
 height: 40px;
 background-size: auto auto;
 background-position: center center; }
.ask-expert-static h5 {
 position: absolute;
 top: 13px;
 left: 60px;
 margin: 0; }
.ask-expert-static p {
 position: absolute;
 left: 60px;
 bottom: 12px;
 font-size: 1.1rem;
 color: #fbfbfb;
 margin: 0;
 font-family: 'archerMediumItalic', 'archerMedium'; }
.ask-expert-static .toggle {
 position: absolute;
 right: 65px;
 right: 0;
 width: 40px;
 height: 25px;
 top: 19px;
 cursor: pointer;
 transition: 0.3s linear all; }
.ask-expert-static .toggle:before {
 position: absolute;
 left: 13px;
 width: 2px;
 height: 12px;
 top: 8px;
 content: '';
 background: #fff;
 transform: rotate(-60deg); }
.ask-expert-static .toggle:after {
 position: absolute;
 right: 15px;
 width: 2px;
 top: 8px;
 height: 12px;
 content: '';
 background: #fff;
 transform: rotate(60deg); }
.ask-expert-static .in-phone {
 position: absolute;
 /* IE10+ */
 background-image: -ms-linear-gradient(top, #F9AF6C 0% #f78d2e 100%);
 /* Mozilla Firefox */
 background-image: -moz-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);
 /* Opera */
 background-image: -o-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);
 /* Webkit (Safari/Chrome 10) */
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9AF6C), color-stop(100, #f78d2e));
 /* Webkit (Chrome 11+) */
 background-image: -webkit-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);
 /* W3C Markup */
 background-image: linear-gradient(to bottom, #F9AF6C 0%, #f78d2e 100%);
 width: 0px;
 height: 60px;
 top: 0;
 right: 0;
 overflow: hidden;
 transition: 0.3s linear all; }
.ask-expert-static .phone {
 position: relative;
 top: 13px;
 left: -4px;
 width: 36px;
 height: 36px;
 background: url(assets/img/phone_icon-white.png) no-repeat;
 display: inline-block;
 background-size: 100%;
 vertical-align: middle;
 margin: 0 20px 0 15px; }
.ask-expert-static .form-area {
 width: 100%;
 height: auto;
 overflow: hidden;
 position: relative;
 transition: 0.2s linear all; }
.ask-expert-static .form-area form {
 position: relative;
 left: 0;
 padding: 25px 30px 15px 30px;
 top: 0;
 width:100%;
 height:auto;
 border-bottom: 10px solid #0f1c34;}
.ask-expert-static .form-area form input {
 margin-top: 0; }
.ask-expert-static .form-area form input[type="checkbox"] {
 width: auto; }
.ask-expert-static .form-area form input.phone {
 top: 0;
 left: 0;
 background: none;
 background-color: #e6ecf0;
 background-size: initial;
 margin-bottom: 10px; }
.ask-expert-static .form-area form input[type="submit"] {
 width: calc(100% - 10px);
 float: none;
 max-width:300px; }
.ask-expert-static .form-area form textarea {
 width: 100%;
 margin: 0; }
.ask-expert-static .form-area form select {
 width: calc(100%);
 margin-top: 0;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 padding-left: 7px !important;
 background: #e6ecf0; }
.ask-expert-static .form-area form input, .ask-expert-static .form-area form textarea, .ask-expert-static .form-area form select {
 padding: 14px;
 font-size: 1.1rem; }
.ask-expert-static .form-area form > label {
 margin-bottom: 0;
 font-size: 1rem;
 margin-top: 10px; }
.ask-expert-static .form-area form > label.disclaimer {
 font-size: 10px;
 margin-top: -5px; }
.ask-expert-static .form-area form .disclaimer {
 margin-bottom: 10px; }
.ask-expert-static .form-area form .privacypolicy-container {
 margin-top: 5px !important; }
.ask-expert-static.toggled .form-area {
 height: auto; }
.ask-expert-static .form-area form .privacypolicy-container label {
 color:#000; }
.ask-expert-static .form-area form .privacypolicy-container label a {
 color:#000; }

/* DND Procedure */

.dnd-procedure {
 padding: 30px 0;
 text-align: center
}
.dnd-procedure .left {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 width: 230px;
 padding: 0 0 0 25px;
 text-align: left
}
.dnd-procedure .container {
 position: relative
}
.dnd-procedure .title {
 margin: 0;
 font-size: 16px;
 color: #f08c2a
}
.dnd-procedure .left:before {
 content: '';
 position: absolute;
 top: -40px;
 left: 0;
 width: 18px;
 height: 18px;
 background: url("./img/dnd-procedure-corners.jpg") 0 0
}
.dnd-procedure .left:after {
 content: '';
 position: absolute;
 bottom: -40px;
 left: 0;
 width: 18px;
 height: 18px;
 background: url("./img/dnd-procedure-corners.jpg") 0 18px
}
.dnd-procedure .center {
 display: inline-block;
 vertical-align: middle;
 width: 300px;
 text-align: center
}
.dnd-procedure .center img {
 max-width: 100%
}
.dnd-procedure .right {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 padding: 0 25px 0 0;
 width: 230px;
 text-align: right
}
.dnd-procedure .right:before {
 content: '';
 position: absolute;
 top: -40px;
 right: 0;
 width: 18px;
 height: 18px;
 background: url("./img/dnd-procedure-corners.jpg") 18px 0
}
.dnd-procedure .right:after {
 content: '';
 position: absolute;
 bottom: -40px;
 right: 0;
 width: 18px;
 height: 18px;
 background: url("./img/dnd-procedure-corners.jpg") 18px 18px
}
@media screen and (max-width: 1024px) {
 .dnd-procedure {
  width: 100%
 }
 .dnd-procedure .title {
  margin: 25px 0;
 }
 .dnd-procedure .title:last-child {
  margin-bottom: 0
 }
 .dnd-procedure .left {
  position: absolute;
  top: 140px;
  left: 25px;
  width: auto
 }
 .dnd-procedure .left .title {
  display: none
 }
 .dnd-procedure .center {
  width: auto
 }
 .dnd-procedure .right {
  position: absolute;
  top: 140px;
  right: 25px;
  width: auto
 }
 .dnd-procedure .right .title {
  display: none
 }
}

/* Pain Relief */

.pain-relief {
 padding: 30px 0
}
.pain-relief .table {
 display: table;
 width: 100%;
 border: 2px solid #84a0b6
}
.pain-relief .table .head {
 display: block;
 height: 110px;
 margin: 0 0 15px 0;
 border-bottom: 2px solid #84a0b6
}
.pain-relief .table .head .title {
 margin: 0;
 font-size: 24px;
 line-height: 30px;
}
.pain-relief .table .body {
 padding: 25px 0
}
.pain-relief .table .body .step {
 margin: 0 0 25px 0;
 font-size: 15px
}
.pain-relief .table .body .step:after {
 clear: both;
 content: '';
 display: block
}
.pain-relief .table .body .step span {
 float: left;
 margin: -7px 10px 0 0;
 font-size: 24px;
 color: #f08c2a
}
.pain-relief .table .body .step ul {
 margin-top: 10px
}
.pain-relief .table .body .step ul li {
 font-size: 12px
}
.pain-relief .table .body p {
 margin: 0 0 25px 0;
 font-size: 16px;
 line-height: 20px
}
.pain-relief .table .body p a {
 color:#000;
 font-weight:700;
}
.pain-relief .table .body p:last-child {
 margin-bottom: 0
}
.pain-relief .table .left {
 display: table-cell;
 height: 100%;
 width: 50%;
 padding: 30px;
 color: #1b3e6f
}
.pain-relief .table .left:after {
 clear: both;
 content: '';
 display: block
}
.pain-relief .table .left .col-1 {
 float: left;
 width: 50%
}
.pain-relief .table .left .col-2 {
 float: left;
 width: 50%
}
.pain-relief .table .right {
 display: table-cell;
 height: 100%;
 width: 50%;
 padding: 30px;
 background: #80a0b7;
 color: #ffffff
}
.pain-relief .table .right .head {
 border-color: #ffffff
}
@media screen and (max-width: 1024px) {
 .pain-relief {
  padding: 0
 }
 .pain-relief .container {
  padding: 0 !important
 }
 .pain-relief .table {
  display: block;
  margin: 0;
  border: none
 }
 .pain-relief .table .head {
  background: #ffffff;
  height: auto;
  margin: 0;
  padding: 15px;
  border-top: 2px solid #84a0b6
 }
 .pain-relief .table .head .title {
  font-size: 18px;
  line-height: 22px
 }
 .pain-relief .table .body {
  padding: 0
 }
 .pain-relief .table .body .step {
  margin: 0;
  padding: 15px
 }
 .pain-relief .table .body .step ul li {
  width: 30%;
  display: inline-block
 }
 .pain-relief .table .left {
  display: block;
  width: 100%;
  height: auto;
  padding: 0
 }
 .pain-relief .table .left .col-1 {
  float: none;
  width: 100%
 }
 .pain-relief .table .left .col-1 .step:nth-child(odd) {
  background: #d9e2e9
 }
 .pain-relief .table .left .col-2 {
  float: none;
  width: 100%
 }
 .pain-relief .table .right {
  display: block;
  width: 100%;
  height: auto;
  padding: 0
 }
 .pain-relief .table .right .head {
  border-color: #84a0b6;
  color: #1b3e6f
 }
 .pain-relief .table .right .body {
  background: #d9e2e9;
  padding: 20px 15px;
  color: #1b3e6f
 }
}
@media screen and (min-width: 1024px) {
 .pain-relief .table .right .head .title {
  color:#fff;
 }
 .pain-relief .table .right .body p {
  color:#fff;
 }
 .pain-relief .table .right .body p a {
  color:#fff;
 }
}
@media screen and (max-width: 960px) {
 .pain-relief .table .body .step ul li {
  width: 100%;
  display: block
 }
}

/* Info Bar */

.info-bar {
 overflow-x: hidden;
 position: relative;
 padding: 20px 0;
 text-align: center;
 font-size: 14px;
 color: #ffffff;
 background: #111f3a;
}
.info-bar p {
 display: inline-block;
 margin: 0;
 font-size: 16px;
 color:#fff;
}
.info-bar .call img {
 margin: 0 5px;
}
.info-bar p a {
 font-size: 16px;
 color: #f08c2a;
}
.info-bar .call a {
 font-size: 16px;
 color: #ffffff;
}
.info {
 padding: 0;
 text-align: center;
 background: #fff;
 color: #ffffff
}
.info.patients {
 padding: 50px 0;
 text-align: center;
 background: #80a0b7;
 color: #ffffff;
}
.info-bar-two {
 background-color:#d9e2e9;
}
.info-bar-two p {
 color:#000;
}
.info .title {
 margin: 0;
 font-size: 24px;
 color: inherit
}
.info .half.request .request-info-kit h3 {
 background-color: #efefef;
 margin: 0;
 padding-bottom: 12px;
 padding-top: 35px;
}
.info .half.request a:not(.btn-orange) {
 background-color: #efefef;
}
.info .gray {
 background-color: #fff;
}
.info .half.video {
 background: #fff;
 padding-bottom: 35px;
}
.info .half.video .btn-orange {
 color:#000;
}
.info .half.video .request-info-kit {
 background-color: #fff;
}
.info .half.request .request-info-kit h3 {
 background-color: #efefef;
 padding-top: 35px;
 margin: 0;
 padding-bottom: 12px;
}
.info .half.request a:not(.btn-orange) {
 background-color: #efefef;
}
@media screen and (max-width: 992px) {
 .info-bar {
  display:none;
 }
 .info-bar.info-bar-two {
  display:block;
 }
}
@media screen and (max-width: 1024px) {
 .info {
  padding: 0;
 }
}

/* Pushes */
.pushes {
 padding: 50px 0
}
.pushes .push {
 width: 25%;
 float: left;
 padding: 0 20px;
 text-align: center
}
.pushes .push.invert .body {
 background-image: linear-gradient(to top, #fff 0%, #D2D8E2 100%)
}
.pushes .push .icon {
 display: block;
 margin: 0 auto 10px auto;
 height: 90px;
 width: 90px;
 background: url("./img/pushes-icons.png")
}
.pushes .push .icon.dna {
 background-position: 0 0
}
.pushes .push .icon.heartbeat {
 background-position: -90px 0
}
.pushes .push .icon.care {
 background-position: -180px 0
}
.pushes .push .icon.file {
 background-position: -270px 0
}
.pushes .push .body {
 padding: 15px 15px 0 15px
}
.pushes .push .body .title {
 margin: 0;
 font-size: 21px;
 color: #2a3a54
}
.pushes .push .body ul {
 text-align: left;
 margin: 15px 0 0 0;
 padding: 0 5px;
}
.pushes .push .body ul li {
 margin: 0 0 10px 0;
 font-size: 14px;
 list-style-type: inherit
}
.pushes .review {
 padding: 60px 0 0 0;
 text-align: center
}
.pushes .review .button {
 display: inline-block;
 padding: 10px 35px;
 font-size: 16px;
 color: #ffffff;
 background: #fbae6a;
 background: -moz-linear-gradient(top, #fbae6a 0%, #f88c29 100%);
 background: -webkit-linear-gradient(top, #fbae6a 0%, #f88c29 100%);
 background: linear-gradient(to bottom, #fbae6a 0%, #f88c29 100%);
 filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fbae6a', endColorstr='#f88c29', GradientType=0);
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-transition: background .2s ease-in;
 -moz-transition: background .2s ease-in;
 -o-transition: background .2s ease-in;
 transition: background .2s ease-in
}
.pushes .review .button:hover {
 text-decoration: none;
 background: #f08c2a
}
@media screen and (max-width: 1024px) {
 .pushes {
  padding: 0
 }
 .pushes .container {
  padding: 0 !important
 }
 .pushes .push {
  width: 100%;
  float: none;
  padding: 30px 0;
  text-align: left
 }
 .pushes .push.invert {
  background: #d9e2e9
 }
 .pushes .push.invert .body {
  background-image: none
 }
 .pushes .push .icon {
  float: left;
  margin: 0 0 0 25px
 }
 .pushes .push .body {
  padding: 0 20px 0 140px
 }
 .pushes .push .body ul li {
  margin: 0
 }
 .pushes .review {
  padding: 30px 0;
 }
}
@media screen and (min-width: 1024px) {
 .pushes .review .button.mobile {display:none;}
}
@media screen and (max-width: 1023px) {
 .pushes .review .button.desktop {display:none;}
}

/* Contact Bar */

.contact-bar {
 height: 60px;
 width: 100%;
 background: #0f1c34;
 text-align: center;
 color: #fbfbfb;
 line-height: 60px;
 z-index: 100;
}
.contact-bar .phone {
 width: 36px;
 height: 36px;
 background: url("/wp-content/themes/north-american-spine/assets/img/phone_icon.png") no-repeat;
 display: inline-block;
 background-size: 100%;
 vertical-align: middle;
 margin: 0 20px 0 15px;
}
.contact-bar p {color:#fff;}
.contact-bar p a {color:#fff;}

/* Learn More */

.learn-more .title {
 margin: 0;
 font-size: 20px;
 line-height: 28px;
 color: #2a3a54
}
.learn-more .button {
 display: block;
 margin: 0 auto;
 width: 240px;
 text-align: center;
 color: #101b31;
 font-size: 14px;
 padding: 7px 20px 8px 20px;
 border: 3px solid #f08c2a;
 border-top-color: transparent;
 -webkit-border-bottom-right-radius: 5px;
 -webkit-border-bottom-left-radius: 5px;
 -moz-border-radius-bottomright: 5px;
 -moz-border-radius-bottomleft: 5px;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
 -webkit-transition: all .2s ease-in;
 -moz-transition: all .2s ease-in;
 -ms-transition: all .2s ease-in;
 -o-transition: all .2s ease-in;
 transition: all .2s ease-in
}
.learn-more .video {
 float: left;
 width: 50%
}
.learn-more .video:hover .foot .button {
 text-decoration: none;
 background: #f08c2a;
 color: #ffffff;
 border: 3px solid #f08c2a;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px
}
.learn-more .video .body {
 position: relative;
 height: 420px
}
.learn-more .video .body .title {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 text-align: center;
 padding: 20px 100px;
 color: #ffffff
}
.learn-more .video .body iframe {
 width: 100%;
 height: 420px
}
.learn-more .video .foot {
 padding: 40px 0
}
.learn-more .request-info-kit {
 float: left;
 width: 50%
}
.learn-more .request-info-kit:hover .body .images img:first-child {
 -webkit-transform: rotate(-2.5deg) scale(1.02);
 -moz-transform: rotate(-2.5deg) scale(1.02);
 -ms-transform: rotate(-2.5deg) scale(1.02);
 -o-transform: rotate(-2.5deg) scale(1.02);
 transform: rotate(-2.5deg) scale(1.02)
}
.learn-more .request-info-kit:hover .body .images img:last-child {
 -webkit-transform: rotate(2deg) scale(1.02);
 -moz-transform: rotate(2deg) scale(1.02);
 -ms-transform: rotate(2deg) scale(1.02);
 -o-transform: rotate(2deg) scale(1.02);
 transform: rotate(2deg) scale(1.02)
}
.learn-more .request-info-kit:hover .foot .button {
 text-decoration: none;
 background: #f08c2a;
 color: #ffffff;
 border: 3px solid #f08c2a;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px
}
.learn-more .request-info-kit .body {
 height: 420px;
 padding: 15px;
 text-align: center;
 background: #eeeeee
}
.learn-more .request-info-kit .body .images {
 position: relative;
 display: block;
 width: 310px;
 margin: 0 auto
}
.learn-more .request-info-kit .body .images img {
 position: absolute;
 top: 0;
 left: 0;
 -webkit-transition: all .2s ease-in;
 -moz-transition: all .2s ease-in;
 -ms-transition: all .2s ease-in;
 -o-transition: all .2s ease-in;
 transition: all .2s ease-in
}
.learn-more .request-info-kit .foot {
 padding: 40px 0
}
@media screen and (max-width: 1024px) {
 .learn-more .container {
  padding: 0 !important
 }
 .learn-more .video {
  width: 100%;
  float: none
 }
 .learn-more .request-info-kit {
  width: 100%;
  float: none
 }
}

/* Contact Area */
.contact-area {
 padding-bottom: 0px;
}
.contact-area p {
 margin-bottom:5px;
}

/* Footer */

footer .policies {
 width:100%;
 border-top:1px solid #31445e;
 border-bottom:1px solid #31445e;
 color:#fff;
 text-align:center;
 padding:10px 0;
}
footer .policies li {
 font-size: 1.0rem;
 font-weight:300;
 display: inline;
 padding: 0px 10px;
 border-left: solid 1px #ef8d31;
}
footer .policies li:first-child{
 border-left: none;
 padding-right:0;
 margin-right:0;
}
footer .site-info p {
 text-align:center;
}
@media (max-width: 768px) {
 footer .policies li:first-child {
  margin-top:0!important;
  text-align: right;
 }
}

