@font-face {
  font-family: 'ArcherSSm-Book';
  src: url('ArcherSSm-Book.eot');
  src: url('ArcherSSm-Book.woff') format('woff'),
       url('ArcherSSm-Book.ttf') format('truetype'),
       url('ArcherSSm-Book.svg#ArcherSSm-Book') format('svg'),
       url('ArcherSSm-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

