@font-face {
  font-family: 'ArcherSSm-BoldItalic';
  src: url('ArcherSSm-BoldItalic.eot');
  src: url('ArcherSSm-BoldItalic.woff') format('woff'),
       url('ArcherSSm-BoldItalic.ttf') format('truetype'),
       url('ArcherSSm-BoldItalic.svg#ArcherSSm-BoldItalic') format('svg'),
       url('ArcherSSm-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

