/* Header and Top Nav */
.site-branding .logo {
 left: 0;
}
.phone-spot.open-mob {
 right:0;
}

/* Main Navigation */
.main-navigation .menu-main-container {
 position:relative;
 top:21px;
 left:0;
 text-align: left;
 display:inline-block;
 float:left;
}
.main-navigation #primary-menu {
 padding-left:0;
}
.main-navigation #primary-menu > li::after {
 display: none !important;
}
.main-navigation #primary-menu li {
 padding: 4px 10px;
 font-weight: 600;
 display: inline;
 padding: 0 10px;
 padding-left: 10px;
 border-left: solid 1px #ef8d31;
 color: #111f3a;
}
.main-navigation #primary-menu li:first-child {
 border-left: none;
 padding-left: 0;
}
.main-navigation .ask-expert {
 float: right;
}

.ask-expert .contactus-icon {
 background: url('../shared/img/contact-us.png') no-repeat;
 width: 40px;
 margin: 10px;
 height: 40px;
 background-size: auto auto;
 background-position: center center;
 position:relative;
}

/* Hero */
.hero .slick-track, .hero .slick-list {
 width:100%;
}

@media screen and (min-width: 992px) {
 .main-navigation .menu-main-container, .main-navigation .menu-alt-main-menu-container {
  display: inline-block;
  position: relative;
  top: 20px;
  float:left;
  left:0px;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
 }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
 .main-navigation .menu-main-container, .main-navigation .menu-alt-main-menu-container {
  display: inline-block;
  position: relative;
  top: 20px;
  float:left;
  left:0px;
  text-align: left;
 }
}