// 8px = 0.6667rem
// 9px = 0.75rem
// 10px = 0.8333rem
// 11px = 0.9167rem
// 12px = 1rem (base)
// 13px = 1.083rem
// 14px = 1.167rem
// 15px = 1.25rem
// 16px = 1.333rem
// 18px = 1.5rem
// 20px = 1.667rem
// 22px = 1.833rem
// 24px = 2rem
// 26px = 2.167rem
// 28px = 2.333rem
// 30px = 2.5rem
// 32px = 2.667rem
// 34px = 2.833rem
// 36px = 3rem
// 38px = 3.167rem
// 48px = 4rem
// 72px = 6rem

@font-face {
    font-family: 'archerBold';
    src: url('sass/font-files/ArcherSSm-Bold/ArcherSSm-Bold.eot');
    src: url('sass/font-files/ArcherSSm-Bold/ArcherSSm-Bold.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-Bold/ArcherSSm-Bold.woff') format('woff'),
         url('sass/font-files/ArcherSSm-Bold/ArcherSSm-Bold.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-Bold/ArcherSSm-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerBoldItalic';
    src: url('sass/font-files/ArcherSSm-BoldItalic/ArcherSSm-BoldItalic.eot');
    src: url('sass/font-files/ArcherSSm-BoldItalic/ArcherSSm-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-BoldItalic/ArcherSSm-BoldItalic.woff') format('woff'),
         url('sass/font-files/ArcherSSm-BoldItalic/ArcherSSm-BoldItalic.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-BoldItalic/ArcherSSm-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerBook';
    src: url('sass/font-files/ArcherSSm-Book/ArcherSSm-Book.eot');
    src: url('sass/font-files/ArcherSSm-Book/ArcherSSm-Book.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-Book/ArcherSSm-Book.woff') format('woff'),
         url('sass/font-files/ArcherSSm-Book/ArcherSSm-Book.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-Book/ArcherSSm-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerBookItalic';
    src: url('sass/font-files/ArcherSSm-BookItalic/ArcherSSm-BookItalic.eot');
    src: url('sass/font-files/ArcherSSm-BookItalic/ArcherSSm-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-BookItalic/ArcherSSm-BookItalic.woff') format('woff'),
         url('sass/font-files/ArcherSSm-BookItalic/ArcherSSm-BookItalic.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-BookItalic/ArcherSSm-BookItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerLight';
    src: url('sass/font-files/ArcherSSm-Light/ArcherSSm-Light.eot');
    src: url('sass/font-files/ArcherSSm-Light/ArcherSSm-Light.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-Light/ArcherSSm-Light.woff') format('woff'),
         url('sass/font-files/ArcherSSm-Light/ArcherSSm-Light.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-Light/ArcherSSm-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerLightItalic';
    src: url('sass/font-files/ArcherSSm-LightItalic/ArcherSSm-LightItalic.eot');
    src: url('sass/font-files/ArcherSSm-LightItalic/ArcherSSm-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-LightItalic/ArcherSSm-LightItalic.woff') format('woff'),
         url('sass/font-files/ArcherSSm-LightItalic/ArcherSSm-LightItalic.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-LightItalic/ArcherSSm-LightItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerMedium';
    src: url('sass/font-files/ArcherSSm-Medium/ArcherSSm-Medium.eot');
    src: url('sass/font-files/ArcherSSm-Medium/ArcherSSm-Medium.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-Medium/ArcherSSm-Medium.woff') format('woff'),
         url('sass/font-files/ArcherSSm-Medium/ArcherSSm-Medium.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-Medium/ArcherSSm-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerMediumItalic';
    src: url('sass/font-files/ArcherSSm-MediumItalic/ArcherSSm-MediumItalic.eot');
    src: url('sass/font-files/ArcherSSm-MediumItalic/ArcherSSm-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-MediumItalic/ArcherSSm-MediumItalic.woff') format('woff'),
         url('sass/font-files/ArcherSSm-MediumItalic/ArcherSSm-MediumItalic.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-MediumItalic/ArcherSSm-MediumItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerSemibold';
    src: url('sass/font-files/ArcherSSm-Semibold/ArcherSSm-Semibold.eot');
    src: url('sass/font-files/ArcherSSm-Semibold/ArcherSSm-Semibold.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-Semibold/ArcherSSm-Semibold.woff') format('woff'),
         url('sass/font-files/ArcherSSm-Semibold/ArcherSSm-Semibold.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-Semibold/ArcherSSm-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archerSemiboldItalic';
    src: url('sass/font-files/ArcherSSm-SemiboldItalic/ArcherSSm-SemiboldItalic.eot');
    src: url('sass/font-files/ArcherSSm-SemiboldItalic/ArcherSSm-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('sass/font-files/ArcherSSm-SemiboldItalic/ArcherSSm-SemiboldItalic.woff') format('woff'),
         url('sass/font-files/ArcherSSm-SemiboldItalic/ArcherSSm-SemiboldItalic.ttf') format('truetype'),
         url('sass/font-files/ArcherSSm-SemiboldItalic/ArcherSSm-SemiboldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}