html{
	font-size: 12px;
	width: 100%;
	overflow-x: hidden;
}
body{
	margin: 0; 
	font-family: 'archerBook';
	overflow-x: hidden;
	width: 100%;
}

h1{
	font-size: 3rem;
	font-family: 'archerMedium';
}
h2{
	font-family: 'archerMedium';
	font-size: 2.5rem;
}
h3{
	font-family: 'archerMedium';
	font-size: 1.833rem;
	color: $textblue;
	margin-top: 35px;
}
h4{
	color: $textblack;
	font-size: 1.333rem;
	line-height: 1.5rem;
	font-family: 'archerMediumItalic';
}
h5{
	font-family: 'archerMedium';
	font-size: 1.25rem;
	color: $textwhite;
}

em{
	font-family: 'archerMediumItalic';
}

h6.toggle{
    margin-top: 15px;
    padding-left: 25px;
    font-size: 1.25rem;
    margin-right: 100px;
    right: initial !important;
    display: inline-block;
    position: relative;
    font-family: 'archerBoldItalic';

    &:before{
		position: absolute;
		left: 0;
		top: 8px;
		width: 10px;
		height: 2px;
		background: $white;
		content: '';
    }
    &:after{
		position: absolute;
		left: 0;
		top: 8px;
		width: 10px;
		height: 2px;
		background: $white;
		content: '';
		transform: rotate(90deg);
		transition: 0.3s linear all;
    }

    &.toggled{
    	&:after{
    		transform: rotate(0deg);
    	}
    }
}
p{
	font-size: 1.167rem;
	color: $blackcont;
}
a{
	font-family: 'archerBook';
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}
}
ul{
	padding: 0;
	li{
		list-style-type: none;
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}
}
input, textarea, select{
	padding: 15px;
	font-size: 1.1rem;
	color: $darkblue;
	background: $lightgray;
	border-radius: 5px;
	border: none;
	margin: 5px;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $darkblue;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $darkblue;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $darkblue;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $darkblue;
	}

	&:focus{
		outline: none;
	}
}

.landing-page{
	ul{
		padding-left: 35px;
	}
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	/*left: -9999px; }*/
	padding: 0 !important;
	width: 25px !important;
	height: 25px !important;
	left: -30px;
	top: -5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0 !important;
	opacity: 0 !important;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 1rem;
}

/**/
/*checkbox stuffs*/
/**/
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  margin-left: 5px;
  width: 15px; height: 15px;
  border: 2px solid $gray;
  background: transparent;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0px;
  left: 7px;
  font-size: 17px;
  line-height: 0.8;
  color: $orange;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
label{
	font-weight: initial;
}

.onethirds{
	float: left;
	width: calc(100% / 3);
}
.twothirds{
	float: left;
	width: calc((100% / 3) * 2);
}

.threequarters{
	width: 75%;
	float: left;
}
.quarter{
	width: 25%;
	float: left;
}
.btn-orange{
	font-family: 'archerMedium';
	color: $textwhite;
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 25px;
	text-transform: capitalize;
	font-size: 1.25rem;
	z-index: 1;
	min-width: 270px;
	cursor: pointer;
	text-align: center;

	&:visited {
		color: $textwhite;
		div {
			border-left: 3px solid $orange;
			border-right: 3px solid $orange;
			border-bottom: 3px solid $orange;
		}
		&:before {
			background: $orange;
		}
		&.invert{
			color: $textdarkblue;
			transition: all 0.2s linear;
	
			&:hover{
				color: $textwhite !important;
			}
		}
	}

	div{
		width: 100%;
		height: 25px;
		border-left: 3px solid $orange;
		border-right: 3px solid $orange;
		border-bottom: 3px solid $orange;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	&:before{
		content: '';
		width: 100%;
		height: 0;
		background: $orange;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 5px;
		transition: all 0.2s linear;
	}

	.fa-play-circle-o{
		color: $orange;
		margin-left: 15px;
		font-size: 1.5rem;
		transition: all 0.2s linear;
	}

	&:hover{
		color: $textwhite;

		&:before{
			height: 100%;
		}

		.fa-play-circle-o{
			color: $white;
		}
	}

	&.invert{
		color: $textdarkblue;
		transition: all 0.2s linear;

		&:hover{
			color: $textwhite !important;
		}
	}
	
}

.col-override{
	padding: 0;
}

.orange-grad{
	border-radius: 5px;
	color: $white;
	font-family: 'archerMedium';
	font-size: 1.333rem;
	padding: 15px 50px;
	background: red;
	display: inline-block;
	text-transform: capitalize;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #F9AF6C 0%, #f78d2e 50%, #f78d2e 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9AF6C), color-stop(50, #f78d2e), color-stop(100, #f78d2e));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

	background-size: 10px 100px, 100% 100%;

	background-position: 0 0, 0 0;

	transition: 0.2s linear all;

	&:hover{
		color: $white;
		background-position: 0 -35px, 0 0;
	}
}


#page {
	// display:flex; 
	min-height:100vh; 
	// flex-direction:column;
}

#content {
	// flex:1;
	position: relative;
}

.top_bar {
	height:60px; 
	width: 100%;
	background:$blue; 
	text-align:center; 
	color:$textwhite; 
	line-height:60px;
	z-index: 100;

	p{
		margin: 0;
		color: $textwhite;
		font-size: 1.2rem;
		font-family: 'archerLight';

		a{
			color: $textwhite;
			font-family: 'archerMedium';
			font-size: 1.333rem;
		}
	}

	.phone{
		width:36px; 
		height:36px; 
		background:url('assets/img/phone_icon.svg') no-repeat; 
		display:inline-block; background-size:100%; 
		vertical-align:middle; 
		margin:0 20px 0 15px;
	}
}

.site-header{
	position: relative;
	background: $white;
	width: 100%;
	z-index: 99;
}

.logo {
	width:301px; 
	height:53px;
	margin-top: 0px; 
	background:url('assets/img/logo.svg') no-repeat; 
	background-size:100%; 
	display:inline-block; 
	vertical-align:middle;
}

/* Header */
.site-branding {
	height:75px; 
	line-height:75px; 
	text-align:left;
	position: relative;
	z-index: 2;
	background: $white;

	&>.container{
		position: relative;
	}
	p.tagline{
		font-size: 1.1rem;
		color: $textblack;
		position: absolute; 
		right: 0;
		top: 0px;
		font-family: 'archerBoldItalic';
	}

	.mobnav-toggle{
		cursor: pointer;
		width: 71px;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    right: 0;
	    border-left: 1px solid $lightgray;

	    div{
	    	width: 35px;
	    	height: 3px;
	    	position: relative;
	    	border-radius: 10px;
	    	text-align: center;
	    	background: $blue;
	    	left: 50%;
	    	top: 50%;
	    	transform: translate(-50%, -50%) rotate(0deg);
	    	transition: 0.3s linear all;

	    	&:before{
				width: 35px;
	    		height: 3px;
	    		background: $blue;
	    		border-radius: 10px;
	    		content: '';
	    		position: absolute;
	    		top: -10px;
	    		left: 0;
	    		opacity: 1;
	    		transition: 0.3s linear all;
	    	}
	    	&:after{
				width: 35px;
	    		height: 3px;
	    		background: $blue;
	    		border-radius: 10px;
	    		content: '';
	    		position: absolute;
	    		bottom: -10px;
	    		left: 0;
	    		transform: rotate(0deg);
	    		transition: 0.3s linear all;
	    	}
	    }

	    &.toggled{
	    	div{
	    		transform: translate(-50%, -50%) rotate(-45deg);
			
	    		&:before{
					top: 0;
					opacity: 0;
	    		}
	    		&:after{
					bottom: 0;
					transform: rotate(90deg);
	    		}
	    	}
	    }
	}
}

/* Navigation */
.main-navigation {
	z-index: 1;
	text-align: center;
	width:100%; 
	position: relative;
	height:60px; 
	background:$lightgray;

	.threequarters{
		text-align: center;
	}

	.quarter{
		background: $blue;
	}

	.menu-main-container, .menu-alt-main-menu-container{
		display: inline-block;
	    position: relative;
    	top: -25px;
    	/*top: -75px;*/
	}

	#primary-menu{
		margin-bottom: 0;

		&>li{
			display: inline-block;
			position: relative;
			z-index: 1;

			&:after{
				width: 0;
			    height: 0;
			    opacity: 0;
			    border-left: 15px solid transparent;
			    border-right: 15px solid transparent;
			    border-bottom: 15px solid #0f1c34;
			    position: absolute;
			    bottom: 0px;
			    left: 50%;
			    // transition: 0.3s linear all;
			    -ms-transform: translateX(-50%);
			    transform: translateX(-50%);
			    content: '';
			}

			
			// &#menu-item-50{
				&:hover{

					&:after{
						opacity: 1;
						display: block;					
					}
				}
			// }
			// &#menu-item-47{
			// 	&:hover{

			// 		&:after{
			// 			opacity: 1;
			// 			display: block;					
			// 		}
			// 	}
			// }
			// &#menu-item-18965{
			// 	&:hover{

			// 		&:after{
			// 			opacity: 1;
			// 			display: block;					
			// 		}
			// 	}
			// }
			// &#menu-item-55{

			// 	&:hover{

			// 		&:after{
			// 			opacity: 1;
			// 			display: block;					
			// 		}
			// 	}
			// }
			// &#menu-item-60{
			// 	&:hover{

			// 		&:after{
			// 			opacity: 1;
			// 			display: block;					
			// 		}
			// 	}
			// }
			// &#menu-item-57{
			// 	&:hover{

			// 		&:after{
			// 			opacity: 1;
			// 			display: block;					
			// 		}
			// 	}
			// }
			// &#menu-item-18973{
			// 	&:hover{

			// 		&:after{
			// 			opacity: 1;
			// 			display: block;					
			// 		}
			// 	}
			// }

			a{
				line-height: 60px; 
				padding: 0 11px; 
				font-size: 1.167rem;
				color:$textblack;
				font-family: 'archerBold';
			}

			.sub-menu{
				position: absolute;
			    background: $blue;
			    width: 165px;
			    left: 0px;
			    display: none;
			    opacity: 0;
			    visibility: hidden;
			    z-index: -1;
			    top: 60px;
			    text-align: left;
			    padding: 15px;
			    // transition: 0.3s linear opacity;

				li{
					display: block;
					margin-bottom: 10px;

					a{
						color: $textwhite;
						transition: 0.3s linear all;
						line-height: initial;
						padding: 0;
					}

					&:first-child{

						a{
							// padding-left: 6px;
						}
					}

					&.current_page_parent{

						&.after{
							display: none !important;
						}
					}
				}
			}
			>a:hover {
				text-decoration: underline;
			}
			&:hover{

				.sub-menu{
					display: block;
					opacity: 1;
					visibility: visible;
					a{
						&:hover{
							color: $orange;
						}
					}
					li{
						position: relative;

						// &:first-child{

						// 	&:after{
						// 		width: 0; 
						// 	  	height: 0; 
						// 		border-left: 15px solid transparent;
						// 		border-right: 15px solid transparent;  
						// 		border-bottom: 15px solid $blue;
						// 		position: absolute;
						// 		top: -10px;
						// 		left: 50%;
						// 		transform: translateX(-50%);
						// 		content: '';
						// 	}
						// }
					}
				}
			}

			&#menu-item-53, &#menu-item-55{

				&:hover{

					&:after{
						opacity: 1;
						display: block;					
					}
				}

				.sub-menu{
					width: 778px;
					padding: 15px;
					height: 210px;
					left: 0;
				    display: -webkit-flex;
				    display: flex;
				    -webkit-flex-direction: column;
				    flex-direction: column;
				    -webkit-flex-wrap: wrap;
				    flex-wrap: wrap;

					li{
						margin-bottom: 10px;
						display: inline-block;
						width: calc(100% * (1/4) - 10px - 1px);

						a{
							line-height: 1.2rem;
							padding: 0;
						}

						&:nth-last-child(-n+3){

							a{
								// color: $orange;
							}
						}

						&#menu-item-69, &#menu-item-63{

							&:after{
								content: '';
								width: 2px;
								height: 190px;
								background: $orange;
								position: absolute;
								left: -15px;
								top: -5px;
							}
						}
					}
				}
			}
		}
	}
	.fa{
		display: inline-block;
		margin-left: 35px;
		position: relative;
    	top: -22px;
    	font-size: 2rem;
    	cursor: pointer;

    	&.fa-search{
    		height: 60px;
    		top: -39px;

    		&:before{
    			// line-height: 60px;
    			position: relative;
    			top: 15px;
    		}

    		form{
    			display: block;
			    position: absolute;
			    top: 0;
			    left: 40px;
			    background: $lightblue;
			    width: 349px;
			    height: 60px;
			    z-index: 1;
			    transition: 0.3s linear all;

			    label{
			    	span{
			    		display: none;
			    	}
			    	.search-field{
			    		height: 100%;
			    		background-color: transparent;
						width: 299px;
						margin: 0;
						border-radius: 0;
						color: $textwhite;
						font-size: 2rem;
						font-family: 'archerMedium';
					    height: 60px;
						
						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  color: #a9cbe1;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  color: #a9cbe1;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  color: #a9cbe1;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  color: #a9cbe1;
						}
			    	}

			    	.close-stuff{
			    		width: 20px;
			    		height: 20px;
			    		position: absolute;
			    		right: 2px;
			    		top: 2px;
			    		border-radius: 20px;
			    		background: #a9cbe1;
			    		cursor: pointer;

			    		&:before{
			    			width: 18px;
			    			height: 2px;
			    			background: #80a0b6;
			    			content: '';
			    			position: absolute;
			    			top: 9px;
			    			left: 1px;
			    			transform: rotate(-45deg);
			    		}
			    		&:after{
							width: 18px;
			    			height: 2px;
			    			background: #80a0b6;
			    			content: '';
			    			position: absolute;
			    			top: 9px;
			    			left: 1px;
			    			transform: rotate(45deg);
			    		}
			    	}
			    }

			    .search-submit{
			    	float: left;
			    	border-radius: 0;
			    	background-color: transparent;
			    	color: $textwhite;
			    	width: 50px;
			    	height: 60px;
			    	border: none;
			    	position: relative;
			    	border-right: 2px solid #a9cbe1;

			    	&:before{
						position: absolute;
						left: 13px;
						top: 15px;
						content: "\f002";
						color: $textblue;
			    	}	
			    }
    		}
    		&.toggled{

    			form{
					left: -310px;
    			}
    		}
    	}
	}

	.toggle-close{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 25px;
		left: 0;
		background: rgba(255,255,255,0.1);

		div{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 25px;
			height: 25px;
			cursor: pointer;

			&:before, &:after{
				content: '';
				width: 2px;
				height: 10px;
				background: $white;
				position: absolute;
			}

			&:before{
				transform: rotate(60deg);
				left: 8px;
				top: 3px;
			}	
			&:after{
				transform: rotate(-60deg);
				right: 8px;
				top: 3px;
			}
			&:last-child{
				top: 7px;
				height: 21px;

				&:before, &:after{
					
				}
			}
		}
	}
}

.main-navigation #primary-menu > li.current-menu-item, .current_page_ancestor{
	// background-image: radial-gradient(ellipse farthest-corner at center, #0C2955 0%, #051a36 100%);

	&:after{
		width: 0;
	    height: 0;
	    opacity: 1 !important;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-bottom: 15px solid #0f1c34;
	    position: absolute;
	    bottom: 0px;
	    left: 50%;
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    content: '';
	}
}

#menu-item-47.current_page_parent{
	&:after{
		width: 0;
	    height: 0;
	    opacity: 1 !important;
	    border-left: 15px solid transparent;
	    border-right: 15px solid transparent;
	    border-bottom: 15px solid #0f1c34;
	    position: absolute;
	    bottom: 0px;
	    left: 50%;
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    content: '';
	}
}

.error-text{
	color: #fb0000;
	font-family: 'archerMediumItalic';
	font-size: 1.33rem;
}
p.form-error{
	color: #fb0000 !important;
}
.form-error{
	background: #f3e3e3 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #fb0000;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #fb0000;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #fb0000;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #fb0000;
	}
}

.search-result-area{
	padding-bottom: 50px;

	.posts-navigation{
		display: none;
	}

	.page-content{

		&>p{
			margin-top: 50px;
		}

		.search-form{
			display: none;
		}
	}

	.page-header{
		margin-bottom: 0;
		border-bottom: 3px solid $lightblue;
	}

	.page-title{
		font-size: 2rem;
		color: $textblue;
	}

	article{
		padding: 15px 0;
	}
	.entry-title{
		margin-bottom: 15px;
		margin-top: 0;

		a{
			color: $orange;
			transition: 0.2s linear all;
			text-decoration: underline;
			font-size: 1.33rem;
			font-family: 'archerMediumItalic';

			&:hover{
				color: $textdarkblue;
			}
		}
	}
	.entry-footer{
		display: none;
	}
}

.slick-dots{
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 25px;
	li{
		display: inline-block;
		margin: 5px;
		width: 15px;
		height: 15px;
		border-radius: 15px;
		background: $lightgray;

		&.slick-active{
			background: $orange;
		}

		button{
			display: none;
		}
	}
}

.h4sr {
	position: absolute;
	right: -999999px;
	top:-99999px;
	width: 1em;
	overflow: hidden;
}

#blog-header {

	header {
		padding-bottom:0;
		position: relative;
	}
	h1 {
		// display: inline-block;

	}

	.search-area {
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 3px;
		padding: 0;

		form {
			height: 50px;
		}

		input {
			border-radius:0;
			margin: 0;
			background-color: $midgray;
			// color: $gray;
		}

		input[type="text"] {
			width: calc(100% - 57px);
			padding-top: 4.5px;
			padding-bottom: 4.5px;
			height: 100%;
			display: inline-block;
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $darkergray;
		  font-size: 1.167em;
		  font-weight: bold;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: $darkergray;
		  font-size: 1.167em;
		  font-weight: bold;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: $darkergray;
		  font-size: 1.167em;
		  font-weight: bold;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: $darkergray;
		  font-size: 1.167em;
		  font-weight: bold;
		}

		input[type="submit"] {
			border-left: 1px solid $darkergray;
			font-size: 2em;
			padding: 4.5px 15px;
			vertical-align: top;
			font-family: FontAwesome;
			color: $darkergray;
			height: 100%;
		}

		// label {
		// 	position: absolute;
		// 	right: -99999p;

		// }
	}

	nav[role="blog-navigation"] {
		margin-bottom: 25px;
		ul {
			li {
				float: left;
			    margin-right: 25px;
				a{
					color: $textgray;
				}
			    
			}

			li.active {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}
.toggle-abs-section {
	position: absolute;
	width: 100%;
	max-height: 68px;
	height: 100%;
	z-index: 999;
}
.ask-expert{
	display: inline-block;
	height: 60px;
	width: 350px;
	z-index: 10;
	right: -8px;
	text-align: left;
	color: $white;
	position: relative;
	margin-left: 5px;


	cursor: pointer;

	/* IE10+ */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #0C2955), color-stop(100, #051a36));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
	/* W3C Markup */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #0C2955 0%, #051a36 100%);

	.expert-icon{
		background: url(assets/img/contact-us.png) no-repeat;
		width: 40px;
		margin: 10px;
		height: 40px;
		background-size: auto auto;
		background-position: center center;
	}
	h5{
		position: absolute;
		top: 13px;
		left: 60px;
		margin: 0;
	}
	p{
		position: absolute;
		left: 60px;
		bottom: 12px;
		font-size: 1.1rem;
		color: $textwhite;
		margin: 0;
		font-family: 'archerMediumItalic';
	}

	.toggle{
		position: absolute;
		right: 65px;
		right: 0;
		width: 40px;
		height: 25px;
		top: 19px;
		cursor: pointer;
		transition: 0.3s linear all;
		
		&:before{
			position: absolute;
			left: 13px;
			width: 2px;
			height: 12px;
			top: 8px;
			content: '';
			background: $white;
			transform: rotate(-60deg);
		}
		&:after{
			position: absolute;
			right: 15px;
			width: 2px;
			top: 8px;
			height: 12px;
			content: '';
			background: $white;
			transform: rotate(60deg);
		}
	}

	.in-phone{
		position: absolute;
		/* IE10+ */ 
		background-image: -ms-linear-gradient(top, #F9AF6C 0% #f78d2e 100%);

		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);

		/* Opera */ 
		background-image: -o-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9AF6C), color-stop(100, #f78d2e));

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #F9AF6C 0%, #f78d2e 100%);

		/* W3C Markup */ 
		background-image: linear-gradient(to bottom, #F9AF6C 0%, #f78d2e 100%);
		width: 0px;
		height: 60px;
		top: 0;
		right: 0;
		overflow: hidden;
		transition: 0.3s linear all;
	}
	.phone{
		position: relative;
		top: 13px;
		left: -4px;
		width: 36px;
	    height: 36px;
	    background: url(assets/img/phone_icon-white.png) no-repeat;
	    display: inline-block;
	    background-size: 100%;
	    vertical-align: middle;
	    margin: 0 20px 0 15px;
	}
	
	.form-area{
		width: 100%;
		background: rgba(0,0,0,0.75);
		height: 0;
		// padding: 35px;
		// top: -435px;
		overflow: hidden;
		z-index: -1;
		top: 60px;
		position: absolute;
		transition: 0.2s linear all;
		
		form{
			position: absolute;
			left: 0;
			padding: 25px 30px;
			top: 0;
			// margin: 25px 25px;

			input{
				// width: calc(100% / 2 - 10px);
				// float: left;
				margin-top: 0;

				&.fullwidth{
					// width: calc(100% - 10px);
				}

				&[type="checkbox"]{
					width: auto;
				}

				&.phone{
					top: 0;
					left: 0;
					background: none;
					background-color: #e6ecf0;
					background-size: initial;
					// margin: 0;
					margin-bottom: 10px;
				}
			}
			input[type="submit"]{
				width: calc(100% - 10px);
				float: none;
			}
			textarea{
				width: 100%;
				margin: 0;
			}
			select{
				width: calc(100%);
				height: 47px;
				margin-top: 0;
				-webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
				padding-left: 15px !important;
				background: #e6ecf0;
			}
			input, textarea, select{
				padding: 14px;
				font-size: 1.1rem;
			}

			>label{
				margin-bottom: 0;
    			font-size: 1rem;
    			margin-top: 10px;

    			&.disclaimer{
    				font-size: 10px;
    				margin-top: -5px;
    			}
			}
			.disclaimer{
				margin-bottom: 10px;
			}
			.privacypolicy-container{
				margin-top: 5px !important;
			}
		}
	}

	&.toggled{
		
		.form-area{
			height: 475px;
		}
	}
}

.bluearea{
	width: 50%;
	display: block;
	background: #80a0b6;
	height: 100vh;
	z-index: -1;
	position: fixed;
	top: 0;
}

.fa-search.search-alt{
	display: none;
}

// 
// icons
// 
.clipboard{
	height: 40px;
	width: 50px;
	background: url(assets/img/pad_icon.svg);
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	display: block;
}
.computer{
	height: 40px;
	width: 50px;
	background: url(assets/img/computer_icon.svg);
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	display: block;
}
.packet{
	height: 40px;
	width: 50px;
	background: url(assets/img/pamphlet_icon.svg);
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	display: block;
}

#page.fixtime{
	
	.site-header{
		position: fixed;
	    background: #fff;
	    width: 100%;
	    top: 0;
	}

    #content{
    	margin-top: 135px;
    }

    .toggle{
    	right: 65px;
    }

    .in-phone{
    	width: 60px;
    	z-index: 1000;
    	transition: 0.3s linear all;

    	div{
    		position: absolute;
		    width: 290px;
		    // right: -290px;
		    left: 60px;
		    height: 60px;
		    top: 0;
		    text-align: center;
		    /* IE10+ */ 
			background-image: -ms-linear-gradient(top, #0c2955 0%, #051a36 100%);

			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(top, #0c2955 0%, #051a36 100%);

			/* Opera */ 
			background-image: -o-linear-gradient(top, #0c2955 0%, #051a36 100%);

			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c2955), color-stop(100, #051a36));

			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(top, #0c2955 0%, #051a36 100%);

			/* W3C Markup */ 
			background-image: linear-gradient(to bottom, #0c2955 0%, #051a36 100%);
		    transition: 0.3s linear all;

		    p{
		    	position: static;
		    	color: $textwhite;
		    	font-family: 'archerBook';
		    	margin-top: 10px;
		    	font-size: 1rem;
		    	margin-bottom: 3px;
		    }
		    a{
		    	color: $textwhite;
		    	font-family: 'archerMedium';
    			font-size: 1.333rem;
    			display: block;
		    }
    	}

    	&:hover{
    		width: 350px;

    		div{
    			// right: 0;

    		}
    	}

    }
}

/* Footer */

.contact-area{
	text-align: center;
	padding-top: 15px;
	color: $textwhite;
	padding-bottom: 45px;
	position: relative;
	z-index: 2;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #0C2955), color-stop(100, #051a36));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #0C2955 0%, #051a36 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #0C2955 0%, #051a36 100%);

	.container{
		z-index: 1;
		position: relative;
	}

	h2, p{
		color: $textwhite;
		margin-bottom: 15px;
		margin-top: 0px;
	}
	.orange-toggle{
		color: $orange;
		font-size: 1.167rem;
		cursor: pointer;
	}

	h2{
		font-family: 'archerBook';
		font-size: 2rem;
	}
	p{
		font-family: 'archerLight';
	}

	.expertimg{
		width: 31px;
		height: 40px;
		background: url(assets/img/expert.svg) no-repeat;
		background-position: center center;
		background-size: 100% auto;
		margin: 0px auto;
		display: inline-block;
	}

}
.invalid{
	background-color: #ffdfe0 !important;
}
.toggle-contact{
	background: $white;
	height: 0px;
	overflow: hidden;
	transition: 0.3s linear all;
	z-index: 1;

	form{
		padding: 75px 0;
		// column-count: 2;
	}

	&.toggled{
		height: 380px;
	}

	input{
		width: calc(100% / 2 - 20px);

		&.fullwidth{
			width: calc(100% - 27px);
		}

		&.orange-grad{
			display: block;
			margin-left: 23px;
		}

		&[type="submit"]{
			margin-top: 5px !important;
			margin-left: 5px !important;
		}
	}
	label{
		margin-left: 5px !important;
		color: $textblack !important;
	}
	textarea{
		width: calc(100% - 23px);
		min-height: 155px;
		border-bottom: 3px solid #b3c1cb !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;

		// margin-left: 23px;
	}

	input:not(.orange-grad), textarea{
		background: $gray;
		border-bottom: 3px solid #b3c1cb;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	select{
		background: #ddd;
	    border-bottom: 3px solid #b3c1cb !important;
	    border-bottom-left-radius: 0 !important;
	    border-bottom-right-radius: 0 !important;
	}

	.privacypolicy-container{
		// margin-left: 5px;

		a, label{
			color: $textblack !important;
		}
	}
}

.close-contact{
	position: absolute;
	bottom: -15px;
	height: 70px;
	width: 70px;
	left: 50%;
	outline: none;
	transform: translateX(-50%) rotate(45deg);
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top left, #0A254C 0%, #051A36 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #0A254C 0%, #051A36 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #0A254C 0%, #051A36 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0A254C), color-stop(100, #051A36));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #0A254C 0%, #051A36 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom right, #0A254C 0%, #051A36 100%);

	div:not(.rotate-orange){
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 25px;
		height: 25px;
		cursor: pointer;

		&:before, &:after{
		 	content: '';
			width: 2px;
			height: 10px;
			background: $orange;
			position: absolute;
		}

		&:before{
			transform: rotate(60deg);
			left: 8px;
			top: 3px;
		}	
		&:after{
			transform: rotate(-60deg);
			right: 8px;
			top: 3px;
		}
		&:last-child{
			top: 7px;
			height: 21px;

			&:before, &:after{
				// top: 7px;
			}
		}
	}
	.rotate-orange{
		position: relative;
		left: 22px;
		left: 12px;
		left: 22px;
		bottom: -57px;
		opacity: 0;
		transform: rotate(135deg);
		transition: 0.3s linear opacity;

		&.toggled{
			opacity: 1;
		}
	}
}
.each-block-all{
	position: relative;
	clear: both;
}
.info.global-info{

	.right-50{
		background: $gray;
		width: 50%;
		float: right;
		padding-bottom: 35px;

		.half{

			&.request{
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}
}

ul.id-badge{
	&:before{
		background: url(assets/img/badge_icon.svg) center center no-repeat;
	    background-size: 100% auto;
	    width: 40px;
	    height: 35px;
	    content: '';
	    position: absolute;
	    top: -5px;
	    left: 0px;
	}
}

ul.heart{
	&:before{
		background: url(assets/img/heart_icon.svg) center center no-repeat;
	    background-size: 100% auto;
	    width: 40px;
	    height: 35px;
	    content: '';
	    position: absolute;
	    top: -5px;
	    left: 0px;
	}
}
ul.cross{
	&:before{
		background: url(assets/img/cross_icon.svg) center center no-repeat;
	    background-size: 100% auto;
	    width: 40px;
	    height: 40px;
	    content: '';
	    position: absolute;
	    top: -5px;
	    left: 0px;
	}
}
ul.causesof{
	&:before{
		background: url(assets/img/dna_icon.svg) center center no-repeat;
	    background-size: 100% auto;
	    width: 40px;
	    height: 40px;
	    content: '';
	    position: absolute;
	    top: -5px;
	    left: 0px;
        width: 25px;
    	height: 40px;
    	background-size: 100% 100%;
    	left: 5px;
	}
}
ul.typesof{
	margin-top: 15px;
	&:before{
		background: url(assets/img/pamphlet_icon.svg) center center no-repeat !important;
	    background-size: 100% auto;
	    width: 40px !important;
	    height: 40px !important;
	    content: '';
	    position: absolute;
	    top: -5px;
	    left: 0px;
	}
}

.pgform input[type="text"], .pgform input[type="email"], .pgform input[type="file"], .pgform input[type="password"], .pgform input[type="tel"], .pgform select{
	height: initial !important;
	// margin-left: initial !important;
	
}
.half-width-container{
	.pgform input[type="text"], .pgform input[type="email"], .pgform input[type="file"], .pgform input[type="password"], .pgform input[type="tel"], .pgform select{
		width: calc(100% / 2 - 15px) !important;
	}
}

.pgform .half-width.right{
	margin-right: 0;
}

.pgform label.disclaimer{
	text-align: left;
	margin-left: 0px;
}

.toggle-contact{
	.pgform{

		label{

			&.disclaimer{
				display: block;
				position: relative;
				margin-top: -5px;
			}
		}
	}
}

.toggle-contact .pgform .half-width.left{
	margin-right: 2%;
}

.pgform{
	p{
		margin: 5px;
	}
	.orange-grad{
		padding: 20px 0;
		display: block;
	}
	select{
		// width: calc(100% - 15px);
	    height: 47px !important;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    padding-left: 15px !important;
	}

	.center-align{

		&.privacypolicy-container{
			padding-left: 25px;

			label{
				position: relative;

				&:before{
					content: '';
					position: absolute;
					left: -25px; top: 0;
					margin-left: 0px;
					width: 15px; height: 15px;
					border: 2px solid $gray;
					background: transparent;
					border-radius: 5px;
					box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
				}

				&:after{
					content: '✔';
					position: absolute;
					top: 0px;
					left: -23px;
					font-size: 17px;
					line-height: 0.8;
					color: $orange;
					transition: all .2s;
					opacity: 0;
				}

				&.checked-animate{

					&:after{
						opacity: 1;
					}
				}
			}
		}
	}

	.checkbox{
		label{
			position: relative;

			&:before{
				content: '';
				position: absolute;
				left: -25px; top: 0;
				margin-left: 0px;
				width: 15px; height: 15px;
				border: 2px solid $gray;
				background: transparent;
				border-radius: 5px;
				box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
			}

			&:after{
				content: '✔';
				position: absolute;
				top: 0px;
				left: -23px;
				font-size: 17px;
				line-height: 0.8;
				color: $orange;
				transition: all .2s;
				opacity: 0;
			}

			&.checked-animate{

				&:after{
					opacity: 1;
				}
			}
		}
	}

	input[type="checkbox"]{
		// visibility: hidden;
		display: inline;

	}

	input[type="submit"]{
		border-radius: 5px !important;
		color: $white !important;
		font-family: 'archerMedium';
		font-size: 1.333rem !important;
		padding: 15px 35px !important;
		display: inline-block !important;
		text-transform: capitalize !important;
		/* IE10+ */ 
		background-image: -ms-linear-gradient(top, #F9AF6C 0%, #f78d2e 50%, #f78d2e 100%);

		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

		/* Opera */ 
		background-image: -o-linear-gradient(top, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9AF6C), color-stop(50, #f78d2e), color-stop(100, #f78d2e));

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);

		/* W3C Markup */ 
		background-image: linear-gradient(to bottom, #F9AF6C 0%,  #f78d2e 50%, #f78d2e 100%);
		background-size: 10px 100px, 100% 100%;
		background-position: 0 0, 0 0;
		transition: 0.2s linear all;

		&:hover{
			color: $white;
			background-position: 0 -35px, 0 0;
		}
	}
}

// 404
.error-404{
	padding-bottom: 75px;
}


footer .site-info {background:$darkblue; color:#fff; padding:25px 0; font-size: 0.9167rem;}
footer .sitemap {background:$blue; padding:25px 0 0 0;}
footer .sitemap ul {margin:0;}
footer .sitemap ul li {
	list-style:none; display:inline-block; margin: 0px 10px;

	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
}
footer .sitemap ul li a {color:#fff; text-decoration:none;}
footer .sitemap ul li a:hover {text-decoration:none;}
footer p {font-size: 1rem; color: $textwhite;}

footer{
	position: relative;
	z-index: 2;

	.backtotop{
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);

		.gototop{
			width: 75px;
			height: 50px;
			cursor: pointer;
			text-align: center;
			p{
				font-size: 1rem;
				padding-top: 25px;
			}

			&:before{
			    position: absolute;
			    left: 31px;
			    width: 2px;
			    height: 12px;
			    top: 8px;
			    content: '';
			    background: $white;
			    transform: rotate(60deg);
			}
			&:after{
				position: absolute;
			    right: 32px;
			    width: 2px;
			    top: 8px;
			    height: 12px;
			    content: '';
			    background: $white;
			    transform: rotate(-60deg);
			}
		}
	}

	.foot-top{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.foot-bottom{
		padding-top: 20px;
		padding-bottom: 15px;
		border-top: 1px solid $footborder;
	}
	.foot-left{
		position: relative;

		ul{
			position: absolute;
			bottom: -85px;
			left: 15px;
		}
	}
	.social-foot{
		padding-bottom: 5px;
		position: relative;

		&:before{
			width: 1px;
			height: 115px;
			content: '';
			bottom: -15px;
			position: absolute;
    		background: $footborder;
    		left: -15px;
		}

		p{
			font-size: 1.167rem;
		}

		ul{
			margin-top: 15px;
			li{
				margin: 0 5px;

				a{
					width:30px;
					height: 30px;
					border-radius: 30px;
					display: block;
					background: $textwhite;
					text-align: center;
					opacity: 1;
					transition: 0.3s linear all;

					i{
						color: $blue;
						position: relative;
						top: 7px;
						font-size: 1.5rem;
					}

					&:hover{
						opacity: 0.75;
					}
				}
			}
		}
	}

	.bbb-logo {
		height: auto;
		width: 100px;
	}
}


#blog .single-post {
.social-share {
	margin: 25px 0;
	p {
		display: inline-block;
		color: $orange;
		margin: 0;
		font-weight: bold;
	}
	ul{
		margin-top: 15px;
		display: inline-block;
		padding-left: 0;
		vertical-align: middle;
		margin: 0;

		li{
			margin: 0 5px;
			list-style-type: none;
			display: inline-block;

			a{
				width:30px;
				height: 30px;
				border-radius: 30px;
				display: block;
				background: $orange;
				text-align: center;
				opacity: 1;
				transition: 0.3s linear all;

				i{
					color: #fff;
					position: relative;
					top: 7px;
					font-size: 1.5rem;
				}

				&:hover{
					opacity: 0.75;
				}
			}
		}
	}
}

}

.scroll-to-span {
    position: absolute;
    top: -160px;
}