$darkblue: #0b1527;
$blue: #0f1c34;
$lightblue: #80a0b6;
$lightgray: #e6ecf0;
$midgray: #eee;
$gray: #ddd;
$darkergray: #C0C0C0;
$white: #fff;
$orange: #f78d2e;
$blackcont: #303030;

$footborder: #31445e;

$gradientorange: gradient(linear, 0% 0%, 0% 100%, from(#f78d2e), to(#f9af6d));

$textwhite: #fbfbfb;
$textgray: #636363;
$textblack: #2d2d2d;
$textblue: #233c69;
$textdarkblue: #111f3a;
