@font-face {
  font-family: 'ArcherSSm-BookItalic';
  src: url('ArcherSSm-BookItalic.eot');
  src: url('ArcherSSm-BookItalic.woff') format('woff'),
       url('ArcherSSm-BookItalic.ttf') format('truetype'),
       url('ArcherSSm-BookItalic.svg#ArcherSSm-BookItalic') format('svg'),
       url('ArcherSSm-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

