@font-face {
  font-family: 'ArcherSSm-Light';
  src: url('ArcherSSm-Light.eot');
  src: url('ArcherSSm-Light.woff') format('woff'),
       url('ArcherSSm-Light.ttf') format('truetype'),
       url('ArcherSSm-Light.svg#ArcherSSm-Light') format('svg'),
       url('ArcherSSm-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

